{
  "openapi": "3.0.3",
  "info": {
    "description": "Brevo provide a RESTFul API that can be used with any languages. With this API, you will be able to :\n  - Manage your campaigns and get the statistics\n  - Manage your contacts\n  - Send transactional Emails and SMS\n  - and much more...\n\nYou can download our wrappers at https://github.com/orgs/brevo\n\n**Possible responses**\n  | Code | Message |\n  | :-------------: | ------------- |\n  | 200  | OK. Successful Request  |\n  | 201  | OK. Successful Creation |\n  | 202  | OK. Request accepted |\n  | 204  | OK. Successful Update/Deletion  |\n  | 400  | Error. Bad Request  |\n  | 401  | Error. Authentication Needed  |\n  | 402  | Error. Not enough credit, plan upgrade needed  |\n  | 403  | Error. Permission denied  |\n  | 404  | Error. Object does not exist |\n  | 405  | Error. Method not allowed  |\n  | 406  | Error. Not Acceptable  |\n  | 422  | Error. Unprocessable Entity |\n",
    "version": "3.0.0",
    "title": "Brevo API - Contacts",
    "contact": {
      "name": "Brevo Support",
      "url": "https://account.brevo.com/support",
      "email": "contact@brevo.com"
    },
    "license": {
      "name": "MIT",
      "url": "http://opensource.org/licenses/MIT"
    }
  },
  "servers": [
    {
      "url": "https://api.brevo.com/v3"
    }
  ],
  "tags": [],
  "paths": {
    "/contacts": {
      "get": {
        "tags": [
          "Contacts"
        ],
        "summary": "Get all the contacts",
        "operationId": "getContacts",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Number of documents per page",
            "required": false,
            "x-exportParamName": "Limit",
            "x-optionalDataType": "Int64",
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0,
              "maximum": 1000,
              "default": 50
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Index of the first document of the page",
            "required": false,
            "x-exportParamName": "Offset",
            "x-optionalDataType": "Int64",
            "schema": {
              "type": "integer",
              "format": "int64",
              "default": 0
            }
          },
          {
            "name": "modifiedSince",
            "in": "query",
            "description": "Filter (urlencoded) the contacts modified after a given UTC date-time (YYYY-MM-DDTHH:mm:ss.SSSZ). Prefer to pass your timezone in date-time format for accurate result.",
            "required": false,
            "x-exportParamName": "ModifiedSince",
            "x-optionalDataType": "String",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "createdSince",
            "in": "query",
            "description": "Filter (urlencoded) the contacts created after a given UTC date-time (YYYY-MM-DDTHH:mm:ss.SSSZ). Prefer to pass your timezone in date-time format for accurate result.",
            "required": false,
            "x-exportParamName": "CreatedSince",
            "x-optionalDataType": "String",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort the results in the ascending/descending order of record creation. Default order is **descending** if `sort` is not passed",
            "required": false,
            "x-exportParamName": "Sort",
            "x-optionalDataType": "String",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            }
          },
          {
            "name": "segmentId",
            "in": "query",
            "description": "Id of the segment. **Either listIds or segmentId can be passed.**",
            "required": false,
            "x-exportParamName": "SegmentId",
            "x-optionalDataType": "Int64",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "listIds",
            "in": "query",
            "description": "Ids of the list. **Either listIds or segmentId can be passed.**",
            "required": false,
            "x-exportParamName": "ListIds",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int64"
              }
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "Filter the contacts on the basis of attributes. **Allowed operator: equals. (e.g. filter=equals(FIRSTNAME,\"Antoine\"), filter=equals(B1, true), filter=equals(DOB, \"1989-11-23\"))**\n",
            "required": false,
            "x-exportParamName": "Filter",
            "x-optionalDataType": "String",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "All contacts listed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/getContacts"
                },
                "examples": {
                  "response": {
                    "value": {
                      "contacts": [
                        {
                          "email": "contact1@example.com",
                          "id": 247,
                          "emailBlacklisted": true,
                          "smsBlacklisted": true,
                          "createdAt": "2017-05-01T17:05:03Z",
                          "modifiedAt": "2017-05-01T17:05:03Z",
                          "listIds": [
                            43,
                            58
                          ],
                          "attributes": {
                            "SMS": "33058407250",
                            "IDENTIFICATION": "1-3RHQ-259",
                            "CIV": "MS",
                            "LAST_NAME": "Brennon",
                            "FIRST_NAME": "Meg",
                            "DOB": "1986-05-02",
                            "ADDRESS": "1 5th avenue",
                            "ZIP_CODE": "44300",
                            "CITY": "New-York",
                            "ACTION_CODE": "17HH98CH"
                          }
                        },
                        {
                          "email": "33058407248@mailin-sms.com",
                          "id": 245,
                          "emailBlacklisted": true,
                          "smsBlacklisted": false,
                          "createdAt": "2017-05-01T17:05:03Z",
                          "modifiedAt": "2017-05-01T17:05:03Z",
                          "listIds": [
                            43,
                            61,
                            58
                          ],
                          "attributes": {
                            "SMS": "33058407248",
                            "IDENTIFICATION": "1-78JS-432",
                            "CIV": "MS",
                            "LAST_NAME": "Press",
                            "FIRST_NAME": "Sophia",
                            "DOB": "1980-09-11",
                            "ADDRESS": "5 Flower Street",
                            "ZIP_CODE": "44119",
                            "CITY": "Seattle",
                            "ACTION_CODE": "17HU765"
                          }
                        }
                      ],
                      "count": 3
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorModel"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Contacts"
        ],
        "summary": "Create a contact",
        "operationId": "createContact",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/createContact"
              }
            }
          },
          "description": "Values to create a contact",
          "required": true,
          "x-exportParamName": "CreateContact"
        },
        "responses": {
          "201": {
            "description": "Contact created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/createUpdateContactModel"
                }
              }
            }
          },
          "204": {
            "description": "Contact updated",
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {}
                  }
                }
              }
            }
          },
          "400": {
            "description": "bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorModel"
                }
              }
            }
          }
        }
      }
    },
    "/contacts/doubleOptinConfirmation": {
      "post": {
        "tags": [
          "Contacts"
        ],
        "summary": "Create Contact via DOI (Double-Opt-In) Flow",
        "operationId": "createDoiContact",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/createDoiContact"
              }
            }
          },
          "description": "Values to create the Double opt-in (DOI) contact",
          "required": true,
          "x-exportParamName": "CreateDoiContact"
        },
        "responses": {
          "201": {
            "description": "DOI Contact created"
          },
          "204": {
            "description": "DOI Contact updated"
          },
          "400": {
            "description": "bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorModel"
                }
              }
            }
          }
        }
      }
    },
    "/contacts/{identifier}": {
      "get": {
        "tags": [
          "Contacts"
        ],
        "summary": "Get a contact's details",
        "description": "Along with the contact details, this endpoint will show the statistics of contact for the recent 90 days by default. To fetch the earlier statistics, please use Get contact campaign stats (https://developers.brevo.com/reference/contacts-7#getcontactstats) endpoint with the appropriate date ranges.",
        "operationId": "getContactInfo",
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "description": "Email (urlencoded) OR ID of the contact OR its SMS attribute value",
            "required": true,
            "x-exportParamName": "Identifier",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "**Mandatory if endDate is used.** Starting date (YYYY-MM-DD) of the statistic events specific to campaigns. Must be lower than equal to endDate\n",
            "required": false,
            "x-exportParamName": "StartDate",
            "x-optionalDataType": "String",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "**Mandatory if startDate is used.** Ending date (YYYY-MM-DD) of the statistic events specific to campaigns. Must be greater than equal to startDate.\n",
            "required": false,
            "x-exportParamName": "EndDate",
            "x-optionalDataType": "String",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Contact informations",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/getExtendedContactDetails"
                },
                "examples": {
                  "response": {
                    "value": {
                      "email": "peggy.rain@example.com",
                      "id": 42,
                      "emailBlacklisted": false,
                      "smsBlacklisted": false,
                      "createdAt": "2017-05-02T16:40:31Z",
                      "modifiedAt": "2017-05-02T16:40:31Z",
                      "attributes": {
                        "FIRST_NAME": "Peggy",
                        "LAST_NAME": "Rain",
                        "SMS": "3087433387669",
                        "CIV": "1",
                        "DOB": "1986-04-13",
                        "ADDRESS": "987 5th avenue",
                        "ZIP_CODE": "87544",
                        "CITY": "New-York",
                        "AREA": "NY"
                      },
                      "listIds": [
                        40
                      ],
                      "statistics": {
                        "messagesSent": [
                          {
                            "campaignId": 21,
                            "eventTime": "2016-05-03T20:15:13Z"
                          },
                          {
                            "campaignId": 42,
                            "eventTime": "2016-10-17T10:30:01Z"
                          }
                        ],
                        "opened": [
                          {
                            "campaignId": 21,
                            "count": 2,
                            "eventTime": "2016-05-03T21:24:56Z",
                            "ip": "66.249.93.118"
                          },
                          {
                            "campaignId": 68,
                            "count": 1,
                            "eventTime": "2017-01-30T13:56:40Z",
                            "ip": "66.249.93.217"
                          }
                        ],
                        "clicked": [
                          {
                            "campaignId": 21,
                            "links": [
                              {
                                "count": 2,
                                "eventTime": "2016-05-03T21:25:01Z",
                                "ip": "66.249.93.118",
                                "url": "https://url.domain.com/fbe5387ec717e333628380454f68670010b205ff/1/go?uid={EMAIL}&utm_source=brevo&utm_campaign=test_camp&utm_medium=email"
                              }
                            ]
                          }
                        ],
                        "delivered": [
                          {
                            "campaignId": 21,
                            "eventTime": "2016-05-03T20:15:13Z"
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorModel"
                }
              }
            }
          },
          "404": {
            "description": "Contact's email not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorModel"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Contacts"
        ],
        "summary": "Update a contact",
        "operationId": "updateContact",
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "description": "Email (urlencoded) OR ID of the contact",
            "required": true,
            "x-exportParamName": "Identifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/updateContact"
              }
            }
          },
          "description": "Values to update a contact",
          "required": true,
          "x-exportParamName": "UpdateContact"
        },
        "responses": {
          "204": {
            "description": "Contact updated"
          },
          "400": {
            "description": "bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorModel"
                }
              }
            }
          },
          "404": {
            "description": "Contact's email not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorModel"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Contacts"
        ],
        "summary": "Delete a contact",
        "operationId": "deleteContact",
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "description": "Email (urlencoded) OR ID of the contact",
            "required": true,
            "x-exportParamName": "Identifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Contact deleted"
          },
          "400": {
            "description": "bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorModel"
                }
              }
            }
          },
          "404": {
            "description": "Contact not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorModel"
                }
              }
            }
          },
          "405": {
            "description": "You're not allowed to delete registered email contact with Brevo",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorModel"
                }
              }
            }
          }
        }
      }
    },
    "/contacts/batch": {
      "post": {
        "tags": [
          "Contacts"
        ],
        "summary": "Update multiple contacts",
        "operationId": "updateBatchContacts",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/updateBatchContacts"
              }
            }
          },
          "description": "Values to update multiple contacts",
          "required": true,
          "x-exportParamName": "UpdateBatchContacts"
        },
        "responses": {
          "204": {
            "description": "All contacts updated"
          },
          "400": {
            "description": "bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorModel"
                }
              }
            }
          }
        }
      }
    },
    "/contacts/{identifier}/campaignStats": {
      "get": {
        "tags": [
          "Contacts"
        ],
        "summary": "Get email campaigns' statistics for a contact",
        "operationId": "getContactStats",
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "description": "Email (urlencoded) OR ID of the contact",
            "required": true,
            "x-exportParamName": "Identifier",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "Mandatory if endDate is used. Starting date (YYYY-MM-DD) of the statistic events specific to campaigns. Must be lower than equal to endDate",
            "required": false,
            "x-exportParamName": "StartDate",
            "x-optionalDataType": "String",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "Mandatory if startDate is used. Ending date (YYYY-MM-DD) of the statistic events specific to campaigns. Must be greater than equal to startDate. Maximum difference between startDate and endDate should not be greater than 90 days",
            "required": false,
            "x-exportParamName": "EndDate",
            "x-optionalDataType": "String",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Contact campaign statistics informations",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/getContactCampaignStats"
                },
                "examples": {
                  "response": {
                    "value": {
                      "messagesSent": [
                        {
                          "campaignId": 21,
                          "eventTime": "2016-05-03T20:15:13Z"
                        },
                        {
                          "campaignId": 42,
                          "eventTime": "2016-10-17T10:30:01Z"
                        },
                        {
                          "campaignId": 45,
                          "eventTime": "2016-11-09T11:45:02Z"
                        }
                      ],
                      "opened": [
                        {
                          "campaignId": 21,
                          "count": 2,
                          "eventTime": "2016-05-03T21:24:56Z",
                          "ip": "66.249.93.118"
                        },
                        {
                          "campaignId": 45,
                          "count": 1,
                          "eventTime": "2017-01-30T13:56:40Z",
                          "ip": "66.249.93.217"
                        }
                      ],
                      "clicked": [
                        {
                          "campaignId": 21,
                          "links": [
                            {
                              "count": 2,
                              "eventTime": "2016-05-03T21:25:01Z",
                              "ip": "66.249.93.118",
                              "url": "https://url.domain.com/fbe5387ec717e333628380454f68670010b205ff/1/go?uid={EMAIL}&utm_source=brevo&utm_campaign=test_camp&utm_medium=email"
                            }
                          ]
                        }
                      ],
                      "delivered": [
                        {
                          "campaignId": 21,
                          "eventTime": "2016-05-03T20:15:13Z"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorModel"
                }
              }
            }
          },
          "404": {
            "description": "Contact's email not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorModel"
                }
              }
            }
          }
        }
      }
    },
    "/contacts/attributes": {
      "get": {
        "tags": [
          "Contacts"
        ],
        "summary": "List all attributes",
        "operationId": "getAttributes",
        "responses": {
          "200": {
            "description": "Attributes listed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/getAttributes"
                },
                "examples": {
                  "response": {
                    "value": {
                      "attributes": [
                        {
                          "name": "LASTNAME",
                          "category": "normal",
                          "type": "text"
                        },
                        {
                          "name": "FIRSTNAME",
                          "category": "normal",
                          "type": "text"
                        },
                        {
                          "name": "DOB",
                          "category": "normal",
                          "type": "date"
                        },
                        {
                          "name": "GENDER",
                          "category": "category",
                          "type": "text",
                          "enumeration": [
                            {
                              "value": 1,
                              "label": "Men"
                            },
                            {
                              "value": 2,
                              "label": "Women"
                            },
                            {
                              "value": 3,
                              "label": "Kid"
                            }
                          ]
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/contacts/attributes/{attributeCategory}/{attributeName}": {
      "post": {
        "tags": [
          "Contacts"
        ],
        "summary": "Create contact attribute",
        "operationId": "createAttribute",
        "parameters": [
          {
            "name": "attributeCategory",
            "in": "path",
            "description": "Category of the attribute",
            "required": true,
            "x-exportParamName": "AttributeCategory",
            "schema": {
              "type": "string",
              "enum": [
                "normal",
                "transactional",
                "category",
                "calculated",
                "global"
              ]
            }
          },
          {
            "name": "attributeName",
            "in": "path",
            "description": "Name of the attribute",
            "required": true,
            "x-exportParamName": "AttributeName",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/createAttribute"
              }
            }
          },
          "description": "Values to create an attribute",
          "required": true,
          "x-exportParamName": "CreateAttribute"
        },
        "responses": {
          "201": {
            "description": "Attribute created"
          },
          "400": {
            "description": "bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorModel"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Contacts"
        ],
        "summary": "Update contact attribute",
        "operationId": "updateAttribute",
        "parameters": [
          {
            "name": "attributeCategory",
            "in": "path",
            "description": "Category of the attribute",
            "required": true,
            "x-exportParamName": "AttributeCategory",
            "schema": {
              "type": "string",
              "enum": [
                "category",
                "calculated",
                "global",
                "normal"
              ]
            }
          },
          {
            "name": "attributeName",
            "in": "path",
            "description": "Name of the existing attribute",
            "required": true,
            "x-exportParamName": "AttributeName",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/updateAttribute"
              }
            }
          },
          "description": "Values to update an attribute",
          "required": true,
          "x-exportParamName": "UpdateAttribute"
        },
        "responses": {
          "204": {
            "description": "Attribute updated"
          },
          "400": {
            "description": "bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorModel"
                }
              }
            }
          },
          "404": {
            "description": "Attribute not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorModel"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Contacts"
        ],
        "summary": "Delete an attribute",
        "operationId": "deleteAttribute",
        "parameters": [
          {
            "name": "attributeCategory",
            "in": "path",
            "description": "Category of the attribute",
            "required": true,
            "x-exportParamName": "AttributeCategory",
            "schema": {
              "type": "string",
              "enum": [
                "normal",
                "transactional",
                "category",
                "calculated",
                "global"
              ]
            }
          },
          {
            "name": "attributeName",
            "in": "path",
            "description": "Name of the existing attribute",
            "required": true,
            "x-exportParamName": "AttributeName",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Attribute deleted"
          },
          "400": {
            "description": "bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorModel"
                }
              }
            }
          },
          "404": {
            "description": "Attribute not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorModel"
                }
              }
            }
          }
        }
      }
    },
    "/contacts/folders": {
      "get": {
        "tags": [
          "Contacts"
        ],
        "summary": "Get all folders",
        "operationId": "getFolders",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Number of documents per page",
            "required": true,
            "x-exportParamName": "Limit",
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0,
              "maximum": 50,
              "default": 10
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Index of the first document of the page",
            "required": true,
            "x-exportParamName": "Offset",
            "schema": {
              "type": "integer",
              "format": "int64",
              "default": 0
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort the results in the ascending/descending order of record creation. Default order is **descending** if `sort` is not passed",
            "required": false,
            "x-exportParamName": "Sort",
            "x-optionalDataType": "String",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Folders informations",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/getFolders"
                },
                "examples": {
                  "response": {
                    "value": {
                      "folders": [
                        {
                          "id": 42,
                          "name": "Ninja_Form",
                          "totalBlacklisted": 98,
                          "totalSubscribers": 4567,
                          "uniqueSubscribers": 4665
                        },
                        {
                          "id": 29,
                          "name": "Prestashop",
                          "totalBlacklisted": 10,
                          "totalSubscribers": 6543,
                          "uniqueSubscribers": 6553
                        }
                      ],
                      "count": 2
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorModel"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Contacts"
        ],
        "summary": "Create a folder",
        "operationId": "createFolder",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/createUpdateFolder"
              }
            }
          },
          "description": "Name of the folder",
          "required": true,
          "x-exportParamName": "CreateFolder"
        },
        "responses": {
          "201": {
            "description": "Folder created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/createModel"
                }
              }
            }
          },
          "400": {
            "description": "bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorModel"
                }
              }
            }
          }
        }
      }
    },
    "/contacts/segments": {
      "get": {
        "tags": [
          "Contacts"
        ],
        "summary": "Get all the Segments",
        "operationId": "getSegments",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Number of documents per page",
            "required": true,
            "x-exportParamName": "Limit",
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0,
              "maximum": 50,
              "default": 10
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Index of the first document of the page",
            "required": true,
            "x-exportParamName": "Offset",
            "schema": {
              "type": "integer",
              "format": "int64",
              "default": 0
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort the results in the ascending/descending order of record creation. Default order is **descending** if `sort` is not passed",
            "required": false,
            "x-exportParamName": "Sort",
            "x-optionalDataType": "String",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Folders informations",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/getSegments"
                },
                "examples": {
                  "response": {
                    "value": {
                      "segments": [
                        {
                          "id": 42,
                          "segmentName": "Segment1",
                          "categoryName": "Name1",
                          "updatedAt": "2017-03-12T12:30:00Z"
                        },
                        {
                          "id": 29,
                          "segmentName": "Segment2",
                          "categoryName": "Name2",
                          "updatedAt": "2017-03-12T12:30:00Z"
                        }
                      ],
                      "count": 2
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorModel"
                }
              }
            }
          }
        }
      }
    },
    "/contacts/folders/{folderId}": {
      "get": {
        "tags": [
          "Contacts"
        ],
        "summary": "Returns a folder's details",
        "operationId": "getFolder",
        "parameters": [
          {
            "name": "folderId",
            "in": "path",
            "description": "id of the folder",
            "required": true,
            "x-exportParamName": "FolderId",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Folder details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/getFolder"
                },
                "examples": {
                  "response": {
                    "value": {
                      "id": 1,
                      "name": "Client_Folder",
                      "totalBlacklisted": 987,
                      "totalSubscribers": 16778,
                      "uniqueSubscribers": 17765
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorModel"
                }
              }
            }
          },
          "404": {
            "description": "Folder ID not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorModel"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Contacts"
        ],
        "summary": "Update a folder",
        "operationId": "updateFolder",
        "parameters": [
          {
            "name": "folderId",
            "in": "path",
            "description": "Id of the folder",
            "required": true,
            "x-exportParamName": "FolderId",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/createUpdateFolder"
              }
            }
          },
          "description": "Name of the folder",
          "required": true,
          "x-exportParamName": "UpdateFolder"
        },
        "responses": {
          "204": {
            "description": "Folder updated"
          },
          "400": {
            "description": "bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorModel"
                }
              }
            }
          },
          "404": {
            "description": "Folder ID not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorModel"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Contacts"
        ],
        "summary": "Delete a folder (and all its lists)",
        "operationId": "deleteFolder",
        "parameters": [
          {
            "name": "folderId",
            "in": "path",
            "description": "Id of the folder",
            "required": true,
            "x-exportParamName": "FolderId",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Folder deleted"
          },
          "400": {
            "description": "bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorModel"
                }
              }
            }
          },
          "404": {
            "description": "Folder ID not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorModel"
                }
              }
            }
          }
        }
      }
    },
    "/contacts/folders/{folderId}/lists": {
      "get": {
        "tags": [
          "Contacts"
        ],
        "summary": "Get lists in a folder",
        "operationId": "getFolderLists",
        "parameters": [
          {
            "name": "folderId",
            "in": "path",
            "description": "Id of the folder",
            "required": true,
            "x-exportParamName": "FolderId",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of documents per page",
            "required": false,
            "x-exportParamName": "Limit",
            "x-optionalDataType": "Int64",
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0,
              "maximum": 50,
              "default": 10
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Index of the first document of the page",
            "required": false,
            "x-exportParamName": "Offset",
            "x-optionalDataType": "Int64",
            "schema": {
              "type": "integer",
              "format": "int64",
              "default": 0
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort the results in the ascending/descending order of record creation. Default order is **descending** if `sort` is not passed",
            "required": false,
            "x-exportParamName": "Sort",
            "x-optionalDataType": "String",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Folder's Lists details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/getFolderLists"
                },
                "examples": {
                  "response": {
                    "value": {
                      "lists": [
                        {
                          "id": 46,
                          "name": "Reactiv",
                          "totalSubscribers": 7655,
                          "totalBlacklisted": 0,
                          "uniqueSubscribers": 7655
                        },
                        {
                          "id": 41,
                          "name": "NY_Area",
                          "totalSubscribers": 3654,
                          "totalBlacklisted": 23,
                          "uniqueSubscribers": 3677
                        },
                        {
                          "id": 22,
                          "name": "VIP_Customer",
                          "totalSubscribers": 8753,
                          "totalBlacklisted": 72,
                          "uniqueSubscribers": 8826
                        }
                      ],
                      "count": 3
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorModel"
                }
              }
            }
          },
          "404": {
            "description": "Folder ID not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorModel"
                }
              }
            }
          }
        }
      }
    },
    "/contacts/lists": {
      "get": {
        "tags": [
          "Contacts"
        ],
        "summary": "Get all the lists",
        "operationId": "getLists",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Number of documents per page",
            "required": false,
            "x-exportParamName": "Limit",
            "x-optionalDataType": "Int64",
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0,
              "maximum": 50,
              "default": 10
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Index of the first document of the page",
            "required": false,
            "x-exportParamName": "Offset",
            "x-optionalDataType": "Int64",
            "schema": {
              "type": "integer",
              "format": "int64",
              "default": 0
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort the results in the ascending/descending order of record creation. Default order is **descending** if `sort` is not passed",
            "required": false,
            "x-exportParamName": "Sort",
            "x-optionalDataType": "String",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Lists informations",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/getLists"
                },
                "examples": {
                  "response": {
                    "value": {
                      "lists": [
                        {
                          "id": 53,
                          "name": "Spanish_Speakers",
                          "totalSubscribers": 5432,
                          "totalBlacklisted": 65,
                          "uniqueSubscribers": 5497,
                          "folderId": 1
                        },
                        {
                          "id": 50,
                          "name": "Other",
                          "totalSubscribers": 10976,
                          "totalBlacklisted": 765,
                          "uniqueSubscribers": 11741,
                          "folderId": 2
                        }
                      ],
                      "count": 2
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorModel"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Contacts"
        ],
        "summary": "Create a list",
        "operationId": "createList",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/createList"
              }
            }
          },
          "description": "Values to create a list",
          "required": true,
          "x-exportParamName": "CreateList"
        },
        "responses": {
          "201": {
            "description": "List created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/createModel"
                }
              }
            }
          },
          "400": {
            "description": "bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorModel"
                }
              }
            }
          }
        }
      }
    },
    "/contacts/lists/{listId}": {
      "get": {
        "tags": [
          "Contacts"
        ],
        "summary": "Get a list's details",
        "operationId": "getList",
        "parameters": [
          {
            "name": "listId",
            "in": "path",
            "description": "Id of the list",
            "required": true,
            "x-exportParamName": "ListId",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "Mandatory if endDate is used. Ending (urlencoded) UTC date-time (YYYY-MM-DDTHH:mm:ss.SSSZ) to aggregate the sent email campaigns for a specific list id.Prefer to pass your timezone in date-time format for accurate result",
            "required": false,
            "x-exportParamName": "StartDate",
            "x-optionalDataType": "String",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "Mandatory if startDate is used. Ending (urlencoded) UTC date-time (YYYY-MM-DDTHH:mm:ss.SSSZ) to aggregate the sent email campaigns for a specific list id.Prefer to pass your timezone in date-time format for accurate result",
            "required": false,
            "x-exportParamName": "EndDate",
            "x-optionalDataType": "String",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List informations",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/getExtendedList"
                },
                "examples": {
                  "response": {
                    "value": {
                      "id": 12,
                      "name": "Newsletter_Weekly",
                      "startDate": "2023-10-0T00:00:00Z",
                      "endDate": "2023-04-0T00:00:00Z",
                      "totalSubscribers": 6533,
                      "totalBlacklisted": 63,
                      "uniqueSubscribers": 6596,
                      "folderId": 1,
                      "createdAt": "2016-02-26T11:56:08Z",
                      "campaignStats": [
                        {
                          "campaignId": 15,
                          "stats": {
                            "uniqueClicks": 701,
                            "clickers": 789,
                            "complaints": 0,
                            "delivered": 6632,
                            "sent": 6645,
                            "softBounces": 34,
                            "hardBounces": 4,
                            "uniqueViews": 3442,
                            "unsubscriptions": 4,
                            "viewed": 4322,
                            "deferred": 0
                          }
                        },
                        {
                          "campaignId": 45,
                          "stats": {
                            "uniqueClicks": 654,
                            "clickers": 788,
                            "complaints": 1,
                            "delivered": 4078,
                            "sent": 4334,
                            "softBounces": 18,
                            "hardBounces": 2,
                            "uniqueViews": 987,
                            "unsubscriptions": 4,
                            "viewed": 1555,
                            "deferred": 0
                          }
                        }
                      ],
                      "dynamicList": false
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorModel"
                }
              }
            }
          },
          "404": {
            "description": "List ID not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorModel"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Contacts"
        ],
        "summary": "Update a list",
        "operationId": "updateList",
        "parameters": [
          {
            "name": "listId",
            "in": "path",
            "description": "Id of the list",
            "required": true,
            "x-exportParamName": "ListId",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/updateList"
              }
            }
          },
          "description": "Values to update a list",
          "required": true,
          "x-exportParamName": "UpdateList"
        },
        "responses": {
          "204": {
            "description": "List updated"
          },
          "400": {
            "description": "bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorModel"
                }
              }
            }
          },
          "404": {
            "description": "List ID not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorModel"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Contacts"
        ],
        "summary": "Delete a list",
        "operationId": "deleteList",
        "parameters": [
          {
            "name": "listId",
            "in": "path",
            "description": "Id of the list",
            "required": true,
            "x-exportParamName": "ListId",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "List deleted"
          },
          "400": {
            "description": "bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorModel"
                }
              }
            }
          },
          "404": {
            "description": "List ID not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorModel"
                }
              }
            }
          }
        }
      }
    },
    "/contacts/lists/{listId}/contacts": {
      "get": {
        "tags": [
          "Contacts"
        ],
        "summary": "Get contacts in a list",
        "operationId": "getContactsFromList",
        "parameters": [
          {
            "name": "listId",
            "in": "path",
            "description": "Id of the list",
            "required": true,
            "x-exportParamName": "ListId",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "modifiedSince",
            "in": "query",
            "description": "Filter (urlencoded) the contacts modified after a given UTC date-time (YYYY-MM-DDTHH:mm:ss.SSSZ). Prefer to pass your timezone in date-time format for accurate result.",
            "required": false,
            "x-exportParamName": "ModifiedSince",
            "x-optionalDataType": "String",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of documents per page",
            "required": false,
            "x-exportParamName": "Limit",
            "x-optionalDataType": "Int64",
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0,
              "maximum": 500,
              "default": 50
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Index of the first document of the page",
            "required": false,
            "x-exportParamName": "Offset",
            "x-optionalDataType": "Int64",
            "schema": {
              "type": "integer",
              "format": "int64",
              "default": 0
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort the results in the ascending/descending order of record creation. Default order is **descending** if `sort` is not passed",
            "required": false,
            "x-exportParamName": "Sort",
            "x-optionalDataType": "String",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Contact informations",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/getContacts"
                },
                "examples": {
                  "response": {
                    "value": {
                      "contacts": [
                        {
                          "email": "alex.pain@example.com",
                          "id": 45,
                          "emailBlacklisted": false,
                          "smsBlacklisted": true,
                          "createdAt": "2017-05-12T12:30:00Z",
                          "modifiedAt": "2017-05-12T12:30:00Z",
                          "listIds": [
                            12,
                            9,
                            20
                          ],
                          "listUnsubscribed": [
                            1,
                            2
                          ],
                          "attributes": {
                            "LASTNAME": "Pain",
                            "FIRSTNAME": "Alex",
                            "DOB": "2010-12-31",
                            "GENDER": "Kid"
                          }
                        },
                        {
                          "email": "john.smith@example.com",
                          "id": 32,
                          "emailBlacklisted": true,
                          "smsBlacklisted": false,
                          "createdAt": "2017-05-12T12:30:00Z",
                          "modifiedAt": "2017-05-12T12:30:00Z",
                          "listIds": [
                            12
                          ],
                          "listUnsubscribed": [
                            1
                          ],
                          "attributes": {
                            "LASTNAME": "Smith",
                            "FIRSTNAME": "John",
                            "DOB": "1986-06-21",
                            "GENDER": "Men"
                          }
                        },
                        {
                          "email": "helen.rose@example.com",
                          "id": 65,
                          "emailBlacklisted": true,
                          "smsBlacklisted": false,
                          "createdAt": "2017-05-12T12:30:00Z",
                          "modifiedAt": "2017-05-12T12:30:00Z",
                          "listIds": [
                            12,
                            9,
                            20
                          ],
                          "listUnsubscribed": [
                            1
                          ],
                          "attributes": {
                            "LASTNAME": "Rose",
                            "FIRSTNAME": "Helen",
                            "DOB": "1988-11-02",
                            "GENDER": "Women",
                            "SMS": "3375599887766"
                          }
                        }
                      ],
                      "count": 17655
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorModel"
                }
              }
            }
          },
          "404": {
            "description": "List ID not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorModel"
                }
              }
            }
          }
        }
      }
    },
    "/contacts/lists/{listId}/contacts/add": {
      "post": {
        "tags": [
          "Contacts"
        ],
        "summary": "Add existing contacts to a list",
        "operationId": "addContactToList",
        "parameters": [
          {
            "name": "listId",
            "in": "path",
            "description": "Id of the list",
            "required": true,
            "x-exportParamName": "ListId",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/addContactToList"
              }
            }
          },
          "description": "Emails addresses OR IDs of the contacts",
          "required": true,
          "x-exportParamName": "ContactEmails"
        },
        "responses": {
          "201": {
            "description": "All contacts have been added successfully to the list with details of failed ones",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/postContactInfo"
                }
              }
            }
          },
          "400": {
            "description": "bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorModel"
                }
              }
            }
          },
          "404": {
            "description": "List ID not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorModel"
                }
              }
            }
          }
        }
      }
    },
    "/contacts/lists/{listId}/contacts/remove": {
      "post": {
        "tags": [
          "Contacts"
        ],
        "summary": "Delete a contact from a list",
        "operationId": "removeContactFromList",
        "parameters": [
          {
            "name": "listId",
            "in": "path",
            "description": "Id of the list",
            "required": true,
            "x-exportParamName": "ListId",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/removeContactFromList"
              }
            }
          },
          "description": "Emails addresses OR IDs of the contacts",
          "required": true,
          "x-exportParamName": "ContactEmails"
        },
        "responses": {
          "201": {
            "description": "All contacts have been removed successfully from the list with details of failed ones",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/postContactInfo"
                }
              }
            }
          },
          "400": {
            "description": "bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorModel"
                }
              }
            }
          },
          "404": {
            "description": "List ID not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorModel"
                }
              }
            }
          }
        }
      }
    },
    "/contacts/export": {
      "post": {
        "tags": [
          "Contacts"
        ],
        "summary": "Export contacts",
        "description": "It returns the background process ID which on completion calls the notify URL that you have set in the input. File will be available in csv.",
        "operationId": "requestContactExport",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/requestContactExport"
              }
            }
          },
          "description": "Values to request a contact export",
          "required": true,
          "x-exportParamName": "RequestContactExport"
        },
        "responses": {
          "202": {
            "description": "Contact export request has been accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/createdProcessId"
                }
              }
            }
          },
          "400": {
            "description": "bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorModel"
                }
              }
            }
          }
        }
      }
    },
    "/contacts/import": {
      "post": {
        "tags": [
          "Contacts"
        ],
        "summary": "Import contacts",
        "description": "It returns the background process ID which on completion calls the notify URL that you have set in the input.\n\n**Note**:\n- Any contact attribute that doesn't exist in your account will be ignored at import end.\n",
        "operationId": "importContacts",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/requestContactImport"
              }
            }
          },
          "description": "Values to import contacts in Brevo. To know more about the expected format, please have a look at ``https://help.brevo.com/hc/en-us/articles/209499265-Build-contacts-lists-for-your-email-marketing-campaigns``",
          "required": true,
          "x-exportParamName": "RequestContactImport"
        },
        "responses": {
          "202": {
            "description": "Contact import request has been accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/createdProcessId"
                }
              }
            }
          },
          "400": {
            "description": "bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorModel"
                }
              }
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "api-key": []
    }
  ],
  "components": {
    "securitySchemes": {
      "api-key": {
        "description": "The API key should be passed in the request headers as `api-key` for authentication.",
        "type": "apiKey",
        "name": "api-key",
        "in": "header"
      }
    },
    "schemas": {
      "addContactToList": {
        "type": "object",
        "properties": {
          "emails": {
            "type": "array",
            "description": "Mandatory if IDs are not passed, ignored otherwise. Emails to add to a list. You can pass a maximum of 150 emails for addition in one request. If you need to add the emails in bulk, please prefer /contacts/import api.",
            "items": {
              "type": "string",
              "format": "email",
              "example": "john.smith@contact.com",
              "description": "Emails addresses OR IDs of the contacts"
            },
            "maxItems": 150,
            "minItems": 1
          },
          "ids": {
            "type": "array",
            "description": "Mandatory if Emails are not passed, ignored otherwise. Emails to add to a list. You can pass a maximum of 150 emails for addition in one request. If you need to add the emails in bulk, please prefer /contacts/import api.",
            "items": {
              "type": "integer",
              "format": "int64",
              "example": 121,
              "description": "IDs of the contacts"
            },
            "maxItems": 150,
            "minItems": 1
          }
        }
      },
      "createAttribute": {
        "type": "object",
        "properties": {
          "value": {
            "type": "string",
            "example": "COUNT[BLACKLISTED,BLACKLISTED,<,NOW()]",
            "description": "Value of the attribute. Use only if the attribute's category is 'calculated' or 'global'"
          },
          "isRecurring": {
            "type": "boolean",
            "example": true,
            "description": "Type of the attribute. Use only if the attribute's category is 'calculated' or 'global'"
          },
          "enumeration": {
            "type": "array",
            "description": "List of values and labels that the attribute can take. Use only if the attribute's category is \"category\". For example, [{\"value\":1, \"label\":\"male\"}, {\"value\":2, \"label\":\"female\"}]",
            "items": {
              "$ref": "#/components/schemas/createAttribute_enumeration"
            }
          },
          "multiCategoryOptions": {
            "type": "array",
            "description": "List of options you want to add for multiple-choice attribute. **Use only if the attribute's category is \"normal\" and attribute's type is \"multiple-choice\".** For example:\n**[\"USA\",\"INDIA\"]**\n",
            "items": {
              "type": "string"
            }
          },
          "type": {
            "type": "string",
            "example": "text",
            "description": "Type of the attribute. Use only if the attribute's category is 'normal', 'category' or 'transactional' ( type 'boolean' and 'multiple-choice' is only available if the category is 'normal' attribute, type 'id' is only available if the category is 'transactional' attribute & type 'category' is only available if the category is 'category' attribute )",
            "enum": [
              "text",
              "date",
              "float",
              "boolean",
              "id",
              "category",
              "multiple-choice"
            ]
          }
        }
      },
      "createAttribute_enumeration": {
        "type": "object",
        "required": [
          "label",
          "value"
        ],
        "properties": {
          "value": {
            "type": "integer",
            "example": 1,
            "description": "Id of the value"
          },
          "label": {
            "type": "string",
            "example": "Women",
            "description": "Label of the value"
          }
        }
      },
      "createContact": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "example": "elly@example.com",
            "description": "Email address of the user. Mandatory if \"SMS\" field is not passed in \"attributes\" parameter. Mobile Number in \"SMS\" field should be passed with proper country code. For example {\"SMS\":\"+91xxxxxxxxxx\"} or {\"SMS\":\"0091xxxxxxxxxx\"}"
          },
          "ext_id": {
            "type": "string",
            "example": "externalId",
            "description": "Pass your own Id to create a contact."
          },
          "attributes": {
            "type": "object",
            "example": {
              "FNAME": "Elly",
              "LNAME": "Roger"
            },
            "description": "Pass the set of attributes and their values. The attribute's parameter should be passed in capital letter while creating a contact. Values that don't match the attribute type (e.g. text or string in a date attribute) will be ignored.These attributes must be present in your Brevo account. For eg. {\"FNAME\":\"Elly\", \"LNAME\":\"Roger\"}",
            "properties": {}
          },
          "emailBlacklisted": {
            "type": "boolean",
            "example": false,
            "description": "Set this field to blacklist the contact for emails (emailBlacklisted = true)"
          },
          "smsBlacklisted": {
            "type": "boolean",
            "example": false,
            "description": "Set this field to blacklist the contact for SMS (smsBlacklisted = true)"
          },
          "listIds": {
            "type": "array",
            "description": "Ids of the lists to add the contact to",
            "items": {
              "type": "integer",
              "format": "int64",
              "example": 36,
              "description": "Id of the list to add the contact to"
            }
          },
          "updateEnabled": {
            "type": "boolean",
            "example": false,
            "description": "Facilitate to update the existing contact in the same request (updateEnabled = true)",
            "default": false
          },
          "smtpBlacklistSender": {
            "type": "array",
            "description": "transactional email forbidden sender for contact. Use only for email Contact ( only available if updateEnabled = true )",
            "items": {
              "type": "string",
              "format": "email"
            }
          }
        }
      },
      "createDoiContact": {
        "type": "object",
        "required": [
          "email",
          "includeListIds",
          "redirectionUrl",
          "templateId"
        ],
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "example": "elly@example.com",
            "description": "Email address where the confirmation email will be sent. This email address will be the identifier for all other contact attributes."
          },
          "attributes": {
            "type": "object",
            "example": {
              "FNAME": "Elly",
              "LNAME": "Roger",
              "COUNTRIES": [
                "India",
                "China"
              ]
            },
            "description": "Pass the set of attributes and their values. These attributes must be present in your Brevo account. For eg. {'FNAME':'Elly', 'LNAME':'Roger', 'COUNTRIES':['India','China']}",
            "additionalProperties": {}
          },
          "includeListIds": {
            "type": "array",
            "description": "Lists under user account where contact should be added",
            "items": {
              "type": "integer",
              "format": "int64",
              "example": 36,
              "description": "Id of the list"
            }
          },
          "excludeListIds": {
            "type": "array",
            "description": "Lists under user account where contact should not be added",
            "items": {
              "type": "integer",
              "format": "int64",
              "example": 36,
              "description": "Id of the list"
            }
          },
          "templateId": {
            "type": "integer",
            "format": "int64",
            "example": 2,
            "description": "Id of the Double opt-in (DOI) template"
          },
          "redirectionUrl": {
            "type": "string",
            "format": "url",
            "example": "http://requestb.in/173lyyx1",
            "description": "URL of the web page that user will be redirected to after clicking on the double opt in URL. When editing your DOI template you can reference this URL by using the tag {{ params.DOIurl }}."
          }
        }
      },
      "createList": {
        "type": "object",
        "required": [
          "folderId",
          "name"
        ],
        "properties": {
          "name": {
            "type": "string",
            "example": "Magento Customer - ES",
            "description": "Name of the list"
          },
          "folderId": {
            "type": "integer",
            "format": "int64",
            "example": 2,
            "description": "Id of the parent folder in which this list is to be created"
          }
        }
      },
      "createModel": {
        "type": "object",
        "required": [
          "id"
        ],
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64",
            "example": 122,
            "description": "ID of the object created"
          }
        },
        "example": {
          "id": 122
        }
      },
      "createUpdateContactModel": {
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64",
            "example": 122,
            "description": "ID of the contact when a new contact is created"
          }
        },
        "example": {
          "id": 122
        }
      },
      "createUpdateFolder": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "example": "Wordpress Contacts",
            "description": "Name of the folder"
          }
        }
      },
      "createdProcessId": {
        "type": "object",
        "required": [
          "processId"
        ],
        "properties": {
          "processId": {
            "type": "integer",
            "format": "int64",
            "example": 78,
            "description": "Id of the process created"
          }
        },
        "example": {
          "processId": 78
        }
      },
      "errorModel": {
        "type": "object",
        "required": [
          "code",
          "message"
        ],
        "properties": {
          "code": {
            "type": "string",
            "example": "method_not_allowed",
            "description": "Error code displayed in case of a failure",
            "enum": [
              "invalid_parameter",
              "missing_parameter",
              "out_of_range",
              "campaign_processing",
              "campaign_sent",
              "document_not_found",
              "reseller_permission_denied",
              "not_enough_credits",
              "permission_denied",
              "duplicate_parameter",
              "duplicate_request",
              "method_not_allowed",
              "unauthorized",
              "account_under_validation",
              "not_acceptable",
              "bad_request",
              "unprocessable_entity"
            ]
          },
          "message": {
            "type": "string",
            "example": "POST Method is not allowed on this path",
            "description": "Readable message associated to the failure"
          }
        }
      },
      "getAttributes": {
        "type": "object",
        "required": [
          "attributes"
        ],
        "properties": {
          "attributes": {
            "type": "array",
            "description": "Listing of available contact attributes in your account",
            "items": {
              "$ref": "#/components/schemas/getAttributes_attributes"
            }
          }
        }
      },
      "getAttributes_attributes": {
        "type": "object",
        "required": [
          "category",
          "name"
        ],
        "properties": {
          "name": {
            "type": "string",
            "example": "LASTNAME",
            "description": "Name of the attribute"
          },
          "category": {
            "type": "string",
            "example": "category",
            "description": "Category of the attribute",
            "enum": [
              "normal",
              "transactional",
              "category",
              "calculated",
              "global"
            ]
          },
          "type": {
            "type": "string",
            "example": "text",
            "description": "Type of the attribute",
            "enum": [
              "text",
              "date",
              "float",
              "id",
              "boolean"
            ]
          },
          "enumeration": {
            "type": "array",
            "description": "Parameter only available for \"category\" type attributes.",
            "items": {
              "$ref": "#/components/schemas/getAttributes_enumeration"
            }
          },
          "calculatedValue": {
            "type": "string",
            "example": "COUNT[ORDER_ID,ORDER_DATE,==,NOW(-1)]",
            "description": "Calculated value formula"
          }
        }
      },
      "getAttributes_enumeration": {
        "type": "object",
        "required": [
          "label",
          "value"
        ],
        "properties": {
          "value": {
            "type": "integer",
            "format": "int64",
            "example": 1,
            "description": "ID of Value of the \"category\" type attribute"
          },
          "label": {
            "type": "string",
            "example": "Women",
            "description": "Label of the \"category\" type attribute"
          }
        }
      },
      "getCampaignStats": {
        "type": "object",
        "required": [
          "clickers",
          "complaints",
          "delivered",
          "hardBounces",
          "sent",
          "softBounces",
          "trackableViews",
          "uniqueClicks",
          "uniqueViews",
          "unsubscriptions",
          "viewed"
        ],
        "properties": {
          "listId": {
            "type": "integer",
            "format": "int64",
            "example": 2,
            "description": "List Id of email campaign (only in case of get email campaign(s)(not for global stats))"
          },
          "uniqueClicks": {
            "type": "integer",
            "format": "int64",
            "example": 2300,
            "description": "Number of unique clicks for the campaign"
          },
          "clickers": {
            "type": "integer",
            "format": "int64",
            "example": 2665,
            "description": "Number of total clicks for the campaign"
          },
          "complaints": {
            "type": "integer",
            "format": "int64",
            "example": 1,
            "description": "Number of complaints (Spam reports) for the campaign"
          },
          "delivered": {
            "type": "integer",
            "format": "int64",
            "example": 19765,
            "description": "Number of delivered emails for the campaign"
          },
          "sent": {
            "type": "integer",
            "format": "int64",
            "example": 19887,
            "description": "Number of sent emails for the campaign"
          },
          "softBounces": {
            "type": "integer",
            "format": "int64",
            "example": 100,
            "description": "Number of softbounce for the campaign"
          },
          "hardBounces": {
            "type": "integer",
            "format": "int64",
            "example": 87,
            "description": "Number of harbounce for the campaign"
          },
          "uniqueViews": {
            "type": "integer",
            "format": "int64",
            "example": 7779,
            "description": "Number of unique openings for the campaign"
          },
          "trackableViews": {
            "type": "integer",
            "format": "int64",
            "example": 5661,
            "description": "Recipients without any privacy protection option enabled in their email client"
          },
          "trackableViewsRate": {
            "type": "number",
            "format": "float",
            "example": 23.45,
            "description": "Rate of recipients without any privacy protection option enabled in their email client"
          },
          "estimatedViews": {
            "type": "integer",
            "format": "int64",
            "example": 560,
            "description": "Rate of recipients without any privacy protection option enabled in their email client, applied to all delivered emails"
          },
          "unsubscriptions": {
            "type": "integer",
            "format": "int64",
            "example": 2,
            "description": "Number of unsubscription for the campaign"
          },
          "viewed": {
            "type": "integer",
            "format": "int64",
            "example": 8999,
            "description": "Number of openings for the campaign"
          },
          "deferred": {
            "type": "integer",
            "format": "int64",
            "example": 30,
            "description": "Number of deferred emails for the campaign"
          },
          "returnBounce": {
            "type": "integer",
            "format": "int64",
            "example": 5,
            "description": "Total number of non-delivered campaigns for a particular campaign id."
          }
        }
      },
      "getContactCampaignStats": {
        "type": "object",
        "properties": {
          "messagesSent": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/getExtendedContactDetails_statistics_messagesSent"
            }
          },
          "hardBounces": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/getExtendedContactDetails_statistics_messagesSent"
            }
          },
          "softBounces": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/getExtendedContactDetails_statistics_messagesSent"
            }
          },
          "complaints": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/getExtendedContactDetails_statistics_messagesSent"
            }
          },
          "unsubscriptions": {
            "$ref": "#/components/schemas/getContactCampaignStats_unsubscriptions"
          },
          "opened": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/getContactCampaignStats_opened"
            }
          },
          "clicked": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/getContactCampaignStats_clicked"
            }
          },
          "transacAttributes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/getContactCampaignStats_transacAttributes"
            }
          },
          "delivered": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/getExtendedContactDetails_statistics_messagesSent"
            }
          }
        },
        "description": "Campaign Statistics for the contact"
      },
      "getContactCampaignStats_clicked": {
        "type": "object",
        "required": [
          "campaignId",
          "links"
        ],
        "properties": {
          "campaignId": {
            "type": "integer",
            "format": "int64",
            "example": 3,
            "description": "ID of the campaign which generated the event"
          },
          "links": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/getExtendedContactDetails_statistics_links"
            }
          }
        }
      },
      "getContactCampaignStats_opened": {
        "type": "object",
        "required": [
          "campaignId",
          "count",
          "eventTime",
          "ip"
        ],
        "properties": {
          "campaignId": {
            "type": "integer",
            "format": "int64",
            "example": 3,
            "description": "ID of the campaign which generated the event"
          },
          "count": {
            "type": "integer",
            "format": "int64",
            "example": 3,
            "description": "Number of openings of the campaign"
          },
          "eventTime": {
            "type": "string",
            "example": "2017-03-12T20:15:13Z",
            "description": "UTC date-time of the event"
          },
          "ip": {
            "type": "string",
            "example": "165.87.3.15",
            "description": "IP from which the user has opened the campaign"
          }
        }
      },
      "getContactCampaignStats_transacAttributes": {
        "type": "object",
        "required": [
          "orderDate",
          "orderId",
          "orderPrice"
        ],
        "properties": {
          "orderDate": {
            "type": "string",
            "format": "date",
            "example": "2017-03-12",
            "description": "Date of the order"
          },
          "orderPrice": {
            "type": "number",
            "format": "float",
            "example": 24.99,
            "description": "Price of the order"
          },
          "orderId": {
            "type": "integer",
            "format": "int64",
            "example": 248,
            "description": "ID of the order"
          }
        }
      },
      "getContactCampaignStats_unsubscriptions": {
        "type": "object",
        "required": [
          "adminUnsubscription",
          "userUnsubscription"
        ],
        "properties": {
          "userUnsubscription": {
            "type": "array",
            "description": "Contact has unsubscribed via the unsubscription link in the email",
            "items": {
              "$ref": "#/components/schemas/getExtendedContactDetails_statistics_unsubscriptions_userUnsubscription"
            }
          },
          "adminUnsubscription": {
            "type": "array",
            "description": "Contact has been unsubscribed from the administrator",
            "items": {
              "$ref": "#/components/schemas/getExtendedContactDetails_statistics_unsubscriptions_adminUnsubscription"
            }
          }
        }
      },
      "getContactDetails": {
        "type": "object",
        "required": [
          "attributes",
          "createdAt",
          "emailBlacklisted",
          "id",
          "listIds",
          "modifiedAt",
          "smsBlacklisted"
        ],
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "example": "john.smith@example.com",
            "description": "Email address of the contact for which you requested the details"
          },
          "id": {
            "type": "integer",
            "format": "int64",
            "example": 32,
            "description": "ID of the contact for which you requested the details"
          },
          "emailBlacklisted": {
            "type": "boolean",
            "example": false,
            "description": "Blacklist status for email campaigns (true=blacklisted, false=not blacklisted)"
          },
          "smsBlacklisted": {
            "type": "boolean",
            "example": true,
            "description": "Blacklist status for SMS campaigns (true=blacklisted, false=not blacklisted)"
          },
          "createdAt": {
            "type": "string",
            "example": "2017-05-12T12:30:00Z",
            "description": "Creation UTC date-time of the contact (YYYY-MM-DDTHH:mm:ss.SSSZ)"
          },
          "modifiedAt": {
            "type": "string",
            "example": "2017-05-12T12:30:00Z",
            "description": "Last modification UTC date-time of the contact (YYYY-MM-DDTHH:mm:ss.SSSZ)"
          },
          "listIds": {
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int64",
              "example": "12,9,20",
              "description": "List(s) in which the contact is included"
            }
          },
          "listUnsubscribed": {
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int64",
              "example": "1,2",
              "description": "List(s) in which the contact is included (only available if unsubscription per list is activated for the account)"
            }
          },
          "attributes": {
            "type": "object",
            "example": {
              "name": "Joe",
              "email": "joe@example.com"
            },
            "description": "Set of attributes of the contact",
            "properties": {}
          }
        }
      },
      "getContacts": {
        "type": "object",
        "required": [
          "contacts",
          "count"
        ],
        "properties": {
          "contacts": {
            "type": "array",
            "items": {
              "type": "object",
              "allOf": [
                {
                  "$ref": "#/components/schemas/getContactDetails"
                }
              ]
            }
          },
          "count": {
            "type": "integer",
            "format": "int64",
            "example": 17655,
            "description": "Number of contacts"
          }
        }
      },
      "getExtendedContactDetails": {
        "allOf": [
          {
            "$ref": "#/components/schemas/getContactDetails"
          },
          {
            "type": "object",
            "required": [
              "statistics"
            ],
            "properties": {
              "statistics": {
                "$ref": "#/components/schemas/getExtendedContactDetails_statistics"
              }
            }
          }
        ]
      },
      "getExtendedContactDetails_statistics": {
        "type": "object",
        "properties": {
          "messagesSent": {
            "type": "array",
            "description": "Listing of the sent campaign for the contact",
            "items": {
              "$ref": "#/components/schemas/getExtendedContactDetails_statistics_messagesSent"
            }
          },
          "hardBounces": {
            "type": "array",
            "description": "Listing of the hardbounes generated by the contact",
            "items": {
              "$ref": "#/components/schemas/getExtendedContactDetails_statistics_messagesSent"
            }
          },
          "softBounces": {
            "type": "array",
            "description": "Listing of the softbounes generated by the contact",
            "items": {
              "$ref": "#/components/schemas/getExtendedContactDetails_statistics_messagesSent"
            }
          },
          "complaints": {
            "type": "array",
            "description": "Listing of the complaints generated by the contact",
            "items": {
              "$ref": "#/components/schemas/getExtendedContactDetails_statistics_messagesSent"
            }
          },
          "unsubscriptions": {
            "$ref": "#/components/schemas/getExtendedContactDetails_statistics_unsubscriptions"
          },
          "opened": {
            "type": "array",
            "description": "Listing of the openings generated by the contact",
            "items": {
              "$ref": "#/components/schemas/getExtendedContactDetails_statistics_opened"
            }
          },
[...]
