{
  "openapi": "3.0.3",
  "info": {
    "description": "Brevo provide a RESTFul API that can be used with any languages. With this API, you will be able to :\n  - Manage your campaigns and get the statistics\n  - Manage your contacts\n  - Send transactional Emails and SMS\n  - and much more...\n\nYou can download our wrappers at https://github.com/orgs/brevo\n\n**Possible responses**\n  | Code | Message |\n  | :-------------: | ------------- |\n  | 200  | OK. Successful Request  |\n  | 201  | OK. Successful Creation |\n  | 202  | OK. Request accepted |\n  | 204  | OK. Successful Update/Deletion  |\n  | 400  | Error. Bad Request  |\n  | 401  | Error. Authentication Needed  |\n  | 402  | Error. Not enough credit, plan upgrade needed  |\n  | 403  | Error. Permission denied  |\n  | 404  | Error. Object does not exist |\n  | 405  | Error. Method not allowed  |\n  | 406  | Error. Not Acceptable  |\n  | 422  | Error. Unprocessable Entity |\n",
    "version": "3.0.0",
    "title": "Brevo API - Email Campaigns",
    "contact": {
      "name": "Brevo Support",
      "url": "https://account.brevo.com/support",
      "email": "contact@brevo.com"
    },
    "license": {
      "name": "MIT",
      "url": "http://opensource.org/licenses/MIT"
    }
  },
  "servers": [
    {
      "url": "https://api.brevo.com/v3"
    }
  ],
  "tags": [],
  "paths": {
    "/emailCampaigns": {
      "get": {
        "tags": [
          "Email Campaigns"
        ],
        "summary": "Return all your created email campaigns",
        "operationId": "getEmailCampaigns",
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "description": "Filter on the type of the campaigns",
            "required": false,
            "x-exportParamName": "Type_",
            "x-optionalDataType": "String",
            "schema": {
              "type": "string",
              "enum": [
                "classic",
                "trigger"
              ]
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter on the status of the campaign",
            "required": false,
            "x-exportParamName": "Status",
            "x-optionalDataType": "String",
            "schema": {
              "type": "string",
              "enum": [
                "suspended",
                "archive",
                "sent",
                "queued",
                "draft",
                "inProcess"
              ]
            }
          },
          {
            "name": "statistics",
            "in": "query",
            "description": "Filter on the type of statistics required. Example **globalStats** value will only fetch globalStats info of the campaign in returned response.This option only returns data for events occurred in the last 6 months.For older campaigns, it’s advisable to use the **Get Campaign Report** endpoint.",
            "required": false,
            "x-exportParamName": "Statistics",
            "x-optionalDataType": "String",
            "schema": {
              "type": "string",
              "enum": [
                "globalStats",
                "linksStats",
                "statsByDomain"
              ]
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "Mandatory if endDate is used. Starting (urlencoded) UTC date-time (YYYY-MM-DDTHH:mm:ss.SSSZ) to filter the sent email campaigns. Prefer to pass your timezone in date-time format for accurate result ( only available if either 'status' not passed and if passed is set to 'sent' )",
            "required": false,
            "x-exportParamName": "StartDate",
            "x-optionalDataType": "String",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "Mandatory if startDate is used. Ending (urlencoded) UTC date-time (YYYY-MM-DDTHH:mm:ss.SSSZ) to filter the sent email campaigns. Prefer to pass your timezone in date-time format for accurate result ( only available if either 'status' not passed and if passed is set to 'sent' )",
            "required": false,
            "x-exportParamName": "EndDate",
            "x-optionalDataType": "String",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of documents per page",
            "required": false,
            "x-exportParamName": "Limit",
            "x-optionalDataType": "Int64",
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0,
              "maximum": 100,
              "default": 50
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Index of the first document in the page",
            "required": false,
            "x-exportParamName": "Offset",
            "x-optionalDataType": "Int64",
            "schema": {
              "type": "integer",
              "format": "int64",
              "default": 0
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort the results in the ascending/descending order of record creation. Default order is **descending** if `sort` is not passed",
            "required": false,
            "x-exportParamName": "Sort",
            "x-optionalDataType": "String",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            }
          },
          {
            "name": "excludeHtmlContent",
            "in": "query",
            "description": "Use this flag to exclude htmlContent from the response body. If set to **true**, htmlContent field will be returned as empty string in the response body",
            "required": false,
            "x-exportParamName": "ExcludeHtmlContent",
            "x-optionalDataType": "Bool",
            "schema": {
              "type": "boolean",
              "enum": [
                "true",
                "false"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Email campaigns informations",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/getEmailCampaigns"
                }
              },
              "applications/json": {
                "examples": {
                  "response": {
                    "value": {
                      "campaigns": [
                        {
                          "id": 12,
                          "name": "EN - Sales Summer 2017",
                          "subject": "20% OFF for 2017 Summer Sales",
                          "previewText": "Don't miss the sale!",
                          "type": "classic",
                          "status": "sent",
                          "scheduledAt": "2017-06-01T12:30:00Z",
                          "testSent": true,
                          "header": "[DEFAULT_HEADER]",
                          "footer": "[DEFAULT_FOOTER]",
                          "sender": {
                            "email": "marketing@mycompany.com",
                            "name": "Marketing",
                            "id": 26
                          },
                          "replyTo": "replyto@domain.com",
                          "toField": "{FNAME} {LNAME}",
                          "htmlContent": "This is my HTML Content",
                          "shareLink": "http://example.com/fhsgccc.html?t=9865448900",
                          "tag": "Newsletter",
                          "createdAt": "2017-05-01T12:30:00Z",
                          "modifiedAt": "2017-05-01T12:30:00Z",
                          "inlineImageActivation": true,
                          "mirrorActive": true,
                          "recurring": false,
                          "recipients": {
                            "lists": [
                              5
                            ],
                            "exclusionLists": [
                              13
                            ]
                          },
                          "statistics": {
                            "globalStats": {
                              "uniqueClicks": 2300,
                              "clickers": 2665,
                              "complaints": 1,
                              "delivered": 19765,
                              "sent": 19887,
                              "softBounces": 100,
                              "hardBounces": 87,
                              "uniqueViews": 7779,
                              "trackableViews": 5661,
                              "trackableViewsRate": 23.45,
                              "estimatedViews": 560,
                              "unsubscriptions": 2,
                              "viewed": 8999
                            },
                            "campaignStats": [
                              {
                                "listId": 5,
                                "uniqueClicks": 2300,
                                "clickers": 2665,
                                "complaints": 1,
                                "delivered": 19765,
                                "sent": 19887,
                                "softBounces": 100,
                                "hardBounces": 87,
                                "uniqueViews": 7779,
                                "trackableViews": 5661,
                                "unsubscriptions": 2,
                                "viewed": 8999,
                                "deferred": 30
                              }
                            ],
                            "mirrorClick": 120,
                            "remaining": 1000,
                            "linksStats": {
                              "http://myUrl1.domain.com": 80
                            },
                            "statsByDomain": {
                              "yahoo": {
                                "uniqueClicks": 2300,
                                "clickers": 2665,
                                "complaints": 1,
                                "delivered": 19765,
                                "sent": 19887,
                                "softBounces": 100,
                                "hardBounces": 87,
                                "uniqueViews": 7779,
                                "unsubscriptions": 2,
                                "viewed": 8999,
                                "deferred": 30
                              },
                              "gmail": {
                                "uniqueClicks": 2300,
                                "clickers": 2665,
                                "complaints": 1,
                                "delivered": 19765,
                                "sent": 19887,
                                "softBounces": 100,
                                "hardBounces": 87,
                                "uniqueViews": 7779,
                                "unsubscriptions": 2,
                                "viewed": 8999,
                                "deferred": 30
                              }
                            }
                          }
                        },
                        {
                          "id": 22,
                          "name": "Weekly - 1",
                          "subject": "Week 1 - Newsletter",
                          "previewText": "your weekly newsletter!",
                          "type": "Classic",
                          "status": "draft",
                          "scheduledAt": "",
                          "testSent": false,
                          "header": "[DEFAULT_HEADER]",
                          "footer": "[DEFAULT_FOOTER]",
                          "sender": {
                            "email": "newsletter@mycompany.com",
                            "name": "Newsletter",
                            "id": 26
                          },
                          "replyTo": "replyto@domain.com",
                          "toField": "{FNAME} {LNAME}",
                          "htmlContent": "This is my HTML Content",
                          "shareLink": "http://example.com/fhsgccc.html?t=9865448900",
                          "tag": "Newsletter",
                          "createdAt": "2017-05-01T12:30:00Z",
                          "modifiedAt": "2017-05-01T12:30:00Z",
                          "inlineImageActivation": true,
                          "mirrorActive": true,
                          "recurring": false,
                          "recipients": {
                            "lists": [
                              10
                            ],
                            "exclusionLists": [
                              45
                            ]
                          },
                          "statistics": {
                            "globalStats": {
                              "uniqueClicks": 2300,
                              "clickers": 2665,
                              "complaints": 1,
                              "delivered": 19765,
                              "sent": 19887,
                              "softBounces": 100,
                              "hardBounces": 87,
                              "uniqueViews": 7779,
                              "trackableViews": 5661,
                              "trackableViewsRate": 23.45,
                              "estimatedViews": 560,
                              "unsubscriptions": 2,
                              "viewed": 8999
                            },
                            "campaignStats": [
                              {
                                "listId": 10,
                                "uniqueClicks": 2300,
                                "clickers": 2665,
                                "complaints": 1,
                                "delivered": 19765,
                                "sent": 19887,
                                "softBounces": 100,
                                "hardBounces": 87,
                                "uniqueViews": 7779,
                                "trackableViews": 5661,
                                "unsubscriptions": 2,
                                "viewed": 8999,
                                "deferred": 30
                              }
                            ],
                            "mirrorClick": 120,
                            "remaining": 1000,
                            "linksStats": {
                              "http://myUrl1.domain.com": {
                                "nbClick": 80
                              },
                              "http://myUrl2.domain.com": {
                                "nbClick": 80
                              },
                              "http://myUrl3.domain.com": {
                                "nbClick": 80
                              }
                            },
                            "statsByDomain": {
                              "yahoo.com": {
                                "uniqueClicks": 298,
                                "clickers": 533,
                                "complaints": 0,
                                "sent": 25601,
                                "softBounces": 5,
                                "hardBounces": 0,
                                "uniqueViews": 3527,
                                "unsubscriptions": 17,
                                "viewed": 5255,
                                "delivered": 25596
                              },
                              "hotmail.co.uk": {
                                "uniqueClicks": 1970,
                                "clickers": 2720,
                                "complaints": 5,
                                "sent": 117055,
                                "softBounces": 111,
                                "hardBounces": 0,
                                "uniqueViews": 21111,
                                "unsubscriptions": 105,
                                "viewed": 35251,
                                "delivered": 117056
                              }
                            }
                          }
                        }
                      ],
                      "count": 2
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorModel"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Email Campaigns"
        ],
        "summary": "Create an email campaign",
        "operationId": "createEmailCampaign",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/createEmailCampaign"
              }
            }
          },
          "description": "Values to create a campaign",
          "required": true,
          "x-exportParamName": "EmailCampaigns"
        },
        "responses": {
          "201": {
            "description": "Email campaign created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/createModel"
                }
              }
            }
          },
          "400": {
            "description": "bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorModel"
                }
              }
            }
          }
        }
      }
    },
    "/emailCampaigns/{campaignId}": {
      "get": {
        "tags": [
          "Email Campaigns"
        ],
        "summary": "Get an email campaign report",
        "operationId": "getEmailCampaign",
        "parameters": [
          {
            "name": "campaignId",
            "in": "path",
            "description": "Id of the campaign",
            "required": true,
            "x-exportParamName": "CampaignId",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "statistics",
            "in": "query",
            "description": "Filter on the type of statistics required. Example **globalStats** value will only fetch globalStats info of the campaign in returned response.",
            "required": false,
            "x-exportParamName": "Statistics",
            "x-optionalDataType": "String",
            "schema": {
              "type": "string",
              "enum": [
                "globalStats",
                "linksStats",
                "statsByDomain",
                "statsByDevice",
                "statsByBrowser"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Email campaign informations",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/getEmailCampaign"
                },
                "examples": {
                  "response": {
                    "value": {
                      "id": 22,
                      "name": "Weekly - 1",
                      "subject": "Week 1 - Newsletter",
                      "previewText": "your weekly newsletter!",
                      "type": "classic",
                      "status": "draft",
                      "scheduledAt": "2017-09-22T12:30:00Z",
                      "testSent": false,
                      "header": "[DEFAULT_HEADER]",
                      "footer": "[DEFAULT_FOOTER]",
                      "sender": {
                        "email": "newsletter@mycompany.com",
                        "name": "Newsletter",
                        "id": 26
                      },
                      "replyTo": "replyto@domain.com",
                      "toField": "{FNAME} {LNAME}",
                      "htmlContent": "This is my HTML Content",
                      "shareLink": "http://dhh.brevo.com/fhsgccc.html?t=9865448900",
                      "tag": "Newsletter",
                      "createdAt": "2017-05-01T12:30:00Z",
                      "modifiedAt": "2017-05-01T12:30:00Z",
                      "inlineImageActivation": true,
                      "mirrorActive": true,
                      "recurring": false,
                      "recipients": {
                        "lists": [
                          22
                        ],
                        "exclusionLists": [
                          45
                        ]
                      },
                      "statistics": {
                        "globalStats": {
                          "uniqueClicks": 2300,
                          "clickers": 2665,
                          "complaints": 1,
                          "delivered": 19765,
                          "sent": 19887,
                          "softBounces": 100,
                          "hardBounces": 87,
                          "uniqueViews": 7779,
                          "trackableViews": 5661,
                          "trackableViewsRate": 23.45,
                          "estimatedViews": 560,
                          "unsubscriptions": 2,
                          "viewed": 8999
                        },
                        "campaignStats": [
                          {
                            "listId": 22,
                            "uniqueClicks": 2300,
                            "clickers": 2665,
                            "complaints": 1,
                            "delivered": 19765,
                            "sent": 19887,
                            "softBounces": 100,
                            "hardBounces": 87,
                            "uniqueViews": 7779,
                            "trackableViews": 5661,
                            "unsubscriptions": 2,
                            "viewed": 8999,
                            "deferred": 30
                          }
                        ],
                        "mirrorClick": 120,
                        "remaining": 1000,
                        "linksStats": {
                          "http://myUrl1.domain.com": {
                            "nbClick": 80
                          },
                          "http://myUrl2.domain.com": {
                            "nbClick": 80
                          },
                          "http://myUrl3.domain.com": {
                            "nbClick": 80
                          }
                        },
                        "statsByDomain": {
                          "gmail": {
                            "uniqueClicks": 2300,
                            "clickers": 2665,
                            "complaints": 1,
                            "delivered": 19765,
                            "sent": 19887,
                            "softBounces": 100,
                            "hardBounces": 87,
                            "uniqueViews": 7779,
                            "unsubscriptions": 2,
                            "viewed": 8999,
                            "deferred": 30
                          }
                        },
                        "statsByDevice": {
                          "desktop": {
                            "mac": {
                              "clickers": 1,
                              "uniqueClicks": 0,
                              "viewed": 2,
                              "uniqueViews": 1
                            }
                          },
                          "mobile": {
                            "androidMobile": {
                              "clickers": 1,
                              "uniqueClicks": 0,
                              "viewed": 1,
                              "uniqueViews": 0
                            },
                            "iPhone": {
                              "clickers": 1,
                              "uniqueClicks": 0,
                              "viewed": 2,
                              "uniqueViews": 0
                            }
                          }
                        },
                        "statsByBrowser": {
                          "thunderbird": {
                            "clickers": 1,
                            "uniqueClicks": 0,
                            "viewed": 1,
                            "uniqueViews": 0
                          },
                          "safari": {
                            "clickers": 1,
                            "uniqueClicks": 0,
                            "viewed": 1,
                            "uniqueViews": 0
                          },
                          "internetExplorer": {
                            "clickers": 0,
                            "uniqueClicks": 0,
                            "viewed": 1,
                            "uniqueViews": 0
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorModel"
                }
              }
            }
          },
          "404": {
            "description": "Campaign ID not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorModel"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Email Campaigns"
        ],
        "summary": "Update an email campaign",
        "operationId": "updateEmailCampaign",
        "parameters": [
          {
            "name": "campaignId",
            "in": "path",
            "description": "Id of the campaign",
            "required": true,
            "x-exportParamName": "CampaignId",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/updateEmailCampaign"
              }
            }
          },
          "description": "Values to update a campaign",
          "required": true,
          "x-exportParamName": "EmailCampaign"
        },
        "responses": {
          "204": {
            "description": "Email Campaign has been updated"
          },
          "400": {
            "description": "bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorModel"
                }
              }
            }
          },
          "404": {
            "description": "Campaign ID not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorModel"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Email Campaigns"
        ],
        "summary": "Delete an email campaign",
        "operationId": "deleteEmailCampaign",
        "parameters": [
          {
            "name": "campaignId",
            "in": "path",
            "description": "id of the campaign",
            "required": true,
            "x-exportParamName": "CampaignId",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Email campaign has been deleted"
          },
          "400": {
            "description": "bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorModel"
                }
              }
            }
          },
          "404": {
            "description": "Campaign ID not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorModel"
                }
              }
            }
          }
        }
      }
    },
    "/emailCampaigns/{campaignId}/sendNow": {
      "post": {
        "tags": [
          "Email Campaigns"
        ],
        "summary": "Send an email campaign immediately, based on campaignId",
        "operationId": "sendEmailCampaignNow",
        "parameters": [
          {
            "name": "campaignId",
            "in": "path",
            "description": "Id of the campaign",
            "required": true,
            "x-exportParamName": "CampaignId",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Email campaign has been scheduled"
          },
          "400": {
            "description": "Campaign could not be sent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorModel"
                }
              }
            }
          },
          "402": {
            "description": "You don't have enough credit to send your campaign. Please update your plan",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorModel"
                }
              }
            }
          },
          "404": {
            "description": "Campaign ID not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorModel"
                }
              }
            }
          }
        }
      }
    },
    "/emailCampaigns/{campaignId}/sendTest": {
      "post": {
        "tags": [
          "Email Campaigns"
        ],
        "summary": "Send an email campaign to your test list",
        "operationId": "sendTestEmail",
        "parameters": [
          {
            "name": "campaignId",
            "in": "path",
            "description": "Id of the campaign",
            "required": true,
            "x-exportParamName": "CampaignId",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/sendTestEmail"
              }
            }
          },
          "required": true,
          "x-exportParamName": "EmailTo"
        },
        "responses": {
          "204": {
            "description": "Test email has been sent successfully to all recipients"
          },
          "400": {
            "description": "Test email could not be sent to the following email addresses",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/postSendFailed"
                }
              }
            }
          },
          "404": {
            "description": "Campaign ID not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorModel"
                }
              }
            }
          }
        }
      }
    },
    "/emailCampaigns/{campaignId}/status": {
      "put": {
        "tags": [
          "Email Campaigns"
        ],
        "summary": "Update an email campaign status",
        "operationId": "updateCampaignStatus",
        "parameters": [
          {
            "name": "campaignId",
            "in": "path",
            "description": "Id of the campaign",
            "required": true,
            "x-exportParamName": "CampaignId",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/updateCampaignStatus"
              }
            }
          },
          "description": "Status of the campaign",
          "required": true,
          "x-exportParamName": "Status"
        },
        "responses": {
          "204": {
            "description": "The campaign status has been updated successfully"
          },
          "400": {
            "description": "bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorModel"
                }
              }
            }
          },
          "404": {
            "description": "Campaign ID not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorModel"
                }
              }
            }
          }
        }
      }
    },
    "/emailCampaigns/{campaignId}/sendReport": {
      "post": {
        "tags": [
          "Email Campaigns"
        ],
        "summary": "Send the report of a campaign",
        "description": "A PDF will be sent to the specified email addresses",
        "operationId": "sendReport",
        "parameters": [
          {
            "name": "campaignId",
            "in": "path",
            "description": "Id of the campaign",
            "required": true,
            "x-exportParamName": "CampaignId",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/sendReport"
        },
        "responses": {
          "204": {
            "description": "Report has been successfully sent to the defined recipients"
          },
          "400": {
            "description": "bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorModel"
                }
              }
            }
          },
          "404": {
            "description": "Campaign ID not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorModel"
                }
              }
            }
          }
        }
      }
    },
    "/emailCampaigns/{campaignId}/abTestCampaignResult": {
      "get": {
        "tags": [
          "Email Campaigns"
        ],
        "summary": "Get an A/B test email campaign results",
        "description": "Obtain winning version of an A/B test email campaign",
        "operationId": "getAbTestCampaignResult",
        "parameters": [
          {
            "name": "campaignId",
            "in": "path",
            "description": "Id of the A/B test campaign",
            "required": true,
            "x-exportParamName": "CampaignId",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A/B test email campaign Result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/abTestCampaignResult"
                },
                "examples": {
                  "response": {
                    "value": {
                      "winningVersion": "B",
                      "winningCriteria": "Click",
                      "openRate": "100%",
                      "clickRate": "50%",
                      "winningVersionRate": "0%",
                      "statistics": {
                        "openers": {
                          "Version A": "20%",
                          "Version B": "100%"
                        },
                        "clicks": {
                          "Version A": "0%",
                          "Version B": "50%"
                        },
                        "unsubscribed": {
                          "Version A": "20%",
                          "Version B": "0%"
                        },
                        "softBounces": {
                          "Version A": "0%",
                          "Version B": "0%"
                        },
                        "hardBounces": {
                          "Version A": "0%",
                          "Version B": "0%"
                        },
                        "complaints": {
                          "Version A": "0%",
                          "Version B": "0%"
                        }
                      },
                      "clickedLinks": {
                        "Version A": [
                          {
                            "link": "http://www.google.com",
                            "clicksCount": 0,
                            "clickRate": "0%"
                          },
                          {
                            "link": "http://www.youtube.com",
                            "clicksCount": 0,
                            "clickRate": "0%"
                          }
                        ],
                        "Version B": [
                          {
                            "link": "http://www.github.com",
                            "clicksCount": 2,
                            "clickRate": "40%"
                          },
                          {
                            "link": "http://www.stackoverflow.com",
                            "clicksCount": 3,
                            "clickRate": "60%"
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorModel"
                }
              }
            }
          },
          "404": {
            "description": "A/B test Email Campaign not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorModel"
                }
              }
            }
          },
          "405": {
            "description": "Only email campaigns or templates are allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorModel"
                }
              }
            }
          }
        }
      }
    },
    "/emailCampaigns/{campaignId}/sharedUrl": {
      "get": {
        "tags": [
          "Email Campaigns"
        ],
        "summary": "Get a shared template url",
        "description": "Get a unique URL to share & import an email template from one Brevo account to another.",
        "operationId": "getSharedTemplateUrl",
        "parameters": [
          {
            "name": "campaignId",
            "in": "path",
            "description": "Id of the campaign or template",
            "required": true,
            "x-exportParamName": "CampaignId",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Shared template URL information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/getSharedTemplateUrl"
                },
                "examples": {
                  "response": {
                    "value": {
                      "sharedUrl": "https://my.brevo.com/pt2YU7R5W_guXlowgumy_VX4pFsKu._zd0Gjj96x1_GMmzc1Qps5ZIpj6nx-"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorModel"
                }
              }
            }
          },
          "404": {
            "description": "Campaign/Template ID not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorModel"
                }
              }
            }
          }
        }
      }
    },
    "/emailCampaigns/{campaignId}/exportRecipients": {
      "post": {
        "tags": [
          "Email Campaigns"
        ],
        "summary": "Export the recipients of an email campaign",
        "operationId": "emailExportRecipients",
        "parameters": [
          {
            "name": "campaignId",
            "in": "path",
            "description": "Id of the campaign",
            "required": true,
            "x-exportParamName": "CampaignId",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/emailExportRecipients"
              }
            }
          },
          "description": "Values to send for a recipient export request",
          "x-exportParamName": "RecipientExport"
        },
        "responses": {
          "202": {
            "description": "Recipient export request has been accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/createdProcessId"
                }
              }
            }
          },
          "400": {
            "description": "bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorModel"
                }
              }
            }
          },
          "404": {
            "description": "Campaign ID not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorModel"
                }
              }
            }
          }
        }
      }
    },
    "/emailCampaigns/images": {
      "post": {
        "tags": [
          "Email Campaigns"
        ],
        "summary": "Upload an image to your account's image gallery",
        "operationId": "uploadImageToGallery",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/uploadImageToGallery"
              }
            }
          },
          "description": "Parameters to upload an image",
          "required": true,
          "x-exportParamName": "UploadImage"
        },
        "responses": {
          "201": {
            "description": "Image successfully uploaded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/uploadImageModel"
                }
              }
            }
          },
          "400": {
            "description": "bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorModel"
                }
              }
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "api-key": []
    }
  ],
  "components": {
    "securitySchemes": {
      "api-key": {
        "description": "The API key should be passed in the request headers as `api-key` for authentication.",
        "type": "apiKey",
        "name": "api-key",
        "in": "header"
      }
    },
    "requestBodies": {
      "sendReport": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/sendReport"
            }
          }
        },
        "description": "Values for send a report",
        "required": true,
        "x-exportParamName": "SendReport"
      }
    },
    "schemas": {
      "abTestCampaignResult": {
        "type": "object",
        "properties": {
          "winningVersion": {
            "type": "string",
            "example": "A",
            "description": "Winning Campaign Info. pending = Campaign has been picked for sending and winning version is yet to be decided, tie = A tie happened between both the versions, notAvailable = Campaign has not yet been picked for sending.",
            "enum": [
              "notAvailable",
              "pending",
              "tie",
              "A",
              "B"
            ]
          },
          "winningCriteria": {
            "type": "string",
            "example": "Open",
            "description": "Criteria choosen for winning version (Open/Click)",
            "enum": [
              "Open",
              "Click"
            ]
          },
          "winningSubjectLine": {
            "type": "string",
            "example": "Subject Line A",
            "description": "Subject Line of current winning version"
          },
          "openRate": {
            "type": "string",
            "example": "70%",
            "description": "Open rate for current winning version"
          },
          "clickRate": {
            "type": "string",
            "example": "70%",
            "description": "Click rate for current winning version"
          },
          "winningVersionRate": {
            "type": "string",
            "example": "70%",
            "description": "Open/Click rate for the winner version"
          },
          "statistics": {
            "$ref": "#/components/schemas/abTestCampaignResult_statistics"
          },
          "clickedLinks": {
            "$ref": "#/components/schemas/abTestCampaignResult_clickedLinks"
          }
        }
      },
      "abTestCampaignResult_clickedLinks": {
        "type": "object",
        "required": [
          "Version A",
          "Version B"
        ],
        "properties": {
          "Version A": {
            "$ref": "#/components/schemas/abTestVersionClicks"
          },
          "Version B": {
            "$ref": "#/components/schemas/abTestVersionClicks"
          }
        }
      },
      "abTestCampaignResult_statistics": {
        "type": "object",
        "required": [
          "clicks",
          "complaints",
          "hardBounces",
          "openers",
          "softBounces",
          "unsubscribed"
        ],
        "properties": {
          "openers": {
            "$ref": "#/components/schemas/abTestVersionStats"
          },
          "clicks": {
            "$ref": "#/components/schemas/abTestVersionStats"
          },
          "unsubscribed": {
            "$ref": "#/components/schemas/abTestVersionStats"
          },
          "hardBounces": {
            "$ref": "#/components/schemas/abTestVersionStats"
          },
          "softBounces": {
            "$ref": "#/components/schemas/abTestVersionStats"
          },
          "complaints": {
            "$ref": "#/components/schemas/abTestVersionStats"
          }
        }
      },
      "abTestVersionClicks": {
        "type": "array",
        "description": "Information on clicked links for a particular version",
        "items": {
          "$ref": "#/components/schemas/abTestVersionClicks_inner"
        }
      },
      "abTestVersionClicks_inner": {
        "type": "object",
        "required": [
          "clickRate",
          "clicksCount",
          "link"
        ],
        "properties": {
          "link": {
            "type": "string",
            "example": "https://facbook.com/versionA",
            "description": "URL of the link"
          },
          "clicksCount": {
            "type": "integer",
            "format": "int64",
            "example": 3,
            "description": "Number of times a link is clicked"
          },
          "clickRate": {
            "type": "string",
            "example": "40%",
            "description": "Percentage of clicks of link with respect to total clicks"
          }
        }
      },
      "abTestVersionStats": {
        "type": "object",
        "required": [
          "Version A",
          "Version B"
        ],
        "properties": {
          "Version A": {
            "type": "string",
            "example": "50%",
            "description": "percentage of an event for version A"
          },
          "Version B": {
            "type": "string",
            "example": "50%",
            "description": "percentage of an event for version B"
          }
        },
        "description": "Percentage of a particular event for both versions"
      },
      "createEmailCampaign": {
        "type": "object",
        "required": [
          "name",
          "sender"
        ],
        "properties": {
          "tag": {
            "type": "string",
            "example": "Newsletter",
            "description": "Tag of the campaign"
          },
          "sender": {
            "$ref": "#/components/schemas/createEmailCampaign_sender"
          },
          "name": {
            "type": "string",
            "example": "Newsletter - May 2017",
            "description": "Name of the campaign"
          },
          "htmlContent": {
            "type": "string",
            "example": "<!DOCTYPE html> <html> <body> <h1>Confirm you email</h1> <p>Please confirm your email address by clicking on the link below</p> </body> </html>",
            "description": "Mandatory if htmlUrl and templateId are empty. Body of the message (HTML)"
          },
          "htmlUrl": {
            "type": "string",
            "format": "url",
            "example": "https://html.domain.com",
            "description": "Mandatory if htmlContent and templateId are empty. Url to the message (HTML)"
          },
          "templateId": {
            "type": "integer",
            "format": "int64",
            "description": "Mandatory if htmlContent and htmlUrl are empty. Id of the transactional email template with status 'active'. Used to copy only its content fetched from htmlContent/htmlUrl to an email campaign for RSS feature."
          },
          "scheduledAt": {
            "type": "string",
            "example": "2017-06-01T12:30:00+02:00",
            "description": "Sending UTC date-time (YYYY-MM-DDTHH:mm:ss.SSSZ). Prefer to pass your timezone in date-time format for accurate result. If sendAtBestTime is set to true, your campaign will be sent according to the date passed (ignoring the time part)."
          },
          "subject": {
            "type": "string",
            "example": "Discover the New Collection !",
            "description": "Subject of the campaign. Mandatory if abTesting is false. Ignored if abTesting is true."
          },
          "previewText": {
            "type": "string",
            "example": "Thanks for your order!",
            "description": "Preview text or preheader of the email campaign"
          },
          "replyTo": {
            "type": "string",
            "format": "email",
            "example": "support@myshop.com",
            "description": "Email on which the campaign recipients will be able to reply to"
          },
          "toField": {
            "type": "string",
            "example": "{FNAME} {LNAME}",
            "description": "To personalize the «To» Field. If you want to include the first name and last name of your recipient, add {FNAME} {LNAME}. These contact attributes must already exist in your Brevo account. If input parameter 'params' used please use {{contact.FNAME}} {{contact.LNAME}} for personalization"
          },
          "recipients": {
            "$ref": "#/components/schemas/createEmailCampaign_recipients"
          },
          "attachmentUrl": {
            "type": "string",
            "format": "url",
            "example": "https://attachment.domain.com",
            "description": "Absolute url of the attachment (no local file). Extension allowed: xlsx, xls, ods, docx, docm, doc, csv, pdf, txt, gif, jpg, jpeg, png, tif, tiff, rtf, bmp, cgm, css, shtml, html, htm, zip, xml, ppt, pptx, tar, ez, ics, mobi, msg, pub and eps"
          },
          "inlineImageActivation": {
            "type": "boolean",
            "example": true,
            "description": "Use true to embedded the images in your email. Final size of the email should be less than 4MB. Campaigns with embedded images can not be sent to more than 5000 contacts",
            "default": false
          },
          "mirrorActive": {
            "type": "boolean",
            "example": true,
            "description": "Use true to enable the mirror link"
          },
          "footer": {
            "type": "string",
            "example": "[DEFAULT_FOOTER]",
            "description": "Footer of the email campaign"
          },
          "header": {
            "type": "string",
            "example": "[DEFAULT_HEADER]",
            "description": "Header of the email campaign"
          },
          "utmCampaign": {
            "type": "string",
            "example": "NL_05_2017",
            "description": "Customize the utm_campaign value. If this field is empty, the campaign name will be used. Only alphanumeric characters and spaces are allowed"
          },
          "params": {
            "type": "object",
            "example": {
              "FNAME": "Joe",
              "LNAME": "Doe"
            },
            "description": "Pass the set of attributes to customize the type classic campaign. For example, {\"FNAME\":\"Joe\", \"LNAME\":\"Doe\"}. Only available if 'type' is 'classic'. It's considered only if campaign is in New Template Language format. The New Template Language is dependent on the values of 'subject', 'htmlContent/htmlUrl', 'sender.name' & 'toField'",
            "properties": {}
          },
          "sendAtBestTime": {
            "type": "boolean",
            "example": true,
            "description": "Set this to true if you want to send your campaign at best time.",
            "default": false
          },
          "abTesting": {
            "type": "boolean",
            "example": true,
            "description": "Status of A/B Test. abTesting = false means it is disabled, & abTesting = true means it is enabled. 'subjectA', 'subjectB', 'splitRule', 'winnerCriteria' & 'winnerDelay' will be considered when abTesting is set to true. 'subjectA' & 'subjectB' are mandatory together & 'subject' if passed is ignored. Can be set to true only if 'sendAtBestTime' is 'false'. You will be able to set up two subject lines for your campaign and send them to a random sample of your total recipients. Half of the test group will receive version A, and the other half will receive version B",
            "default": false
          },
          "subjectA": {
            "type": "string",
            "example": "Discover the New Collection!",
            "description": "Subject A of the campaign. Mandatory if abTesting = true. subjectA & subjectB should have unique value"
          },
          "subjectB": {
            "type": "string",
            "example": "Want to discover the New Collection?",
            "description": "Subject B of the campaign. Mandatory if abTesting = true. subjectA & subjectB should have unique value"
          },
          "splitRule": {
            "type": "integer",
            "format": "int64",
            "example": 50,
            "description": "Add the size of your test groups. Mandatory if abTesting = true & 'recipients' is passed. We'll send version A and B to a random sample of recipients, and then the winning version to everyone else",
            "minimum": 1,
            "maximum": 50
          },
          "winnerCriteria": {
            "type": "string",
            "example": "open",
            "description": "Choose the metrics that will determinate the winning version. Mandatory if 'splitRule' >= 1 and < 50. If splitRule = 50, 'winnerCriteria' is ignored if passed",
            "enum": [
              "open",
              "click"
            ]
          },
          "winnerDelay": {
            "type": "integer",
            "format": "int64",
            "example": 50,
            "description": "Choose the duration of the test in hours. Maximum is 7 days, pass 24*7 = 168 hours. The winning version will be sent at the end of the test. Mandatory if 'splitRule' >= 1 and < 50. If splitRule = 50, 'winnerDelay' is ignored if passed",
            "minimum": 1,
            "maximum": 168
          },
          "ipWarmupEnable": {
            "type": "boolean",
            "example": true,
            "description": "Available for dedicated ip clients. Set this to true if you wish to warm up your ip.",
            "default": false
          },
          "initialQuota": {
            "type": "integer",
            "format": "int64",
            "example": 3000,
            "description": "Mandatory if ipWarmupEnable is set to true. Set an initial quota greater than 1 for warming up your ip. We recommend you set a value of 3000."
          },
          "increaseRate": {
            "type": "integer",
            "format": "int64",
            "example": 70,
            "description": "Mandatory if ipWarmupEnable is set to true. Set a percentage increase rate for warming up your ip. We recommend you set the increase rate to 30% per day. If you want to send the same number of emails every day, set the daily increase value to 0%.",
            "minimum": 0,
            "maximum": 100
          },
          "unsubscriptionPageId": {
            "type": "string",
            "example": "62cbb7fabbe85021021aac52",
            "description": "Enter an unsubscription page id. The page id is a 24 digit alphanumeric id that can be found in the URL when editing the page. If not entered, then the default unsubscription page will be used."
          },
          "updateFormId": {
            "type": "string",
            "example": "6313436b9ad40e23b371d095",
            "description": "Mandatory if templateId is used containing the {{ update_profile }} tag. Enter an update profile form id. The form id is a 24 digit alphanumeric id that can be found in the URL when editing the form. If not entered, then the default update profile form will be used."
          }
        }
      },
      "createEmailCampaign_recipients": {
        "type": "object",
        "properties": {
          "exclusionListIds": {
            "type": "array",
            "description": "List ids to exclude from the campaign",
            "items": {
              "type": "integer",
              "format": "int64",
              "example": 8
            }
          },
          "listIds": {
            "type": "array",
            "description": "Mandatory if scheduledAt is not empty. List Ids to send the campaign to",
            "items": {
              "type": "integer",
              "format": "int64",
              "example": 32
            }
          },
          "segmentIds": {
            "type": "array",
            "description": "Mandatory if listIds are not used. Segment ids to send the campaign to.",
            "items": {
              "type": "integer",
              "format": "int64",
              "example": 23
            }
          }
        },
        "description": "Segment ids and List ids to include/exclude from campaign"
      },
      "createEmailCampaign_sender": {
        "type": "object",
        "required": [
          "email"
        ],
        "properties": {
          "name": {
            "type": "string",
            "example": "Mary from MyShop",
            "description": "Sender Name"
          },
          "email": {
            "type": "string",
            "format": "email",
            "example": "newsletter@myshop.com",
            "description": "Sender email"
          },
          "id": {
            "type": "integer",
            "format": "int64",
            "example": 3,
            "description": "Select the sender for the campaign on the basis of sender id. In order to select a sender with specific pool of IP’s, dedicated ip users shall pass id (instead of email)."
          }
        },
        "description": "Sender details including id or email and name (optional). Only one of either Sender's email or Sender's ID shall be passed in one request at a time. For example `{\"name\":\"xyz\", \"email\":\"example@abc.com\"}` , `{\"name\":\"xyz\", \"id\":123}`"
      },
      "createModel": {
        "type": "object",
        "required": [
          "id"
        ],
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64",
            "example": 122,
            "description": "ID of the object created"
          }
        },
        "example": {
          "id": 122
        }
      },
      "createdProcessId": {
        "type": "object",
        "required": [
          "processId"
        ],
        "properties": {
          "processId": {
            "type": "integer",
            "format": "int64",
            "example": 78,
            "description": "Id of the process created"
          }
        },
        "example": {
          "processId": 78
        }
      },
      "emailExportRecipients": {
        "type": "object",
        "required": [
          "recipientsType"
        ],
        "properties": {
          "notifyURL": {
            "type": "string",
            "format": "url",
            "example": "http://requestb.in/173lyyx1",
            "description": "Webhook called once the export process is finished. For reference, https://help.brevo.com/hc/en-us/articles/360007666479"
          },
          "recipientsType": {
            "type": "string",
            "example": "openers",
            "description": "Type of recipients to export for a campaign",
            "enum": [
              "all",
              "nonClickers",
              "nonOpeners",
              "clickers",
              "openers",
              "softBounces",
              "hardBounces",
              "unsubscribed"
            ]
          }
        }
      },
      "errorModel": {
        "type": "object",
        "required": [
          "code",
          "message"
        ],
        "properties": {
          "code": {
            "type": "string",
            "example": "method_not_allowed",
            "description": "Error code displayed in case of a failure",
            "enum": [
              "invalid_parameter",
              "missing_parameter",
              "out_of_range",
              "campaign_processing",
              "campaign_sent",
              "document_not_found",
              "reseller_permission_denied",
              "not_enough_credits",
              "permission_denied",
              "duplicate_parameter",
              "duplicate_request",
              "method_not_allowed",
              "unauthorized",
              "account_under_validation",
              "not_acceptable",
              "bad_request",
              "unprocessable_entity"
            ]
          },
          "message": {
            "type": "string",
            "example": "POST Method is not allowed on this path",
            "description": "Readable message associated to the failure"
          }
        }
      },
      "getCampaignOverview": {
        "type": "object",
        "required": [
          "id",
          "name",
          "status",
          "type"
        ],
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64",
            "example": 12,
            "description": "ID of the campaign"
          },
          "name": {
            "type": "string",
            "example": "EN - Sales Summer 2017",
            "description": "Name of the campaign"
          },
          "subject": {
            "type": "string",
            "example": "20% OFF for 2017 Summer Sales",
            "description": "Subject of the campaign. Only available if `abTesting` flag of the campaign is `false`"
          },
          "previewText": {
            "type": "string",
            "example": "Thanks for your order!",
            "description": "Preview text or preheader of the email campaign"
          },
          "type": {
            "type": "string",
            "example": "classic",
            "description": "Type of campaign",
            "enum": [
              "classic",
              "trigger"
            ]
          },
          "status": {
            "type": "string",
            "example": "sent",
            "description": "Status of the campaign",
            "enum": [
              "draft",
              "sent",
              "archive",
              "queued",
              "suspended",
              "in_process"
            ]
          },
          "scheduledAt": {
            "type": "string",
            "example": "2017-06-01T12:30:00Z",
            "description": "UTC date-time on which campaign is scheduled (YYYY-MM-DDTHH:mm:ss.SSSZ)"
          },
          "abTesting": {
            "type": "boolean",
            "example": true,
            "description": "Status of A/B Test for the campaign. abTesting = false means it is disabled, & abTesting = true means it is enabled."
          },
          "subjectA": {
            "type": "string",
            "example": "Discover the New Collection!",
            "description": "Subject A of the ab-test campaign. Only available if `abTesting` flag of the campaign is `true`"
          },
          "subjectB": {
            "type": "string",
            "example": "Want to discover the New Collection?",
            "description": "Subject B of the ab-test campaign. Only available if `abTesting` flag of the campaign is `true`"
          },
          "splitRule": {
            "type": "integer",
            "example": 25,
            "description": "The size of your ab-test groups. Only available if `abTesting` flag of the campaign is `true`"
          },
          "winnerCriteria": {
            "type": "string",
            "example": "open",
            "description": "Criteria for the winning version. Only available if `abTesting` flag of the campaign is `true`"
          },
          "winnerDelay": {
            "type": "integer",
            "example": 50,
            "description": "The duration of the test in hours at the end of which the winning version will be sent. Only available if `abTesting` flag of the campaign is `true`"
          },
          "sendAtBestTime": {
            "type": "boolean",
            "example": true,
            "description": "It is true if you have chosen to send your campaign at best time, otherwise it is false"
          }
        }
      },
      "getCampaignRecipients": {
        "type": "object",
        "required": [
          "exclusionLists",
          "lists"
        ],
        "properties": {
          "lists": {
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int64",
              "example": 21,
              "description": "List IDs included in the campaign"
            }
          },
          "exclusionLists": {
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int64",
              "example": 13,
              "description": "List IDs excluded of the campaign"
            }
          }
        }
      },
      "getCampaignStats": {
        "type": "object",
        "required": [
          "clickers",
          "complaints",
          "delivered",
          "hardBounces",
          "sent",
          "softBounces",
          "trackableViews",
          "uniqueClicks",
          "uniqueViews",
          "unsubscriptions",
          "viewed"
        ],
        "properties": {
          "listId": {
            "type": "integer",
            "format": "int64",
            "example": 2,
            "description": "List Id of email campaign (only in case of get email campaign(s)(not for global stats))"
          },
          "uniqueClicks": {
            "type": "integer",
            "format": "int64",
            "example": 2300,
            "description": "Number of unique clicks for the campaign"
          },
          "clickers": {
            "type": "integer",
            "format": "int64",
            "example": 2665,
            "description": "Number of total clicks for the campaign"
          },
          "complaints": {
            "type": "integer",
            "format": "int64",
            "example": 1,
            "description": "Number of complaints (Spam reports) for the campaign"
          },
          "delivered": {
            "type": "integer",
            "format": "int64",
            "example": 19765,
            "description": "Number of delivered emails for the campaign"
          },
          "sent": {
            "type": "integer",
            "format": "int64",
            "example": 19887,
            "description": "Number of sent emails for the campaign"
          },
          "softBounces": {
            "type": "integer",
            "format": "int64",
            "example": 100,
            "description": "Number of softbounce for the campaign"
          },
          "hardBounces": {
            "type": "integer",
            "format": "int64",
            "example": 87,
            "description": "Number of harbounce for the campaign"
          },
          "uniqueViews": {
            "type": "integer",
            "format": "int64",
            "example": 7779,
            "description": "Number of unique openings for the campaign"
          },
          "trackableViews": {
            "type": "integer",
            "format": "int64",
            "example": 5661,
            "description": "Recipients without any privacy protection option enabled in their email client"
          },
          "trackableViewsRate": {
            "type": "number",
            "format": "float",
            "example": 23.45,
            "description": "Rate of recipients without any privacy protection option enabled in their email client"
          },
          "estimatedViews": {
            "type": "integer",
            "format": "int64",
            "example": 560,
            "description": "Rate of recipients without any privacy protection option enabled in their email client, applied to all delivered emails"
          },
          "unsubscriptions": {
            "type": "integer",
            "format": "int64",
            "example": 2,
            "description": "Number of unsubscription for the campaign"
          },
          "viewed": {
            "type": "integer",
            "format": "int64",
            "example": 8999,
            "description": "Number of openings for the campaign"
          },
          "deferred": {
            "type": "integer",
            "format": "int64",
            "example": 30,
            "description": "Number of deferred emails for the campaign"
          },
          "returnBounce": {
            "type": "integer",
            "format": "int64",
            "example": 5,
            "description": "Total number of non-delivered campaigns for a particular campaign id."
          }
        }
      },
      "getDeviceBrowserStats": {
        "type": "object",
        "required": [
          "clickers",
          "uniqueClicks",
          "uniqueViews",
          "viewed"
        ],
        "properties": {
          "clickers": {
            "type": "integer",
            "format": "int64",
            "example": 2665,
            "description": "Number of total clicks for the campaign using the particular browser"
          },
          "uniqueClicks": {
            "type": "integer",
            "format": "int64",
            "example": 2300,
            "description": "Number of unique clicks for the campaign using the particular browser"
          },
          "viewed": {
            "type": "integer",
            "format": "int64",
            "example": 8999,
            "description": "Number of openings for the campaign using the particular browser"
          },
          "uniqueViews": {
            "type": "integer",
            "format": "int64",
            "example": 7779,
            "description": "Number of unique openings for the campaign using the particular browser"
          }
        }
      },
      "getEmailCampaign": {
        "allOf": [
          {
            "$ref": "#/components/schemas/getExtendedCampaignOverview"
          },
          {
            "type": "object",
            "required": [
              "recipients",
              "statistics"
            ],
            "properties": {
              "recipients": {
                "type": "object",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/getCampaignRecipients"
                  }
                ]
              },
              "statistics": {
                "type": "object",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/getExtendedCampaignStats"
                  }
                ]
              }
            }
          }
        ]
      },
      "getEmailCampaigns": {
        "type": "object",
        "properties": {
          "campaigns": {
            "type": "array",
            "items": {
              "type": "object",
              "allOf": [
                {
                  "$ref": "#/components/schemas/getExtendedCampaignOverview"
                },
                {
                  "type": "object",
                  "properties": {
                    "recipients": {
                      "type": "object",
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/getCampaignRecipients"
                        }
                      ]
                    },
                    "statistics": {
                      "type": "object",
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/getExtendedCampaignStats"
                        }
                      ]
                    },
                    "shareLink": {
                      "type": "string",
                      "format": "url",
                      "example": "http://dhh.brevo.com/fhsgccc.html?t=9865448900",
                      "description": "Link to share the campaign on social medias"
                    }
                  },
                  "required": [
                    "recipients",
                    "statistics"
                  ]
                }
              ]
            }
          },
          "count": {
            "type": "integer",
            "format": "int64",
            "example": 24,
            "description": "Number of Email campaigns retrieved"
          }
        }
      },
      "getExtendedCampaignOverview": {
        "allOf": [
          {
            "$ref": "#/components/schemas/getCampaignOverview"
          },
          {
            "type": "object",
            "required": [
              "createdAt",
              "footer",
              "header",
              "htmlContent",
              "modifiedAt",
              "replyTo",
              "sender",
              "testSent"
            ],
            "properties": {
              "utmCampaignValue": {
                "type": "string",
                "example": "myutm",
                "description": "utm parameter associated with campaign"
              },
              "utmSource": {
                "type": "string",
                "example": "Brevo",
                "description": "source of utm parameter"
              },
              "utmMedium": {
                "type": "string",
                "example": "EMAIL",
                "description": "medium parameter"
              },
              "utmID": {
                "type": "integer",
                "example": 10,
                "description": "utm id"
              },
              "testSent": {
                "type": "boolean",
                "example": true,
                "description": "Retrieved the status of test email sending. (true=Test email has been sent  false=Test email has not been sent)"
              },
              "header": {
                "type": "string",
                "example": "[DEFAULT_HEADER]",
                "description": "Header of the campaign"
              },
              "footer": {
                "type": "string",
                "example": "[DEFAULT_FOOTER]",
                "description": "Footer of the campaign"
              },
              "sender": {
                "$ref": "#/components/schemas/getExtendedCampaignOverview_sender"
              },
              "replyTo": {
                "type": "string",
                "format": "email",
                "example": "replyto@domain.com",
                "description": "Email defined as the \"Reply to\" of the campaign"
              },
              "toField": {
                "type": "string",
                "example": "{FNAME} {LNAME}",
                "description": "Customisation of the \"to\" field of the campaign"
              },
              "htmlContent": {
                "type": "string",
                "example": "This is my HTML Content",
                "description": "HTML content of the campaign"
              },
              "shareLink": {
                "type": "string",
                "format": "url",
                "example": "http://dhh.brevo.com/fhsgccc.html?t=9865448900",
                "description": "Link to share the campaign on social medias"
              },
              "tag": {
                "type": "string",
                "example": "Newsletter",
                "description": "Tag of the campaign"
              },
              "createdAt": {
                "type": "string",
                "example": "2017-05-01T12:30:00Z",
                "description": "Creation UTC date-time of the campaign (YYYY-MM-DDTHH:mm:ss.SSSZ)"
              },
              "modifiedAt": {
                "type": "string",
                "example": "2017-05-01T12:30:00Z",
                "description": "UTC date-time of last modification of the campaign (YYYY-MM-DDTHH:mm:ss.SSSZ)"
              },
              "inlineImageActivation": {
                "type": "boolean",
                "example": true,
                "description": "Status of inline image. inlineImageActivation = false means image can’t be embedded, & inlineImageActivation = true means image can be embedded, in the email."
              },
              "mirrorActive": {
                "type": "boolean",
                "example": true,
                "description": "Status of mirror links in campaign. mirrorActive = false means mirror links are deactivated, & mirrorActive = true means mirror links are activated, in the campaign"
              },
              "recurring": {
                "type": "boolean",
                "example": true,
                "description": "FOR TRIGGER ONLY ! Type of trigger campaign.recurring = false means contact can receive the same Trigger campaign only once, & recurring = true means contact can receive the same Trigger campaign several times"
              },
              "sentDate": {
                "type": "string",
                "example": "2018-12-01T16:30:00Z",
                "description": "Sent UTC date-time of the campaign (YYYY-MM-DDTHH:mm:ss.SSSZ). Only available if 'status' of the campaign is 'sent'"
              },
              "returnBounce": {
                "type": "integer",
                "format": "int64",
                "example": 5,
                "description": "Total number of non-delivered campaigns for a particular campaign id."
              }
            }
          }
        ]
      },
      "getExtendedCampaignOverview_sender": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "example": "Marketing",
            "description": "Sender name of the campaign"
          },
          "email": {
            "type": "string",
            "format": "email",
            "example": "marketing@mycompany.com",
            "description": "Sender email of the campaign"
          },
          "id": {
            "type": "integer",
            "format": "int64",
            "example": 43,
            "description": "Sender id of the campaign"
          }
        }
      },
      "getExtendedCampaignStats": {
        "type": "object",
        "required": [
          "campaignStats",
          "globalStats",
          "linksStats",
          "mirrorClick",
          "remaining",
          "statsByBrowser",
          "statsByDevice",
          "statsByDomain"
        ],
        "properties": {
          "globalStats": {
            "type": "object",
            "description": "Overall statistics of the campaign",
            "allOf": [
              {
                "$ref": "#/components/schemas/getCampaignStats"
              }
            ]
          },
          "campaignStats": {
            "type": "array",
            "description": "List-wise statistics of the campaign.",
            "items": {
              "type": "object",
              "allOf": [
                {
                  "$ref": "#/components/schemas/getCampaignStats"
                }
              ]
            }
          },
          "mirrorClick": {
            "type": "integer",
            "format": "int64",
            "example": 120,
            "description": "Number of clicks on mirror link"
          },
          "remaining": {
            "type": "integer",
            "format": "int64",
            "example": 1000,
            "description": "Number of remaning emails to send"
          },
          "linksStats": {
            "type": "object",
            "example": {
              "example.abc.com": 7,
              "example.domain.com": 10
            },
            "description": "Statistics about the number of clicks for the links",
            "properties": {}
          },
          "statsByDomain": {
            "$ref": "#/components/schemas/getStatsByDomain"
          },
          "statsByDevice": {
            "$ref": "#/components/schemas/getStatsByDevice"
          },
          "statsByBrowser": {
            "$ref": "#/components/schemas/getStatsByBrowser"
          }
        }
      },
      "getSharedTemplateUrl": {
        "type": "object",
        "required": [
          "sharedUrl"
        ],
        "properties": {
          "sharedUrl": {
            "type": "string",
            "format": "url",
            "example": "https://my.brevo.com/pt2YU7R5W_guXlowgumy_VX4pFsKu._zd0Gjj96x1_GMmzc1Qps5ZIpj6nx-",
            "description": "A unique URL for the email campaign or transactional template. This URL can be shared with other Brevo users."
          }
        }
      },
      "getStatsByBrowser": {
        "type": "object",
        "additionalProperties": {
          "$ref": "#/components/schemas/getDeviceBrowserStats"
        }
      },
      "getStatsByDevice": {
        "type": "object",
        "properties": {
          "desktop": {
            "type": "object",
            "description": "Statistics of the campaign on the basis of desktop devices",
            "additionalProperties": {
              "$ref": "#/components/schemas/getDeviceBrowserStats"
            }
          },
          "mobile": {
            "type": "object",
            "description": "Statistics of the campaign on the basis of mobile devices",
            "additionalProperties": {
              "$ref": "#/components/schemas/getDeviceBrowserStats"
            }
          },
          "tablet": {
            "type": "object",
            "description": "Statistics of the campaign on the basis of tablet devices",
            "additionalProperties": {
              "$ref": "#/components/schemas/getDeviceBrowserStats"
            }
          },
          "unknown": {
            "type": "object",
            "description": "Statistics of the campaign on the basis of unknown devices",
            "additionalProperties": {
              "$ref": "#/components/schemas/getDeviceBrowserStats"
            }
          }
        }
      },
      "getStatsByDomain": {
        "type": "object",
        "additionalProperties": {
          "$ref": "#/components/schemas/getCampaignStats"
        }
      },
      "postSendFailed": {
        "type": "object",
        "required": [
          "code",
          "message"
        ],
        "properties": {
          "code": {
            "type": "integer",
            "format": "int64",
            "example": "invalid_parameter",
            "description": "Response code"
          },
          "message": {
            "type": "string",
            "example": "The email could not be sent to all recipients",
            "description": "Response message"
          },
          "unexistingEmails": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email",
              "example": "matthew.dow@example.com, elisa.carrely@example.com",
              "description": "Email addresses you tried to sent an email to, but not existing in your contacts"
            }
          },
          "withoutListEmails": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email",
              "example": "jeff.dean@example.com, jim.sue@example.com",
              "description": "Email addresses you sent an email to, without a contact list"
            }
          },
          "blackListedEmails": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email",
              "example": "jeff.dean@example.com, jim.sue@example.com",
              "description": "Email addresses which are blacklisted. ONLY FOR email-campign's sendTest OR smtp-template's sendTest api's."
            }
          }
        }
      },
      "sendReport": {
        "type": "object",
        "required": [
          "email"
        ],
        "properties": {
          "language": {
            "type": "string",
            "example": "en",
            "description": "Language of email content for campaign report sending.",
            "enum": [
              "fr",
              "es",
              "pt",
              "it",
              "de",
              "en"
            ],
            "default": "fr"
          },
          "email": {
            "$ref": "#/components/schemas/sendReport_email"
          }
        }
      },
      "sendReport_email": {
        "type": "object",
        "required": [
          "body",
          "to"
        ],
        "properties": {
          "to": {
            "type": "array",
            "description": "Email addresses of the recipients",
            "items": {
              "type": "string",
              "format": "email",
              "example": "jim.suehan@example.com",
              "description": "Email address of the recipient"
            }
          },
          "body": {
            "type": "string",
            "example": "Please find attached the report of our last email campaign.",
            "description": "Custom text message to be presented in the report email."
          }
        },
        "description": "Custom attributes for the report email."
      },
      "sendTestEmail": {
        "type": "object",
        "properties": {
          "emailTo": {
            "type": "array",
            "description": "List of the email addresses of the recipients whom you wish to send the test mail. If left empty, the test mail will be sent to your entire test list. You can not send more than 50 test emails per day.",
            "items": {
              "type": "string",
              "format": "email",
              "example": "helen.jurger@example.com",
              "description": "Email addres of the recipient"
            }
          }
        }
      },
      "updateCampaignStatus": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "Note:- replicateTemplate status will be available only for template type campaigns.",
            "enum": [
              "suspended",
              "archive",
              "darchive",
              "sent",
              "queued",
              "replicate",
              "replicateTemplate",
              "draft"
            ]
          }
        },
        "description": "Status of the campaign",
        "example": "draft"
      },
      "updateEmailCampaign": {
        "type": "object",
        "properties": {
          "tag": {
            "type": "string",
            "example": "Newsletter",
            "description": "Tag of the campaign"
          },
          "sender": {
            "$ref": "#/components/schemas/updateEmailCampaign_sender"
          },
          "name": {
            "type": "string",
            "example": "Newsletter - May 2017",
            "description": "Name of the campaign"
          },
          "htmlContent": {
            "type": "string",
            "example": "<!DOCTYPE html> <html> <body> <h1>Confirm you email</h1> <p>Please confirm your email address by clicking on the link below</p> </body> </html>",
            "description": "Body of the message (HTML version). If the campaign is designed using Drag & Drop editor via HTML content, then the design page will not have Drag & Drop editor access for that campaign. REQUIRED if htmlUrl is empty"
          },
          "htmlUrl": {
            "type": "string",
            "format": "url",
            "example": "https://html.domain.com",
            "description": "Url which contents the body of the email message. REQUIRED if htmlContent is empty"
          },
          "scheduledAt": {
            "type": "string",
            "example": "2017-06-01T12:30:00+02:00",
            "description": "UTC date-time on which the campaign has to run (YYYY-MM-DDTHH:mm:ss.SSSZ). Prefer to pass your timezone in date-time format for accurate result. If sendAtBestTime is set to true, your campaign will be sent according to the date passed (ignoring the time part)."
          },
          "subject": {
            "type": "string",
            "example": "Discover the New Collection !",
            "description": "Subject of the campaign"
          },
          "previewText": {
            "type": "string",
            "example": "Thanks for your order!",
            "description": "Preview text or preheader of the email campaign"
          },
          "replyTo": {
            "type": "string",
            "format": "email",
            "example": "support@myshop.com",
            "description": "Email on which campaign recipients will be able to reply to"
          },
          "toField": {
            "type": "string",
            "example": "{FNAME} {LNAME}",
            "description": "To personalize the «To» Field. If you want to include the first name and last name of your recipient, add {FNAME} {LNAME}. These contact attributes must already exist in your Brevo account. If input parameter 'params' used please use {{contact.FNAME}} {{contact.LNAME}} for personalization"
          },
          "recipients": {
            "$ref": "#/components/schemas/updateEmailCampaign_recipients"
          },
          "attachmentUrl": {
            "type": "string",
            "format": "url",
            "example": "https://attachment.domain.com",
            "description": "Absolute url of the attachment (no local file). Extension allowed: xlsx, xls, ods, docx, docm, doc, csv, pdf, txt, gif, jpg, jpeg, png, tif, tiff, rtf, bmp, cgm, css, shtml, html, htm, zip, xml, ppt, pptx, tar, ez, ics, mobi, msg, pub and eps"
          },
          "inlineImageActivation": {
            "type": "boolean",
            "example": true,
            "description": "Status of inline image. inlineImageActivation = false means image can’t be embedded, & inlineImageActivation = true means image can be embedded, in the email. You cannot send a campaign of more than 4MB with images embedded in the email. Campaigns with the images embedded in the email must be sent to less than 5000 contacts.",
            "default": false
          },
          "mirrorActive": {
            "type": "boolean",
            "example": true,
            "description": "Status of mirror links in campaign. mirrorActive = false means mirror links are deactivated, & mirrorActive = true means mirror links are activated, in the campaign"
          },
          "recurring": {
            "type": "boolean",
            "example": false,
            "description": "FOR TRIGGER ONLY ! Type of trigger campaign.recurring = false means contact can receive the same Trigger campaign only once, & recurring = true means contact can receive the same Trigger campaign several times",
            "default": false
          },
          "footer": {
            "type": "string",
            "example": "[DEFAULT_FOOTER]",
            "description": "Footer of the email campaign"
          },
          "header": {
            "type": "string",
            "example": "[DEFAULT_HEADER]",
            "description": "Header of the email campaign"
          },
          "utmCampaign": {
            "type": "string",
            "example": "NL_05_2017",
            "description": "Customize the utm_campaign value. If this field is empty, the campaign name will be used. Only alphanumeric characters and spaces are allowed"
          },
          "params": {
            "type": "object",
            "example": {
              "FNAME": "Joe",
              "LNAME": "Doe"
            },
            "description": "Pass the set of attributes to customize the type 'classic' campaign. For example, {\"FNAME\":\"Joe\", \"LNAME\":\"Doe\"}. The 'params' field will get updated, only if the campaign is in New Template Language, else ignored. The New Template Language is dependent on the values of 'subject', 'htmlContent/htmlUrl', 'sender.name' & 'toField'",
            "properties": {}
          },
          "sendAtBestTime": {
            "type": "boolean",
            "example": true,
            "description": "Set this to true if you want to send your campaign at best time. Note:- if true, warmup ip will be disabled."
          },
          "abTesting": {
            "type": "boolean",
            "example": true,
            "description": "Status of A/B Test. abTesting = false means it is disabled, & abTesting = true means it is enabled. 'subjectA', 'subjectB', 'splitRule', 'winnerCriteria' & 'winnerDelay' will be considered if abTesting is set to true. 'subject' if passed is ignored.  Can be set to true only if 'sendAtBestTime' is 'false'. You will be able to set up two subject lines for your campaign and send them to a random sample of your total recipients. Half of the test group will receive version A, and the other half will receive version B",
            "default": false
          },
          "subjectA": {
            "type": "string",
            "example": "Discover the New Collection!",
            "description": "Subject A of the campaign. Considered if abTesting = true. subjectA & subjectB should have unique value"
          },
          "subjectB": {
            "type": "string",
            "example": "Want to discover the New Collection?",
            "description": "Subject B of the campaign. Considered if abTesting = true. subjectA & subjectB should have unique value"
          },
          "splitRule": {
            "type": "integer",
            "format": "int64",
            "example": 50,
            "description": "Add the size of your test groups. Considered if abTesting = true. We'll send version A and B to a random sample of recipients, and then the winning version to everyone else",
            "minimum": 1,
            "maximum": 50
          },
          "winnerCriteria": {
            "type": "string",
            "example": "open",
            "description": "Choose the metrics that will determinate the winning version. Considered if 'splitRule' >= 1 and < 50. If splitRule = 50, 'winnerCriteria' is ignored if passed or alreday exist in record",
            "enum": [
              "open",
              "click"
            ]
          },
          "winnerDelay": {
            "type": "integer",
            "format": "int64",
            "example": 50,
            "description": "Choose the duration of the test in hours. Maximum is 7 days, pass 24*7 = 168 hours. The winning version will be sent at the end of the test. Considered if 'splitRule' >= 1 and < 50. If splitRule = 50, 'winnerDelay' is ignored if passed or alreday exist in record",
            "minimum": 1,
            "maximum": 168
          },
          "ipWarmupEnable": {
            "type": "boolean",
            "example": true,
            "description": "Available for dedicated ip clients. Set this to true if you wish to warm up your ip.",
            "default": false
          },
          "initialQuota": {
            "type": "integer",
            "format": "int64",
            "example": 3000,
            "description": "Set an initial quota greater than 1 for warming up your ip. We recommend you set a value of 3000."
          },
          "increaseRate": {
            "type": "integer",
            "format": "int64",
            "example": 70,
            "description": "Set a percentage increase rate for warming up your ip. We recommend you set the increase rate to 30% per day. If you want to send the same number of emails every day, set the daily increase value to 0%.",
            "minimum": 0,
            "maximum": 100
          },
          "unsubscriptionPageId": {
            "type": "string",
            "example": "62cbb7fabbe85021021aac52",
            "description": "Enter an unsubscription page id. The page id is a 24 digit alphanumeric id that can be found in the URL when editing the page."
          },
          "updateFormId": {
            "type": "string",
            "example": "6313436b9ad40e23b371d095",
[...]
