{
  "openapi": "3.0.3",
  "info": {
    "description": "Brevo provide a RESTFul API that can be used with any languages. With this API, you will be able to :\n  - Manage your campaigns and get the statistics\n  - Manage your contacts\n  - Send transactional Emails and SMS\n  - and much more...\n\nYou can download our wrappers at https://github.com/orgs/brevo\n\n**Possible responses**\n  | Code | Message |\n  | :-------------: | ------------- |\n  | 200  | OK. Successful Request  |\n  | 201  | OK. Successful Creation |\n  | 202  | OK. Request accepted |\n  | 204  | OK. Successful Update/Deletion  |\n  | 400  | Error. Bad Request  |\n  | 401  | Error. Authentication Needed  |\n  | 402  | Error. Not enough credit, plan upgrade needed  |\n  | 403  | Error. Permission denied  |\n  | 404  | Error. Object does not exist |\n  | 405  | Error. Method not allowed  |\n  | 406  | Error. Not Acceptable  |\n  | 422  | Error. Unprocessable Entity |\n",
    "version": "3.0.0",
    "title": "Brevo API - Transactional emails",
    "contact": {
      "name": "Brevo Support",
      "url": "https://account.brevo.com/support",
      "email": "contact@brevo.com"
    },
    "license": {
      "name": "MIT",
      "url": "http://opensource.org/licenses/MIT"
    }
  },
  "servers": [
    {
      "url": "https://api.brevo.com/v3"
    }
  ],
  "tags": [],
  "paths": {
    "/smtp/email": {
      "post": {
        "tags": [
          "Transactional emails"
        ],
        "summary": "Send a transactional email",
        "operationId": "sendTransacEmail",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "sender": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "example": "Mary from MyShop",
                        "description": "Name of the sender from which the emails will be sent. Maximum allowed characters are 70. Applicable only when email is passed."
                      },
                      "email": {
                        "type": "string",
                        "format": "email",
                        "example": "no-reply@myshop.com",
                        "description": "Email of the sender from which the emails will be sent. Mandatory if sender id is not passed."
                      },
                      "id": {
                        "type": "integer",
                        "format": "int64",
                        "example": 2,
                        "description": "Id of the sender from which the emails will be sent. In order to select a sender with specific pool of IP’s, dedicated ip users shall pass id (instead of email). Mandatory if email is not passed."
                      }
                    },
                    "description": "Mandatory if `templateId` is not passed. Pass `name` (optional) and `email` OR `id` of sender from which emails will be sent. `name` will be ignored if passed along with sender `id`. For example, {\"name\":\"Mary from MyShop\", \"email\":\"no-reply@myshop.com\"} or {\"id\":2}"
                  },
                  "to": {
                    "type": "array",
                    "description": "Mandatory if messageVersions are not passed, ignored if messageVersions are passed. List of email addresses and names (optional) of the recipients. For example, [{\"name\":\"Jimmy\", \"email\":\"jimmy98@example.com\"}, {\"name\":\"Joe\", \"email\":\"joe@example.com\"}]",
                    "items": {
                      "type": "object",
                      "required": [
                        "email"
                      ],
                      "properties": {
                        "email": {
                          "type": "string",
                          "format": "email",
                          "example": "jimmy98@example.com",
                          "description": "Email address of the recipient"
                        },
                        "name": {
                          "type": "string",
                          "example": "Jimmy",
                          "description": "Name of the recipient. Maximum allowed characters are 70."
                        }
                      }
                    }
                  },
                  "bcc": {
                    "type": "array",
                    "description": "List of email addresses and names (optional) of the recipients in bcc",
                    "items": {
                      "type": "object",
                      "required": [
                        "email"
                      ],
                      "properties": {
                        "email": {
                          "type": "string",
                          "format": "email",
                          "example": "helen9766@example.com",
                          "description": "Email address of the recipient in bcc"
                        },
                        "name": {
                          "type": "string",
                          "example": "Helen",
                          "description": "Name of the recipient in bcc. Maximum allowed characters are 70."
                        }
                      }
                    }
                  },
                  "cc": {
                    "type": "array",
                    "description": "List of email addresses and names (optional) of the recipients in cc",
                    "items": {
                      "type": "object",
                      "required": [
                        "email"
                      ],
                      "properties": {
                        "email": {
                          "type": "string",
                          "format": "email",
                          "example": "ann6533@example.com",
                          "description": "Email address of the recipient in cc"
                        },
                        "name": {
                          "type": "string",
                          "example": "Ann",
                          "description": "Name of the recipient in cc. Maximum allowed characters are 70."
                        }
                      }
                    }
                  },
                  "htmlContent": {
                    "type": "string",
                    "example": "<!DOCTYPE html> <html> <body> <h1>Confirm you email</h1> <p>Please confirm your email address by clicking on the link below</p> </body> </html>",
                    "description": "HTML body of the message ( Mandatory if 'templateId' is not passed, ignored if 'templateId' is passed )"
                  },
                  "textContent": {
                    "type": "string",
                    "example": "Please confirm your email address by clicking on the link https://text.domain.com",
                    "description": "Plain Text body of the message ( Ignored if 'templateId' is passed )"
                  },
                  "subject": {
                    "type": "string",
                    "example": "Login Email confirmation",
                    "description": "Subject of the message. Mandatory if 'templateId' is not passed"
                  },
                  "replyTo": {
                    "type": "object",
                    "required": [
                      "email"
                    ],
                    "properties": {
                      "email": {
                        "type": "string",
                        "format": "email",
                        "example": "ann6533@example.com",
                        "description": "Email address in reply to"
                      },
                      "name": {
                        "type": "string",
                        "example": "Ann",
                        "description": "Name in reply to. Maximum allowed characters are 70."
                      }
                    },
                    "description": "Email (required), along with name (optional), on which transactional mail recipients will be able to reply back. For example, {\"email\":\"ann6533@example.com\", \"name\":\"Ann\"}."
                  },
                  "attachment": {
                    "type": "array",
                    "description": "Pass the absolute URL (no local file) or the base64 content of the attachment along with the attachment name (Mandatory if attachment content is passed). For example, `[{\"url\":\"https://attachment.domain.com/myAttachmentFromUrl.jpg\", \"name\":\"myAttachmentFromUrl.jpg\"}, {\"content\":\"base64 example content\", \"name\":\"myAttachmentFromBase64.jpg\"}]`. Allowed extensions for attachment file: xlsx, xls, ods, docx, docm, doc, csv, pdf, txt, gif, jpg, jpeg, png, tif, tiff, rtf, bmp, cgm, css, shtml, html, htm, zip, xml, ppt, pptx, tar, ez, ics, mobi, msg, pub, eps, odt, mp3, m4a, m4v, wma, ogg, flac, wav, aif, aifc, aiff, mp4, mov, avi, mkv, mpeg, mpg, wmv, pkpass and xlsm ( If 'templateId' is passed and is in New Template Language format then both attachment url and content are accepted. If template is in Old template Language format, then 'attachment' is ignored )",
                    "items": {
                      "type": "object",
                      "properties": {
                        "url": {
                          "type": "string",
                          "format": "url",
                          "example": "https://attachment.domain.com/myAttachmentFromUrl.jpg",
                          "description": "Absolute url of the attachment (no local file)."
                        },
                        "content": {
                          "type": "string",
                          "format": "byte",
                          "example": "b3JkZXIucGRm",
                          "description": "Base64 encoded chunk data of the attachment generated on the fly",
                          "pattern": "^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=)?$"
                        },
                        "name": {
                          "type": "string",
                          "example": "myAttachment.png",
                          "description": "Required if content is passed. Name of the attachment"
                        }
                      }
                    }
                  },
                  "headers": {
                    "type": "object",
                    "example": {
                      "sender.ip": "1.2.3.4",
                      "X-Mailin-custom": "some_custom_header",
                      "idempotencyKey": "abc-123"
                    },
                    "description": "Pass the set of custom headers (not the standard headers) that shall be sent along the mail headers in the original email. 'sender.ip' header can be set (only for dedicated ip users) to mention the IP to be used for sending transactional emails. Headers are allowed in `This-Case-Only` (i.e. words separated by hyphen with first letter of each word in capital letter), they will be converted to such case styling if not in this format in the request payload. For example, `{\"sender.ip\":\"1.2.3.4\", \"X-Mailin-custom\":\"some_custom_header\", \"idempotencyKey\":\"abc-123\"}`.",
                    "properties": {}
                  },
                  "templateId": {
                    "type": "integer",
                    "format": "int64",
                    "example": 2,
                    "description": "Id of the template."
                  },
                  "params": {
                    "type": "object",
                    "example": {
                      "FNAME": "Joe",
                      "LNAME": "Doe"
                    },
                    "description": "Pass the set of attributes to customize the template. For example, {\"FNAME\":\"Joe\", \"LNAME\":\"Doe\"}. It's considered only if template is in New Template Language format.",
                    "properties": {}
                  },
                  "messageVersions": {
                    "type": "array",
                    "description": "You can customize and send out multiple versions of a mail. templateId can be customized only if global parameter contains templateId. htmlContent and textContent can be customized only if any of the two, htmlContent or textContent, is present in global parameters. Some global parameters such as **to(mandatory), bcc, cc, replyTo, subject** can also be customized specific to each version. Total number of recipients in one API request must not exceed 2000. However, you can still pass upto 99 recipients maximum in one message version. The size of individual params in all the messageVersions shall not exceed 100 KB limit and that of cumulative params shall not exceed 1000 KB. You can follow this **step-by-step guide** on how to use **messageVersions** to batch send emails - https://developers.brevo.com/docs/batch-send-transactional-emails",
                    "items": {
                      "type": "object",
                      "required": [
                        "to"
                      ],
                      "properties": {
                        "to": {
                          "type": "array",
                          "description": "List of email addresses and names (_optional_) of the recipients. For example, [{\"name\":\"Jimmy\", \"email\":\"jimmy98@example.com\"}, {\"name\":\"Joe\", \"email\":\"joe@example.com\"}]",
                          "items": {
                            "type": "object",
                            "required": [
                              "email"
                            ],
                            "properties": {
                              "email": {
                                "type": "string",
                                "format": "email",
                                "example": "jimmy98@example.com",
                                "description": "Email address of the recipient"
                              },
                              "name": {
                                "type": "string",
                                "example": "Jimmy",
                                "description": "Name of the recipient. **Maximum allowed characters are 70**."
                              }
                            }
                          }
                        },
                        "params": {
                          "type": "object",
                          "example": {
                            "FNAME": "Joe",
                            "LNAME": "Doe"
                          },
                          "description": "Pass the set of attributes to customize the template. For example, {\"FNAME\":\"Joe\", \"LNAME\":\"Doe\"}. It's considered only if template is in New Template Language format.",
                          "additionalProperties": {}
                        },
                        "bcc": {
                          "type": "array",
                          "description": "List of email addresses and names (optional) of the recipients in bcc",
                          "items": {
                            "type": "object",
                            "required": [
                              "email"
                            ],
                            "properties": {
                              "email": {
                                "type": "string",
                                "format": "email",
                                "example": "helen9766@example.com",
                                "description": "Email address of the recipient in bcc"
                              },
                              "name": {
                                "type": "string",
                                "example": "Helen",
                                "description": "Name of the recipient in bcc. Maximum allowed characters are 70."
                              }
                            }
                          }
                        },
                        "cc": {
                          "type": "array",
                          "description": "List of email addresses and names (optional) of the recipients in cc",
                          "items": {
                            "type": "object",
                            "required": [
                              "email"
                            ],
                            "properties": {
                              "email": {
                                "type": "string",
                                "format": "email",
                                "example": "ann6533@example.com",
                                "description": "Email address of the recipient in cc"
                              },
                              "name": {
                                "type": "string",
                                "example": "Ann",
                                "description": "Name of the recipient in cc. Maximum allowed characters are 70."
                              }
                            }
                          }
                        },
                        "replyTo": {
                          "type": "object",
                          "required": [
                            "email"
                          ],
                          "properties": {
                            "email": {
                              "type": "string",
                              "format": "email",
                              "example": "ann6533@example.com",
                              "description": "Email address in reply to"
                            },
                            "name": {
                              "type": "string",
                              "example": "Ann",
                              "description": "Name in reply to. Maximum allowed characters are 70."
                            }
                          },
                          "description": "Email (required), along with name (optional), on which transactional mail recipients will be able to reply back. For example, {\"email\":\"ann6533@example.com\", \"name\":\"Ann\"}"
                        },
                        "subject": {
                          "type": "string",
                          "example": "Login Email confirmation",
                          "description": "Custom subject specific to message version\n"
                        },
                        "htmlContent": {
                          "type": "string",
                          "example": "<!DOCTYPE html> <html> <body> <h1>Confirm you email</h1> <p>Please confirm your email address by clicking on the link below</p> </body> </html>",
                          "description": "HTML body of the message. **Mandatory if 'templateId' is not passed, ignored if 'templateId' is passed**\n"
                        },
                        "textContent": {
                          "type": "string",
                          "example": "Please confirm your email address by clicking on the link https://text.domain.com",
                          "description": "Plain Text body of the message. **Ignored if 'templateId' is passed**\n"
                        }
                      }
                    }
                  },
                  "tags": {
                    "type": "array",
                    "description": "Tag your emails to find them more easily",
                    "items": {
                      "type": "string",
                      "example": "tag1"
                    }
                  },
                  "scheduledAt": {
                    "type": "string",
                    "format": "date-time",
                    "example": "2022-04-05T12:30:00+02:00",
                    "description": "UTC date-time on which the email has to schedule (YYYY-MM-DDTHH:mm:ss.SSSZ). Prefer to pass your timezone in date-time format for scheduling. There can be an expected delay of +5 minutes in scheduled email delivery. **Please note this feature is currently a public beta**."
                  },
                  "batchId": {
                    "type": "string",
                    "example": "5c6cfa04-eed9-42c2-8b5c-6d470d978e9d",
                    "description": "Valid UUIDv4 batch id to identify the scheduled batches transactional email. If not passed we will create a valid UUIDv4 batch id at our end."
                  }
                }
              }
            }
          },
          "description": "Values to send a transactional email",
          "required": true,
          "x-exportParamName": "SendSmtpEmail"
        },
        "responses": {
          "201": {
            "description": "transactional email sent",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "messageId": {
                      "type": "string",
                      "example": "<201798300811.5787683@relay.domain.com>",
                      "description": "Message ID of the transactional email sent"
                    },
                    "messageIds": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "example": "",
                        "description": "version wise message ID's of the transactional emails sent"
                      }
                    }
                  },
                  "example": {
                    "messageIds": [
                      "",
                      ""
                    ],
                    "messageId": "<201798300811.5787683@relay.domain.com>"
                  }
                }
              }
            }
          },
          "202": {
            "description": "transactional email scheduled",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "messageId": {
                      "type": "string",
                      "example": "<201798300811.5787683@relay.domain.com>",
                      "description": "Message ID of the transactional email scheduled"
                    },
                    "messageIds": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "description": "version wise message ID's of the transactional emails scheduled"
                      }
                    },
                    "batchId": {
                      "type": "string",
                      "example": "5c6cfa04-eed9-42c2-8b5c-6d470d978e9d",
                      "description": "Batch ID of the batch transactional email scheduled"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "code",
                    "message"
                  ],
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "method_not_allowed",
                      "description": "Error code displayed in case of a failure",
                      "enum": [
                        "invalid_parameter",
                        "missing_parameter",
                        "out_of_range",
                        "campaign_processing",
                        "campaign_sent",
                        "document_not_found",
                        "reseller_permission_denied",
                        "not_enough_credits",
                        "permission_denied",
                        "duplicate_parameter",
                        "duplicate_request",
                        "method_not_allowed",
                        "unauthorized",
                        "account_under_validation",
                        "not_acceptable",
                        "bad_request",
                        "unprocessable_entity"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "example": "POST Method is not allowed on this path",
                      "description": "Readable message associated to the failure"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/smtp/emails": {
      "get": {
        "tags": [
          "Transactional emails"
        ],
        "summary": "Get the list of transactional emails on the basis of allowed filters",
        "description": "This endpoint will show the list of emails for past 30 days by default. To retrieve emails before that time, please pass startDate and endDate in query filters.",
        "operationId": "getTransacEmailsList",
        "parameters": [
          {
            "name": "email",
            "in": "query",
            "description": "Mandatory if templateId and messageId are not passed in query filters. Email address to which transactional email has been sent.",
            "required": false,
            "x-exportParamName": "Email",
            "x-optionalDataType": "String",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "templateId",
            "in": "query",
            "description": "Mandatory if email and messageId are not passed in query filters. Id of the template that was used to compose transactional email.",
            "required": false,
            "x-exportParamName": "TemplateId",
            "x-optionalDataType": "Int64",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "messageId",
            "in": "query",
            "description": "Mandatory if templateId and email are not passed in query filters. Message ID of the transactional email sent.",
            "required": false,
            "x-exportParamName": "MessageId",
            "x-optionalDataType": "String",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "Mandatory if endDate is used. Starting date (YYYY-MM-DD) from which you want to fetch the list. Maximum time period that can be selected is one month.",
            "required": false,
            "x-exportParamName": "StartDate",
            "x-optionalDataType": "String",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "Mandatory if startDate is used. Ending date (YYYY-MM-DD) till which you want to fetch the list. Maximum time period that can be selected is one month.",
            "required": false,
            "x-exportParamName": "EndDate",
            "x-optionalDataType": "String",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort the results in the ascending/descending order of record creation. Default order is **descending** if `sort` is not passed",
            "required": false,
            "x-exportParamName": "Sort",
            "x-optionalDataType": "String",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of documents returned per page",
            "required": false,
            "x-exportParamName": "Limit",
            "x-optionalDataType": "Int64",
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0,
              "maximum": 1000,
              "default": 500
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Index of the first document in the page",
            "required": false,
            "x-exportParamName": "Offset",
            "x-optionalDataType": "Int64",
            "schema": {
              "type": "integer",
              "format": "int64",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of transactional emails",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "integer",
                      "format": "int64",
                      "example": 5,
                      "description": "Total number of transactional emails available on your account according to the passed filter"
                    },
                    "transactionalEmails": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "date",
                          "email",
                          "messageId",
                          "subject",
                          "uuid"
                        ],
                        "properties": {
                          "email": {
                            "type": "string",
                            "format": "email",
                            "example": "john.smith@example.com",
                            "description": "Email address to which transactional email has been sent"
                          },
                          "subject": {
                            "type": "string",
                            "example": "Summer Camp",
                            "description": "Subject of the sent email"
                          },
                          "templateId": {
                            "type": "integer",
                            "format": "int64",
                            "example": 2,
                            "description": "Id of the template"
                          },
                          "messageId": {
                            "type": "string",
                            "example": "<201798300811.5700093@relay.domain.com>",
                            "description": "Message Id of the sent email"
                          },
                          "uuid": {
                            "type": "string",
                            "example": "5a78c-209ok98262910-s99a341",
                            "description": "Unique id of the email sent to a particular contact"
                          },
                          "date": {
                            "type": "string",
                            "example": "2017-03-12T12:30:00Z",
                            "description": "Date on which transactional email was sent"
                          },
                          "from": {
                            "type": "string",
                            "format": "email",
                            "example": "diana.doe@example.com",
                            "description": "Email address of the sender from which the email was sent"
                          },
                          "tags": {
                            "type": "array",
                            "description": "Tags used for your email",
                            "items": {
                              "type": "string",
                              "example": "tag1"
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "response": {
                    "value": {
                      "count": 120,
                      "transactionalEmails": [
                        {
                          "email": "abc@xyz.com",
                          "subject": "summer camp",
                          "templateId": 15,
                          "messageId": "<201798300811.5787683@relay.domain.com>",
                          "uuid": "5a78c-209ok98262910-std2341",
                          "date": "2019-05-25T11:53:26Z"
                        },
                        {
                          "email": "test@test.com",
                          "subject": "details verification",
                          "templateId": 15,
                          "messageId": "<201798300811.5700093@relay.domain.com>",
                          "uuid": "5a78c-209ok98262910-s99a341",
                          "date": "2019-05-25T07:28:11Z"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "code",
                    "message"
                  ],
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "method_not_allowed",
                      "description": "Error code displayed in case of a failure",
                      "enum": [
                        "invalid_parameter",
                        "missing_parameter",
                        "out_of_range",
                        "campaign_processing",
                        "campaign_sent",
                        "document_not_found",
                        "reseller_permission_denied",
                        "not_enough_credits",
                        "permission_denied",
                        "duplicate_parameter",
                        "duplicate_request",
                        "method_not_allowed",
                        "unauthorized",
                        "account_under_validation",
                        "not_acceptable",
                        "bad_request",
                        "unprocessable_entity"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "example": "POST Method is not allowed on this path",
                      "description": "Readable message associated to the failure"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/smtp/emails/{uuid}": {
      "get": {
        "tags": [
          "Transactional emails"
        ],
        "summary": "Get the personalized content of a sent transactional email",
        "operationId": "getTransacEmailContent",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "description": "Unique id of the transactional email that has been sent to a particular contact",
            "required": true,
            "x-exportParamName": "Uuid",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Transactional email content",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "attachmentCount",
                    "body",
                    "date",
                    "email",
                    "events",
                    "subject"
                  ],
                  "properties": {
                    "email": {
                      "type": "string",
                      "format": "email",
                      "example": "abc@example.com",
                      "description": "Email address to which transactional email has been sent"
                    },
                    "subject": {
                      "type": "string",
                      "example": "Summer Camp",
                      "description": "Subject of the sent email"
                    },
                    "templateId": {
                      "type": "integer",
                      "format": "int64",
                      "example": 2,
                      "description": "Id of the template"
                    },
                    "date": {
                      "type": "string",
                      "example": "2017-03-12T12:30:00Z",
                      "description": "Date on which transactional email was sent"
                    },
                    "events": {
                      "type": "array",
                      "description": "Series of events which occurred on the transactional email",
                      "items": {
                        "type": "object",
                        "required": [
                          "name",
                          "time"
                        ],
                        "properties": {
                          "name": {
                            "type": "string",
                            "example": "delivered",
                            "description": "Name of the event that occurred on the sent email"
                          },
                          "time": {
                            "type": "string",
                            "example": "2017-03-12T12:30:00Z",
                            "description": "Time at which the event occurred"
                          }
                        }
                      }
                    },
                    "body": {
                      "type": "string",
                      "example": "<!DOCTYPE html> <html> <body> <h1>Greetings from the team</h1> <p>This is the actual html content sent</p> </body> </html>",
                      "description": "Actual content of the transactional email that has been sent"
                    },
                    "attachmentCount": {
                      "type": "integer",
                      "format": "int64",
                      "example": 2,
                      "description": "Count of the attachments that were sent in the email"
                    }
                  }
                },
                "examples": {
                  "response": {
                    "value": {
                      "email": "abc@example.com",
                      "subject": "Summer Camps",
                      "templateId": 12,
                      "date": "2016-02-25T11:53:26Z",
                      "events": [
                        {
                          "name": "sent",
                          "time": "2016-02-25T11:53:26Z"
                        },
                        {
                          "name": "delivered",
                          "time": "2016-02-25T11:55:26Z"
                        },
                        {
                          "name": "opened",
                          "time": "2016-02-26T09:53:26Z"
                        }
                      ],
                      "body": "<!DOCTYPE html> <html> <body> <h1>Greetings from the team</h1> <p>This is the actual html content sent</p> </body> </html>"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/smtp/log/{identifier}": {
      "delete": {
        "tags": [
          "Transactional emails"
        ],
        "summary": "Delete an SMTP transactional log",
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "description": "MessageId or Email of the transactional log(s) to delete",
            "required": true,
            "x-exportParamName": "Identifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Transactional Logs deleted"
          },
          "400": {
            "description": "bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "code",
                    "message"
                  ],
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "method_not_allowed",
                      "description": "Error code displayed in case of a failure",
                      "enum": [
                        "invalid_parameter",
                        "missing_parameter",
                        "out_of_range",
                        "campaign_processing",
                        "campaign_sent",
                        "document_not_found",
                        "reseller_permission_denied",
                        "not_enough_credits",
                        "permission_denied",
                        "duplicate_parameter",
                        "duplicate_request",
                        "method_not_allowed",
                        "unauthorized",
                        "account_under_validation",
                        "not_acceptable",
                        "bad_request",
                        "unprocessable_entity"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "example": "POST Method is not allowed on this path",
                      "description": "Readable message associated to the failure"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Message ID not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "code",
                    "message"
                  ],
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "method_not_allowed",
                      "description": "Error code displayed in case of a failure",
                      "enum": [
                        "invalid_parameter",
                        "missing_parameter",
                        "out_of_range",
                        "campaign_processing",
                        "campaign_sent",
                        "document_not_found",
                        "reseller_permission_denied",
                        "not_enough_credits",
                        "permission_denied",
                        "duplicate_parameter",
                        "duplicate_request",
                        "method_not_allowed",
                        "unauthorized",
                        "account_under_validation",
                        "not_acceptable",
                        "bad_request",
                        "unprocessable_entity"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "example": "POST Method is not allowed on this path",
                      "description": "Readable message associated to the failure"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/smtp/templates": {
      "get": {
        "tags": [
          "Transactional emails"
        ],
        "summary": "Get the list of email templates",
        "operationId": "getSmtpTemplates",
        "parameters": [
          {
            "name": "templateStatus",
            "in": "query",
            "description": "Filter on the status of the template. Active = true, inactive = false",
            "required": false,
            "x-exportParamName": "TemplateStatus",
            "x-optionalDataType": "Bool",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of documents returned per page",
            "required": false,
            "x-exportParamName": "Limit",
            "x-optionalDataType": "Int64",
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0,
              "maximum": 1000,
              "default": 50
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Index of the first document in the page",
            "required": false,
            "x-exportParamName": "Offset",
            "x-optionalDataType": "Int64",
            "schema": {
              "type": "integer",
              "format": "int64",
              "default": 0
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort the results in the ascending/descending order of record creation. Default order is **descending** if `sort` is not passed",
            "required": false,
            "x-exportParamName": "Sort",
            "x-optionalDataType": "String",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "transactional email templates informations",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "integer",
                      "format": "int64",
                      "example": 1,
                      "description": "Count of transactional email templates"
                    },
                    "templates": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "createdAt",
                          "htmlContent",
                          "id",
                          "isActive",
                          "modifiedAt",
                          "name",
                          "replyTo",
                          "sender",
                          "subject",
                          "tag",
                          "testSent",
                          "toField"
                        ],
                        "properties": {
                          "id": {
                            "type": "integer",
                            "format": "int64",
                            "example": 4,
                            "description": "ID of the template"
                          },
                          "name": {
                            "type": "string",
                            "example": "Order Confirmation - EN",
                            "description": "Name of the template"
                          },
                          "subject": {
                            "type": "string",
                            "example": "Thanks for your order !",
                            "description": "Subject of the template"
                          },
                          "isActive": {
                            "type": "boolean",
                            "example": true,
                            "description": "Status of template (true=active, false=inactive)"
                          },
                          "testSent": {
                            "type": "boolean",
                            "example": true,
                            "description": "Status of test sending for the template (true=test email has been sent, false=test email has not been sent)"
                          },
                          "sender": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string",
                                "example": "Mary form MyShop",
                                "description": "From email for the template"
                              },
                              "email": {
                                "type": "string",
                                "format": "email",
                                "example": "contact@myshop.fr",
                                "description": "From email for the template"
                              },
                              "id": {
                                "type": "string",
                                "example": "43",
                                "description": "Sender id of the template"
                              }
                            }
                          },
                          "replyTo": {
                            "type": "string",
                            "format": "email",
                            "example": "replyto@domain.com",
                            "description": "Email defined as the \"Reply to\" for the template"
                          },
                          "toField": {
                            "type": "string",
                            "example": "{FIRSTNAME} {LASTNAME}",
                            "description": "Customisation of the \"to\" field for the template"
                          },
                          "tag": {
                            "type": "string",
                            "example": "sports",
                            "description": "Tag of the template"
                          },
                          "htmlContent": {
                            "type": "string",
                            "example": "Your order n°xxxxx has been confirmed. Thanks for your purchase.",
                            "description": "HTML content of the template"
                          },
                          "createdAt": {
                            "type": "string",
                            "example": "2017-05-01T12:30:00Z",
                            "description": "Creation UTC date-time of the template (YYYY-MM-DDTHH:mm:ss.SSSZ)"
                          },
                          "modifiedAt": {
                            "type": "string",
                            "example": "2017-05-12T12:30:00Z",
                            "description": "Last modification UTC date-time of the template (YYYY-MM-DDTHH:mm:ss.SSSZ)"
                          },
                          "doiTemplate": {
                            "type": "boolean",
                            "example": false,
                            "description": "It is true if template is a valid Double opt-in (DOI) template, otherwise it is false. This field will be available only in case of single template detail call."
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "response": {
                    "value": {
                      "count": 2,
                      "templates": [
                        {
                          "id": 5,
                          "name": "ChristomasTimeTemplate",
                          "subject": "Merry Christmas",
                          "isActive": false,
                          "testSent": false,
                          "sender": {
                            "name": "John",
                            "email": "john.smith@example.com",
                            "id": 23
                          },
                          "replyTo": "replyto@domain.com",
                          "toField": "",
                          "tag": "Festival",
                          "htmlContent": "HTML CONTENT 1",
                          "createdAt": "2016-02-24T14:44:24Z",
                          "modifiedAt": "2016-02-24T15:37:11Z"
                        },
                        {
                          "id": 12,
                          "name": "SummerSales2017Template",
                          "subject": "Enjoy our summer Sales !",
                          "isActive": true,
                          "testSent": false,
                          "sender": {
                            "name": "John",
                            "email": "john.smith@example.com",
                            "id": 23
                          },
                          "replyTo": "replyto@domain.com",
                          "toField": "",
                          "tag": "Summer",
                          "htmlContent": "HTML CONTENT 2",
                          "createdAt": "2016-02-25T11:53:26Z",
                          "modifiedAt": "2016-02-25T11:53:26Z"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "code",
                    "message"
                  ],
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "method_not_allowed",
                      "description": "Error code displayed in case of a failure",
                      "enum": [
                        "invalid_parameter",
                        "missing_parameter",
                        "out_of_range",
                        "campaign_processing",
                        "campaign_sent",
                        "document_not_found",
                        "reseller_permission_denied",
                        "not_enough_credits",
                        "permission_denied",
                        "duplicate_parameter",
                        "duplicate_request",
                        "method_not_allowed",
                        "unauthorized",
                        "account_under_validation",
                        "not_acceptable",
                        "bad_request",
                        "unprocessable_entity"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "example": "POST Method is not allowed on this path",
                      "description": "Readable message associated to the failure"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Transactional emails"
        ],
        "summary": "Create an email template",
        "operationId": "createSmtpTemplate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "sender",
                  "subject",
                  "templateName"
                ],
                "properties": {
                  "tag": {
                    "type": "string",
                    "example": "OrderConfirmation",
                    "description": "Tag of the template"
                  },
                  "sender": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "example": "Mary from MyShop",
                        "description": "Name of the sender. If not passed, will be set to default"
                      },
                      "email": {
                        "type": "string",
                        "format": "email",
                        "example": "contact@myshop.com",
                        "description": "Email of the sender"
                      },
                      "id": {
                        "type": "integer",
                        "format": "int64",
                        "example": 3,
                        "description": "Select the sender for the template on the basis of sender id. In order to select a sender with specific pool of IP’s, dedicated ip users shall pass id (instead of email)."
                      }
                    },
                    "description": "Sender details including id or email and name (optional). Only one of either Sender's email or Sender's ID shall be passed in one request at a time. For example `{\"name\":\"xyz\", \"email\":\"example@abc.com\"}` , `{\"name\":\"xyz\", \"id\":123}`"
                  },
                  "templateName": {
                    "type": "string",
                    "example": "Order Confirmation - EN",
                    "description": "Name of the template"
                  },
                  "htmlContent": {
                    "type": "string",
                    "example": "The order n°xxxxx has been confirmed. Thanks for your purchase",
                    "description": "Body of the message (HTML version). The field must have more than 10 characters. REQUIRED if htmlUrl is empty"
                  },
                  "htmlUrl": {
                    "type": "string",
                    "format": "url",
                    "example": "https://html.domain.com",
                    "description": "Url which contents the body of the email message. REQUIRED if htmlContent is empty"
                  },
                  "subject": {
                    "type": "string",
                    "example": "Thanks for your purchase !",
                    "description": "Subject of the template"
                  },
                  "replyTo": {
                    "type": "string",
                    "format": "email",
                    "example": "support@myshop.com",
                    "description": "Email on which campaign recipients will be able to reply to"
                  },
                  "toField": {
                    "type": "string",
                    "example": "{FNAME} {LNAME}",
                    "description": "To personalize the «To» Field. If you want to include the first name and last name of your recipient, add {FNAME} {LNAME}. These contact attributes must already exist in your Brevo account. If input parameter 'params' used please use {{contact.FNAME}} {{contact.LNAME}} for personalization"
                  },
                  "attachmentUrl": {
                    "type": "string",
                    "format": "url",
                    "example": "https://attachment.domain.com",
                    "description": "Absolute url of the attachment (no local file). Extension allowed: xlsx, xls, ods, docx, docm, doc, csv, pdf, txt, gif, jpg, jpeg, png, tif, tiff, rtf, bmp, cgm, css, shtml, html, htm, zip, xml, ppt, pptx, tar, ez, ics, mobi, msg, pub and eps"
                  },
                  "isActive": {
                    "type": "boolean",
                    "example": true,
                    "description": "Status of template. isActive = true means template is active and isActive = false means template is inactive"
                  }
                }
              }
            }
          },
          "description": "values to update in transactional email template",
          "required": true,
          "x-exportParamName": "SmtpTemplate"
        },
        "responses": {
          "201": {
            "description": "transactional email template created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "id"
                  ],
                  "properties": {
                    "id": {
                      "type": "integer",
                      "format": "int64",
                      "example": 122,
                      "description": "ID of the object created"
                    }
                  },
                  "example": {
                    "id": 122
                  }
                }
              }
            }
          },
          "400": {
            "description": "bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "code",
                    "message"
                  ],
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "method_not_allowed",
                      "description": "Error code displayed in case of a failure",
                      "enum": [
                        "invalid_parameter",
                        "missing_parameter",
                        "out_of_range",
                        "campaign_processing",
                        "campaign_sent",
                        "document_not_found",
                        "reseller_permission_denied",
                        "not_enough_credits",
                        "permission_denied",
                        "duplicate_parameter",
                        "duplicate_request",
                        "method_not_allowed",
                        "unauthorized",
                        "account_under_validation",
                        "not_acceptable",
                        "bad_request",
                        "unprocessable_entity"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "example": "POST Method is not allowed on this path",
                      "description": "Readable message associated to the failure"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/smtp/templates/{templateId}": {
      "get": {
        "tags": [
          "Transactional emails"
        ],
        "summary": "Returns the template information",
        "operationId": "getSmtpTemplate",
        "parameters": [
          {
            "name": "templateId",
            "in": "path",
            "description": "id of the template",
            "required": true,
            "x-exportParamName": "TemplateId",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Email template informations",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "createdAt",
                    "htmlContent",
                    "id",
                    "isActive",
                    "modifiedAt",
                    "name",
                    "replyTo",
                    "sender",
                    "subject",
                    "tag",
                    "testSent",
                    "toField"
                  ],
                  "properties": {
                    "id": {
                      "type": "integer",
                      "format": "int64",
                      "example": 4,
                      "description": "ID of the template"
                    },
                    "name": {
                      "type": "string",
                      "example": "Order Confirmation - EN",
                      "description": "Name of the template"
                    },
                    "subject": {
                      "type": "string",
                      "example": "Thanks for your order !",
                      "description": "Subject of the template"
                    },
                    "isActive": {
                      "type": "boolean",
                      "example": true,
                      "description": "Status of template (true=active, false=inactive)"
                    },
                    "testSent": {
                      "type": "boolean",
                      "example": true,
                      "description": "Status of test sending for the template (true=test email has been sent, false=test email has not been sent)"
                    },
                    "sender": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string",
                          "example": "Mary form MyShop",
                          "description": "From email for the template"
                        },
                        "email": {
                          "type": "string",
                          "format": "email",
                          "example": "contact@myshop.fr",
                          "description": "From email for the template"
                        },
                        "id": {
                          "type": "string",
                          "example": "43",
                          "description": "Sender id of the template"
                        }
                      }
                    },
                    "replyTo": {
                      "type": "string",
                      "format": "email",
                      "example": "replyto@domain.com",
                      "description": "Email defined as the \"Reply to\" for the template"
                    },
                    "toField": {
                      "type": "string",
                      "example": "{FIRSTNAME} {LASTNAME}",
                      "description": "Customisation of the \"to\" field for the template"
                    },
                    "tag": {
                      "type": "string",
                      "example": "sports",
                      "description": "Tag of the template"
                    },
                    "htmlContent": {
                      "type": "string",
                      "example": "Your order n°xxxxx has been confirmed. Thanks for your purchase.",
                      "description": "HTML content of the template"
                    },
                    "createdAt": {
                      "type": "string",
                      "example": "2017-05-01T12:30:00Z",
                      "description": "Creation UTC date-time of the template (YYYY-MM-DDTHH:mm:ss.SSSZ)"
                    },
                    "modifiedAt": {
                      "type": "string",
                      "example": "2017-05-12T12:30:00Z",
                      "description": "Last modification UTC date-time of the template (YYYY-MM-DDTHH:mm:ss.SSSZ)"
                    },
                    "doiTemplate": {
                      "type": "boolean",
                      "example": false,
                      "description": "It is true if template is a valid Double opt-in (DOI) template, otherwise it is false. This field will be available only in case of single template detail call."
                    }
                  }
                },
                "examples": {
                  "response": {
                    "value": {
                      "id": 33,
                      "name": "OrderConfirmation",
                      "subject": "Order Confirmation : Thanks for your Purchase !",
                      "isActive": true,
                      "testSent": false,
                      "sender": {
                        "name": "John",
                        "email": "john.smith@example.com",
                        "id": 26
                      },
                      "replyTo": "replyto@domain.com",
                      "toField": "",
                      "tag": "",
                      "htmlContent": "HTML CONTENT 4",
                      "createdAt": "2016-02-25T11:53:26Z",
                      "modifiedAt": "2016-02-25T11:53:26Z",
                      "doiTemplate": false
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "code",
                    "message"
                  ],
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "method_not_allowed",
                      "description": "Error code displayed in case of a failure",
                      "enum": [
                        "invalid_parameter",
                        "missing_parameter",
                        "out_of_range",
                        "campaign_processing",
                        "campaign_sent",
                        "document_not_found",
                        "reseller_permission_denied",
                        "not_enough_credits",
                        "permission_denied",
                        "duplicate_parameter",
                        "duplicate_request",
                        "method_not_allowed",
                        "unauthorized",
                        "account_under_validation",
                        "not_acceptable",
                        "bad_request",
                        "unprocessable_entity"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "example": "POST Method is not allowed on this path",
                      "description": "Readable message associated to the failure"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Template ID not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "code",
                    "message"
                  ],
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "method_not_allowed",
                      "description": "Error code displayed in case of a failure",
                      "enum": [
                        "invalid_parameter",
                        "missing_parameter",
                        "out_of_range",
                        "campaign_processing",
                        "campaign_sent",
                        "document_not_found",
                        "reseller_permission_denied",
                        "not_enough_credits",
                        "permission_denied",
                        "duplicate_parameter",
                        "duplicate_request",
                        "method_not_allowed",
                        "unauthorized",
                        "account_under_validation",
                        "not_acceptable",
                        "bad_request",
                        "unprocessable_entity"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "example": "POST Method is not allowed on this path",
                      "description": "Readable message associated to the failure"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Transactional emails"
        ],
        "summary": "Update an email template",
        "operationId": "updateSmtpTemplate",
        "parameters": [
          {
            "name": "templateId",
            "in": "path",
            "description": "id of the template",
            "required": true,
            "x-exportParamName": "TemplateId",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "tag": {
                    "type": "string",
                    "example": "OrderConfirmation",
                    "description": "Tag of the template"
                  },
                  "sender": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "example": "Mary from MyShop",
                        "description": "Name of the sender"
                      },
                      "email": {
                        "type": "string",
                        "format": "email",
                        "example": "contact@myshop.com",
                        "description": "Email of the sender"
                      },
                      "id": {
                        "type": "integer",
                        "format": "int64",
                        "example": 3,
                        "description": "Select the sender for the template on the basis of sender id. In order to select a sender with specific pool of IP’s, dedicated ip users shall pass id (instead of email)."
                      }
                    },
                    "description": "Sender details including id or email and name (optional). Only one of either Sender's email or Sender's ID shall be passed in one request at a time. For example `{\"name\":\"xyz\", \"email\":\"example@abc.com\"}` , `{\"name\":\"xyz\", \"id\":123}`"
                  },
                  "templateName": {
                    "type": "string",
                    "example": "Order Confirmation - EN",
                    "description": "Name of the template"
                  },
                  "htmlContent": {
                    "type": "string",
                    "example": "The order n°xxxxx has been confirmed. Thanks for your purchase",
                    "description": "Required if htmlUrl is empty. If the template is designed using Drag & Drop editor via HTML content, then the design page will not have Drag & Drop editor access for that template. Body of the message (HTML must have more than 10 characters)"
                  },
                  "htmlUrl": {
                    "type": "string",
                    "format": "url",
                    "example": "https://html.domain.com",
                    "description": "Required if htmlContent is empty. URL to the body of the email (HTML)"
                  },
                  "subject": {
                    "type": "string",
                    "example": "Thanks for your purchase !",
                    "description": "Subject of the email"
                  },
                  "replyTo": {
                    "type": "string",
                    "format": "email",
                    "example": "support@myshop.com",
                    "description": "Email on which campaign recipients will be able to reply to"
                  },
                  "toField": {
                    "type": "string",
                    "example": "{FNAME} {LNAME}",
                    "description": "To personalize the «To» Field. If you want to include the first name and last name of your recipient, add {FNAME} {LNAME}. These contact attributes must already exist in your Brevo account. If input parameter 'params' used please use {{contact.FNAME}} {{contact.LNAME}} for personalization"
                  },
                  "attachmentUrl": {
                    "type": "string",
                    "format": "url",
                    "example": "https://attachment.domain.com",
                    "description": "Absolute url of the attachment (no local file). Extension allowed: xlsx, xls, ods, docx, docm, doc, csv, pdf, txt, gif, jpg, jpeg, png, tif, tiff, rtf, bmp, cgm, css, shtml, html, htm, zip, xml, ppt, pptx, tar, ez, ics, mobi, msg, pub and eps"
                  },
                  "isActive": {
                    "type": "boolean",
                    "example": true,
                    "description": "Status of the template. isActive = false means template is inactive, isActive = true means template is active"
                  }
                }
              }
            }
          },
          "description": "values to update in transactional email template",
          "required": true,
          "x-exportParamName": "SmtpTemplate"
        },
        "responses": {
          "204": {
            "description": "transactional email template updated"
          },
          "400": {
            "description": "bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "code",
                    "message"
                  ],
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "method_not_allowed",
                      "description": "Error code displayed in case of a failure",
                      "enum": [
                        "invalid_parameter",
                        "missing_parameter",
                        "out_of_range",
                        "campaign_processing",
                        "campaign_sent",
                        "document_not_found",
                        "reseller_permission_denied",
                        "not_enough_credits",
                        "permission_denied",
                        "duplicate_parameter",
                        "duplicate_request",
                        "method_not_allowed",
                        "unauthorized",
                        "account_under_validation",
                        "not_acceptable",
                        "bad_request",
                        "unprocessable_entity"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "example": "POST Method is not allowed on this path",
                      "description": "Readable message associated to the failure"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Template ID not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "code",
                    "message"
                  ],
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "method_not_allowed",
                      "description": "Error code displayed in case of a failure",
                      "enum": [
                        "invalid_parameter",
                        "missing_parameter",
                        "out_of_range",
                        "campaign_processing",
                        "campaign_sent",
                        "document_not_found",
                        "reseller_permission_denied",
                        "not_enough_credits",
                        "permission_denied",
                        "duplicate_parameter",
                        "duplicate_request",
                        "method_not_allowed",
                        "unauthorized",
                        "account_under_validation",
                        "not_acceptable",
                        "bad_request",
                        "unprocessable_entity"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "example": "POST Method is not allowed on this path",
                      "description": "Readable message associated to the failure"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Transactional emails"
        ],
        "summary": "Delete an inactive email template",
        "operationId": "deleteSmtpTemplate",
        "parameters": [
          {
            "name": "templateId",
            "in": "path",
            "description": "id of the template",
            "required": true,
            "x-exportParamName": "TemplateId",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Inactive transactional email template has been deleted"
          },
          "400": {
            "description": "bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "code",
                    "message"
                  ],
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "method_not_allowed",
                      "description": "Error code displayed in case of a failure",
                      "enum": [
                        "invalid_parameter",
                        "missing_parameter",
                        "out_of_range",
                        "campaign_processing",
                        "campaign_sent",
                        "document_not_found",
                        "reseller_permission_denied",
                        "not_enough_credits",
                        "permission_denied",
                        "duplicate_parameter",
                        "duplicate_request",
                        "method_not_allowed",
                        "unauthorized",
                        "account_under_validation",
                        "not_acceptable",
                        "bad_request",
                        "unprocessable_entity"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "example": "POST Method is not allowed on this path",
                      "description": "Readable message associated to the failure"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Template ID not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "code",
                    "message"
                  ],
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "method_not_allowed",
                      "description": "Error code displayed in case of a failure",
                      "enum": [
                        "invalid_parameter",
                        "missing_parameter",
                        "out_of_range",
                        "campaign_processing",
                        "campaign_sent",
                        "document_not_found",
                        "reseller_permission_denied",
                        "not_enough_credits",
                        "permission_denied",
                        "duplicate_parameter",
                        "duplicate_request",
                        "method_not_allowed",
                        "unauthorized",
                        "account_under_validation",
                        "not_acceptable",
                        "bad_request",
                        "unprocessable_entity"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "example": "POST Method is not allowed on this path",
                      "description": "Readable message associated to the failure"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/smtp/templates/{templateId}/sendTest": {
      "post": {
        "tags": [
          "Transactional emails"
        ],
        "summary": "Send a template to your test list",
        "operationId": "sendTestTemplate",
        "parameters": [
          {
            "name": "templateId",
            "in": "path",
            "description": "Id of the template",
            "required": true,
            "x-exportParamName": "TemplateId",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "emailTo": {
                    "type": "array",
                    "description": "List of the email addresses of the recipients whom you wish to send the test mail. If left empty, the test mail will be sent to your entire test list. You can not send more than 50 test emails per day.",
                    "items": {
                      "type": "string",
                      "format": "email",
                      "example": "helen.jurger@example.com",
                      "description": "Email addres of the recipient"
                    }
                  }
                }
              }
            }
          },
          "required": true,
          "x-exportParamName": "SendTestEmail"
        },
        "responses": {
          "204": {
            "description": "Test email has been sent successfully to all recipients"
          },
          "400": {
            "description": "Test email could not be sent to the following email addresses",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "code",
                    "message"
                  ],
                  "properties": {
                    "code": {
                      "type": "integer",
                      "format": "int64",
                      "example": "invalid_parameter",
                      "description": "Response code"
                    },
                    "message": {
                      "type": "string",
                      "example": "The email could not be sent to all recipients",
                      "description": "Response message"
                    },
                    "unexistingEmails": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "format": "email",
                        "example": "matthew.dow@example.com, elisa.carrely@example.com",
                        "description": "Email addresses you tried to sent an email to, but not existing in your contacts"
                      }
                    },
                    "withoutListEmails": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "format": "email",
                        "example": "jeff.dean@example.com, jim.sue@example.com",
                        "description": "Email addresses you sent an email to, without a contact list"
                      }
                    },
                    "blackListedEmails": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "format": "email",
                        "example": "jeff.dean@example.com, jim.sue@example.com",
                        "description": "Email addresses which are blacklisted. ONLY FOR email-campign's sendTest OR smtp-template's sendTest api's."
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Template ID not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "code",
                    "message"
                  ],
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "method_not_allowed",
                      "description": "Error code displayed in case of a failure",
                      "enum": [
                        "invalid_parameter",
                        "missing_parameter",
                        "out_of_range",
                        "campaign_processing",
                        "campaign_sent",
                        "document_not_found",
                        "reseller_permission_denied",
                        "not_enough_credits",
                        "permission_denied",
                        "duplicate_parameter",
                        "duplicate_request",
                        "method_not_allowed",
                        "unauthorized",
                        "account_under_validation",
                        "not_acceptable",
                        "bad_request",
                        "unprocessable_entity"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "example": "POST Method is not allowed on this path",
                      "description": "Readable message associated to the failure"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/smtp/statistics/aggregatedReport": {
      "get": {
        "tags": [
          "Transactional emails"
        ],
        "summary": "Get your transactional email activity aggregated over a period of time",
        "description": "This endpoint will show the aggregated stats for past 90 days by default if `startDate` and `endDate` OR `days` is not passed. The date range can not exceed 90 days",
        "operationId": "getAggregatedSmtpReport",
        "parameters": [
          {
            "name": "startDate",
            "in": "query",
            "description": "Mandatory if endDate is used. Starting date of the report (YYYY-MM-DD). Must be lower than equal to endDate",
            "required": false,
            "x-exportParamName": "StartDate",
            "x-optionalDataType": "String",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "Mandatory if startDate is used. Ending date of the report (YYYY-MM-DD). Must be greater than equal to startDate",
            "required": false,
            "x-exportParamName": "EndDate",
            "x-optionalDataType": "String",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "days",
            "in": "query",
            "description": "Number of days in the past including today (positive integer). Not compatible with 'startDate' and 'endDate'",
            "required": false,
            "x-exportParamName": "Days",
            "x-optionalDataType": "Int64",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "tag",
            "in": "query",
            "description": "Tag of the emails",
            "required": false,
            "x-exportParamName": "Tag",
            "x-optionalDataType": "String",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Aggregated report informations",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "range": {
                      "type": "string",
                      "example": "2016-09-08|2017-04-06",
                      "description": "Time frame of the report"
                    },
                    "requests": {
                      "type": "integer",
                      "format": "int64",
                      "example": 263,
                      "description": "Number of requests for the timeframe"
                    },
                    "delivered": {
                      "type": "integer",
                      "format": "int64",
                      "example": 249,
                      "description": "Number of delivered emails for the timeframe"
                    },
                    "hardBounces": {
                      "type": "integer",
                      "format": "int64",
                      "example": 1,
                      "description": "Number of hardbounces for the timeframe"
                    },
                    "softBounces": {
                      "type": "integer",
                      "format": "int64",
                      "example": 4,
                      "description": "Number of softbounces for the timeframe"
                    },
                    "clicks": {
                      "type": "integer",
                      "format": "int64",
                      "example": 12,
                      "description": "Number of clicks for the timeframe"
                    },
                    "uniqueClicks": {
                      "type": "integer",
                      "format": "int64",
                      "example": 8,
                      "description": "Number of unique clicks for the timeframe"
                    },
                    "opens": {
                      "type": "integer",
                      "format": "int64",
                      "example": 47,
                      "description": "Number of openings for the timeframe"
                    },
                    "uniqueOpens": {
                      "type": "integer",
                      "format": "int64",
                      "example": 37,
                      "description": "Number of unique openings for the timeframe"
                    },
                    "spamReports": {
                      "type": "integer",
                      "format": "int64",
                      "example": 0,
                      "description": "Number of complaint (spam report) for the timeframe"
                    },
                    "blocked": {
                      "type": "integer",
                      "format": "int64",
                      "example": 2,
                      "description": "Number of blocked contact emails for the timeframe"
                    },
                    "invalid": {
                      "type": "integer",
                      "format": "int64",
                      "example": 0,
                      "description": "Number of invalid emails for the timeframe"
                    },
                    "unsubscribed": {
                      "type": "integer",
                      "format": "int64",
                      "example": 0,
                      "description": "Number of unsubscribed emails for the timeframe"
                    }
                  }
                },
                "examples": {
                  "response": {
                    "value": {
                      "range": "2016-09-08|2017-04-28",
                      "requests": 19887,
                      "delivered": 18996,
                      "hardBounces": 234,
                      "softBounces": 1533,
                      "clicks": 9987,
                      "uniqueClicks": 8766,
                      "opens": 17654,
                      "uniqueOpens": 13688,
                      "spamReports": 1,
                      "blocked": 2,
                      "invalid": 0,
                      "unsubscribed": 2
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "code",
                    "message"
                  ],
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "method_not_allowed",
                      "description": "Error code displayed in case of a failure",
                      "enum": [
                        "invalid_parameter",
                        "missing_parameter",
                        "out_of_range",
                        "campaign_processing",
                        "campaign_sent",
                        "document_not_found",
                        "reseller_permission_denied",
                        "not_enough_credits",
                        "permission_denied",
                        "duplicate_parameter",
                        "duplicate_request",
                        "method_not_allowed",
                        "unauthorized",
                        "account_under_validation",
                        "not_acceptable",
                        "bad_request",
                        "unprocessable_entity"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "example": "POST Method is not allowed on this path",
                      "description": "Readable message associated to the failure"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/smtp/statistics/reports": {
      "get": {
        "tags": [
          "Transactional emails"
        ],
        "summary": "Get your transactional email activity aggregated per day",
        "operationId": "getSmtpReport",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Number of documents returned per page",
            "required": false,
            "x-exportParamName": "Limit",
            "x-optionalDataType": "Int64",
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0,
              "maximum": 30,
              "default": 10
            }
          },
          {
[...]
