{
  "openapi": "3.0.0",
  "info": {
    "title": "Trello REST API - Cartões",
    "version": "0.0.1"
  },
  "servers": [
    {
      "url": "https://api.trello.com/1"
    }
  ],
  "tags": [
    {
      "name": "Cartões"
    }
  ],
  "paths": {
    "/cards": {
      "post": {
        "tags": [
          "Cartões"
        ],
        "summary": "Create a new Card",
        "description": "Create a new card. Query parameters may also be replaced with a JSON request body instead.",
        "operationId": "post-cards",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "description": "The name for the card",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "desc",
            "in": "query",
            "description": "The description for the card",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pos",
            "in": "query",
            "description": "The position of the new card. `top`, `bottom`, or a positive float",
            "required": false,
            "schema": {
              "oneOf": [
                {
                  "type": "string",
                  "enum": [
                    "top",
                    "bottom"
                  ]
                },
                {
                  "type": "number",
                  "format": "float",
                  "minimum": 0
                }
              ]
            }
          },
          {
            "name": "due",
            "in": "query",
            "description": "A due date for the card",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "start",
            "in": "query",
            "description": "The start date of a card, or `null`",
            "required": false,
            "schema": {
              "nullable": true,
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "dueComplete",
            "in": "query",
            "description": "Whether the status of the card is complete",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "idList",
            "in": "query",
            "description": "The ID of the list the card should be created in",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[0-9a-fA-F]{24}$",
              "example": "5abbe4b7ddc1b351ef961414"
            }
          },
          {
            "name": "idMembers",
            "in": "query",
            "description": "Comma-separated list of member IDs to add to the card",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "oneOf": [
                  {
                    "type": "string",
                    "pattern": "^[0-9a-fA-F]{24}$",
                    "example": "5abbe4b7ddc1b351ef961414"
                  }
                ]
              }
            }
          },
          {
            "name": "idLabels",
            "in": "query",
            "description": "Comma-separated list of label IDs to add to the card",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "oneOf": [
                  {
                    "type": "string",
                    "pattern": "^[0-9a-fA-F]{24}$",
                    "example": "5abbe4b7ddc1b351ef961414"
                  }
                ]
              }
            }
          },
          {
            "name": "urlSource",
            "in": "query",
            "description": "A URL starting with `http://` or `https://`. The URL will be attached to the card upon creation.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "url"
            }
          },
          {
            "name": "fileSource",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {
              "type": "string",
              "format": "binary"
            }
          },
          {
            "name": "mimeType",
            "in": "query",
            "description": "The mimeType of the attachment. Max length 256",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "idCardSource",
            "in": "query",
            "description": "The ID of a card to copy into the new card",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^[0-9a-fA-F]{24}$",
              "example": "5abbe4b7ddc1b351ef961414"
            }
          },
          {
            "name": "keepFromSource",
            "in": "query",
            "description": "If using `idCardSource` you can specify which properties to copy over. `all` or comma-separated list of: `attachments,checklists,customFields,comments,due,start,labels,members,start,stickers`",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "string",
              "default": "all",
              "enum": [
                "all",
                "attachments",
                "checklists",
                "comments",
                "customFields",
                "due",
                "start",
                "labels",
                "members",
                "start",
                "stickers"
              ]
            }
          },
          {
            "name": "address",
            "in": "query",
            "description": "For use with/by the Map View",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "locationName",
            "in": "query",
            "description": "For use with/by the Map View",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "coordinates",
            "in": "query",
            "description": "For use with/by the Map View. Should take the form latitude,longitude",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cardRole",
            "in": "query",
            "description": "For displaying cards in different ways based on the card name. Board cards must have a name that is a link to a Trello board. Mirror cards must have a name that is a link to a Trello card.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "separator",
                "board",
                "mirror",
                "link"
              ],
              "nullable": true
            }
          }
        ],
        "deprecated": false,
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "pattern": "^[0-9a-fA-F]{24}$",
                      "example": "5abbe4b7ddc1b351ef961414"
                    },
                    "address": {
                      "type": "string",
                      "nullable": true
                    },
                    "badges": {
                      "type": "object",
                      "properties": {
                        "attachmentsByType": {
                          "type": "object",
                          "properties": {
                            "trello": {
                              "type": "object",
                              "properties": {
                                "board": {
                                  "type": "number"
                                },
                                "card": {
                                  "type": "number"
                                }
                              }
                            }
                          }
                        },
                        "location": {
                          "type": "boolean"
                        },
                        "votes": {
                          "type": "integer"
                        },
                        "viewingMemberVoted": {
                          "type": "boolean",
                          "example": false
                        },
                        "subscribed": {
                          "type": "boolean",
                          "example": false
                        },
                        "fogbugz": {
                          "type": "string"
                        },
                        "checkItems": {
                          "type": "integer",
                          "example": 0
                        },
                        "checkItemsChecked": {
                          "type": "integer",
                          "example": 0
                        },
                        "comments": {
                          "type": "integer",
                          "example": 0
                        },
                        "attachments": {
                          "type": "integer",
                          "example": 0
                        },
                        "description": {
                          "type": "boolean"
                        },
                        "due": {
                          "type": "string",
                          "format": "date",
                          "nullable": true
                        },
                        "start": {
                          "type": "string",
                          "format": "date",
                          "nullable": true
                        },
                        "dueComplete": {
                          "type": "boolean"
                        }
                      }
                    },
                    "cardRole": {
                      "type": "string",
                      "enum": [
                        "separator",
                        "board",
                        "mirror",
                        "link"
                      ],
                      "example": "mirror",
                      "nullable": true
                    },
                    "checkItemStates": {
                      "type": "array",
                      "items": {
                        "oneOf": [
                          {
                            "type": "string"
                          }
                        ]
                      }
                    },
                    "closed": {
                      "type": "boolean"
                    },
                    "coordinates": {
                      "type": "string",
                      "nullable": true
                    },
                    "creationMethod": {
                      "type": "string",
                      "nullable": true
                    },
                    "dateLastActivity": {
                      "type": "string",
                      "format": "date-time",
                      "example": "2019-09-16T16:19:17.156Z"
                    },
                    "desc": {
                      "type": "string",
                      "example": "👋Hey there,\n\nTrello's Platform team uses this board to keep developers up-to-date."
                    },
                    "descData": {
                      "type": "object",
                      "properties": {
                        "emoji": {
                          "type": "object"
                        }
                      }
                    },
                    "due": {
                      "type": "string",
                      "format": "date",
                      "nullable": true
                    },
                    "dueReminder": {
                      "type": "string",
                      "nullable": true
                    },
                    "idBoard": {
                      "type": "string",
                      "pattern": "^[0-9a-fA-F]{24}$",
                      "example": "5abbe4b7ddc1b351ef961414"
                    },
                    "idChecklists": {
                      "type": "array",
                      "items": {
                        "oneOf": [
                          {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "pattern": "^[0-9a-fA-F]{24}$",
                                "example": "5abbe4b7ddc1b351ef961414"
                              }
                            }
                          },
                          {
                            "type": "string",
                            "pattern": "^[0-9a-fA-F]{24}$",
                            "example": "5abbe4b7ddc1b351ef961414"
                          }
                        ]
                      }
                    },
                    "idLabels": {
                      "type": "array",
                      "items": {
                        "oneOf": [
                          {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "pattern": "^[0-9a-fA-F]{24}$",
                                "example": "5abbe4b7ddc1b351ef961414",
                                "description": "The ID of the label."
                              },
                              "idBoard": {
                                "type": "string",
                                "pattern": "^[0-9a-fA-F]{24}$",
                                "example": "5abbe4b7ddc1b351ef961414",
                                "description": "The ID of the board the label is on."
                              },
                              "name": {
                                "type": "string",
                                "description": "The name displayed for the label.",
                                "example": "Overdue",
                                "nullable": true,
                                "minLength": 0,
                                "maxLength": 16384
                              },
                              "color": {
                                "type": "string",
                                "enum": [
                                  "yellow",
                                  "purple",
                                  "blue",
                                  "red",
                                  "green",
                                  "orange",
                                  "black",
                                  "sky",
                                  "pink",
                                  "lime"
                                ],
                                "nullable": true,
                                "description": "The color of the label. Null means no color and the label will not be shown on the front of Cards."
                              }
                            }
                          },
                          {
                            "type": "string",
                            "pattern": "^[0-9a-fA-F]{24}$",
                            "example": "5abbe4b7ddc1b351ef961414"
                          }
                        ]
                      }
                    },
                    "idList": {
                      "type": "string",
                      "pattern": "^[0-9a-fA-F]{24}$",
                      "example": "5abbe4b7ddc1b351ef961415"
                    },
                    "idMembers": {
                      "type": "array",
                      "items": {
                        "oneOf": [
                          {
                            "type": "string",
                            "pattern": "^[0-9a-fA-F]{24}$",
                            "example": "5abbe4b7ddc1b351ef961414"
                          }
                        ]
                      }
                    },
                    "idMembersVoted": {
                      "type": "array",
                      "items": {
                        "oneOf": [
                          {
                            "type": "string",
                            "pattern": "^[0-9a-fA-F]{24}$",
                            "example": "5abbe4b7ddc1b351ef961414"
                          }
                        ]
                      }
                    },
                    "idShort": {
                      "type": "integer"
                    },
                    "idAttachmentCover": {
                      "type": "string",
                      "pattern": "^[0-9a-fA-F]{24}$",
                      "example": "5abbe4b7ddc1b351ef961415",
                      "nullable": true
                    },
                    "labels": {
                      "type": "array",
                      "items": {
                        "oneOf": [
                          {
                            "type": "string",
                            "pattern": "^[0-9a-fA-F]{24}$",
                            "example": "5abbe4b7ddc1b351ef961414"
                          }
                        ]
                      }
                    },
                    "limits": {
                      "type": "object",
                      "properties": {
                        "attachments": {
                          "type": "object",
                          "properties": {
                            "perBoard": {
                              "type": "object",
                              "properties": {
                                "status": {
                                  "type": "string",
                                  "enum": [
                                    "ok",
                                    "warning"
                                  ]
                                },
                                "disableAt": {
                                  "type": "number",
                                  "example": 36000
                                },
                                "warnAt": {
                                  "type": "number",
                                  "example": 32400
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "locationName": {
                      "type": "string",
                      "nullable": true
                    },
                    "manualCoverAttachment": {
                      "type": "boolean",
                      "example": false
                    },
                    "mirrorSourceId": {
                      "type": "string",
                      "pattern": "^[0-9a-fA-F]{24}$",
                      "example": "5abbe4b7ddc1b351ef961414",
                      "nullable": true
                    },
                    "name": {
                      "type": "string",
                      "example": "👋 What? Why? How?"
                    },
                    "pos": {
                      "type": "number",
                      "format": "float",
                      "example": 65535
                    },
                    "shortLink": {
                      "type": "string",
                      "example": "H0TZyzbK"
                    },
                    "shortUrl": {
                      "type": "string",
                      "format": "url",
                      "example": "https://trello.com/c/H0TZyzbK"
                    },
                    "subscribed": {
                      "type": "boolean",
                      "example": false
                    },
                    "url": {
                      "type": "string",
                      "format": "url",
                      "example": "https://trello.com/c/H0TZyzbK/4-%F0%9F%91%8B-what-why-how"
                    },
                    "cover": {
                      "type": "object",
                      "properties": {
                        "idAttachment": {
                          "type": "string",
                          "pattern": "^[0-9a-fA-F]{24}$",
                          "example": "5abbe4b7ddc1b351ef961414",
                          "nullable": true
                        },
                        "color": {
                          "type": "string",
                          "enum": [
                            "yellow",
                            "purple",
                            "blue",
                            "red",
                            "green",
                            "orange",
                            "black",
                            "sky",
                            "pink",
                            "lime"
                          ],
                          "nullable": true
                        },
                        "idUploadedBackground": {
                          "type": "boolean",
                          "nullable": true
                        },
                        "size": {
                          "type": "string",
                          "enum": [
                            "normal"
                          ]
                        },
                        "brightness": {
                          "type": "string",
                          "enum": [
                            "light",
                            "dark"
                          ]
                        },
                        "isTemplate": {
                          "type": "boolean",
                          "example": false
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/cards/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "description": "The ID of the Card",
          "required": true,
          "schema": {
            "type": "string",
            "pattern": "^[0-9a-fA-F]{24}$",
            "example": "5abbe4b7ddc1b351ef961414"
          }
        }
      ],
      "get": {
        "tags": [
          "Cartões"
        ],
        "summary": "Get a Card",
        "description": "Get a card by its ID",
        "operationId": "get-cards-id",
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "description": "`all` or a comma-separated list of [fields](/cloud/trello/guides/rest-api/object-definitions/). **Defaults**: `badges, checkItemStates, closed, dateLastActivity, desc, descData, due, start, idBoard, idChecklists, idLabels, idList, idMembers, idShort, idAttachmentCover, manualCoverAttachment, labels, name, pos, shortUrl, url`",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "actions",
            "in": "query",
            "description": "See the [Actions Nested Resource](/cloud/trello/guides/rest-api/nested-resources/#actions-nested-resource)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "attachments",
            "in": "query",
            "description": "`true`, `false`, or `cover`",
            "required": false,
            "schema": {
              "type": "string",
              "oneOf": [
                {
                  "type": "string",
                  "enum": [
                    "cover"
                  ]
                },
                {
                  "type": "boolean"
                }
              ],
              "default": false
            }
          },
          {
            "name": "attachment_fields",
            "in": "query",
            "description": "`all` or a comma-separated list of attachment [fields](/cloud/trello/guides/rest-api/object-definitions/)",
            "required": false,
            "schema": {
              "type": "string",
              "default": "all"
            }
          },
          {
            "name": "members",
            "in": "query",
            "description": "Whether to return member objects for members on the card",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "member_fields",
            "in": "query",
            "description": "`all` or a comma-separated list of member [fields](/cloud/trello/guides/rest-api/object-definitions/). **Defaults**: `avatarHash, fullName, initials, username`",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "membersVoted",
            "in": "query",
            "description": "Whether to return member objects for members who voted on the card",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "memberVoted_fields",
            "in": "query",
            "description": "`all` or a comma-separated list of member [fields](/cloud/trello/guides/rest-api/object-definitions/). **Defaults**: `avatarHash, fullName, initials, username`",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "checkItemStates",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "checklists",
            "in": "query",
            "description": "Whether to return the checklists on the card. `all` or `none`",
            "required": false,
            "schema": {
              "type": "string",
              "default": "none"
            }
          },
          {
            "name": "checklist_fields",
            "in": "query",
            "description": "`all` or a comma-separated list of `idBoard,idCard,name,pos`",
            "required": false,
            "schema": {
              "type": "string",
              "default": "all"
            }
          },
          {
            "name": "board",
            "in": "query",
            "description": "Whether to return the board object the card is on",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "board_fields",
            "in": "query",
            "description": "`all` or a comma-separated list of board [fields](/cloud/trello/guides/rest-api/object-definitions/#board-object). **Defaults**: `name, desc, descData, closed, idOrganization, pinned, url, prefs`",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "list",
            "in": "query",
            "description": "See the [Lists Nested Resource](/cloud/trello/guides/rest-api/nested-resources/)",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "pluginData",
            "in": "query",
            "description": "Whether to include pluginData on the card with the response",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "stickers",
            "in": "query",
            "description": "Whether to include sticker models with the response",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "sticker_fields",
            "in": "query",
            "description": "`all` or a comma-separated list of sticker [fields](/cloud/trello/guides/rest-api/object-definitions/)",
            "required": false,
            "schema": {
              "type": "string",
              "default": "all"
            }
          },
          {
            "name": "customFieldItems",
            "in": "query",
            "description": "Whether to include the customFieldItems",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "deprecated": false,
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "pattern": "^[0-9a-fA-F]{24}$",
                      "example": "5abbe4b7ddc1b351ef961414"
                    },
                    "address": {
                      "type": "string",
                      "nullable": true
                    },
                    "badges": {
                      "type": "object",
                      "properties": {
                        "attachmentsByType": {
                          "type": "object",
                          "properties": {
                            "trello": {
                              "type": "object",
                              "properties": {
                                "board": {
                                  "type": "number"
                                },
                                "card": {
                                  "type": "number"
                                }
                              }
                            }
                          }
                        },
                        "location": {
                          "type": "boolean"
                        },
                        "votes": {
                          "type": "integer"
                        },
                        "viewingMemberVoted": {
                          "type": "boolean",
                          "example": false
                        },
                        "subscribed": {
                          "type": "boolean",
                          "example": false
                        },
                        "fogbugz": {
                          "type": "string"
                        },
                        "checkItems": {
                          "type": "integer",
                          "example": 0
                        },
                        "checkItemsChecked": {
                          "type": "integer",
                          "example": 0
                        },
                        "comments": {
                          "type": "integer",
                          "example": 0
                        },
                        "attachments": {
                          "type": "integer",
                          "example": 0
                        },
                        "description": {
                          "type": "boolean"
                        },
                        "due": {
                          "type": "string",
                          "format": "date",
                          "nullable": true
                        },
                        "start": {
                          "type": "string",
                          "format": "date",
                          "nullable": true
                        },
                        "dueComplete": {
                          "type": "boolean"
                        }
                      }
                    },
                    "cardRole": {
                      "type": "string",
                      "enum": [
                        "separator",
                        "board",
                        "mirror",
                        "link"
                      ],
                      "example": "mirror",
                      "nullable": true
                    },
                    "checkItemStates": {
                      "type": "array",
                      "items": {
                        "oneOf": [
                          {
                            "type": "string"
                          }
                        ]
                      }
                    },
                    "closed": {
                      "type": "boolean"
                    },
                    "coordinates": {
                      "type": "string",
                      "nullable": true
                    },
                    "creationMethod": {
                      "type": "string",
                      "nullable": true
                    },
                    "dateLastActivity": {
                      "type": "string",
                      "format": "date-time",
                      "example": "2019-09-16T16:19:17.156Z"
                    },
                    "desc": {
                      "type": "string",
                      "example": "👋Hey there,\n\nTrello's Platform team uses this board to keep developers up-to-date."
                    },
                    "descData": {
                      "type": "object",
                      "properties": {
                        "emoji": {
                          "type": "object"
                        }
                      }
                    },
                    "due": {
                      "type": "string",
                      "format": "date",
                      "nullable": true
                    },
                    "dueReminder": {
                      "type": "string",
                      "nullable": true
                    },
                    "idBoard": {
                      "type": "string",
                      "pattern": "^[0-9a-fA-F]{24}$",
                      "example": "5abbe4b7ddc1b351ef961414"
                    },
                    "idChecklists": {
                      "type": "array",
                      "items": {
                        "oneOf": [
                          {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "pattern": "^[0-9a-fA-F]{24}$",
                                "example": "5abbe4b7ddc1b351ef961414"
                              }
                            }
                          },
                          {
                            "type": "string",
                            "pattern": "^[0-9a-fA-F]{24}$",
                            "example": "5abbe4b7ddc1b351ef961414"
                          }
                        ]
                      }
                    },
                    "idLabels": {
                      "type": "array",
                      "items": {
                        "oneOf": [
                          {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "pattern": "^[0-9a-fA-F]{24}$",
                                "example": "5abbe4b7ddc1b351ef961414",
                                "description": "The ID of the label."
                              },
                              "idBoard": {
                                "type": "string",
                                "pattern": "^[0-9a-fA-F]{24}$",
                                "example": "5abbe4b7ddc1b351ef961414",
                                "description": "The ID of the board the label is on."
                              },
                              "name": {
                                "type": "string",
                                "description": "The name displayed for the label.",
                                "example": "Overdue",
                                "nullable": true,
                                "minLength": 0,
                                "maxLength": 16384
                              },
                              "color": {
                                "type": "string",
                                "enum": [
                                  "yellow",
                                  "purple",
                                  "blue",
                                  "red",
                                  "green",
                                  "orange",
                                  "black",
                                  "sky",
                                  "pink",
                                  "lime"
                                ],
                                "nullable": true,
                                "description": "The color of the label. Null means no color and the label will not be shown on the front of Cards."
                              }
                            }
                          },
                          {
                            "type": "string",
                            "pattern": "^[0-9a-fA-F]{24}$",
                            "example": "5abbe4b7ddc1b351ef961414"
                          }
                        ]
                      }
                    },
                    "idList": {
                      "type": "string",
                      "pattern": "^[0-9a-fA-F]{24}$",
                      "example": "5abbe4b7ddc1b351ef961415"
                    },
                    "idMembers": {
                      "type": "array",
                      "items": {
                        "oneOf": [
                          {
                            "type": "string",
                            "pattern": "^[0-9a-fA-F]{24}$",
                            "example": "5abbe4b7ddc1b351ef961414"
                          }
                        ]
                      }
                    },
                    "idMembersVoted": {
                      "type": "array",
                      "items": {
                        "oneOf": [
                          {
                            "type": "string",
                            "pattern": "^[0-9a-fA-F]{24}$",
                            "example": "5abbe4b7ddc1b351ef961414"
                          }
                        ]
                      }
                    },
                    "idShort": {
                      "type": "integer"
                    },
                    "idAttachmentCover": {
                      "type": "string",
                      "pattern": "^[0-9a-fA-F]{24}$",
                      "example": "5abbe4b7ddc1b351ef961415",
                      "nullable": true
                    },
                    "labels": {
                      "type": "array",
                      "items": {
                        "oneOf": [
                          {
                            "type": "string",
                            "pattern": "^[0-9a-fA-F]{24}$",
                            "example": "5abbe4b7ddc1b351ef961414"
                          }
                        ]
                      }
                    },
                    "limits": {
                      "type": "object",
                      "properties": {
                        "attachments": {
                          "type": "object",
                          "properties": {
                            "perBoard": {
                              "type": "object",
                              "properties": {
                                "status": {
                                  "type": "string",
                                  "enum": [
                                    "ok",
                                    "warning"
                                  ]
                                },
                                "disableAt": {
                                  "type": "number",
                                  "example": 36000
                                },
                                "warnAt": {
                                  "type": "number",
                                  "example": 32400
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "locationName": {
                      "type": "string",
                      "nullable": true
                    },
                    "manualCoverAttachment": {
                      "type": "boolean",
                      "example": false
                    },
                    "mirrorSourceId": {
                      "type": "string",
                      "pattern": "^[0-9a-fA-F]{24}$",
                      "example": "5abbe4b7ddc1b351ef961414",
                      "nullable": true
                    },
                    "name": {
                      "type": "string",
                      "example": "👋 What? Why? How?"
                    },
                    "pos": {
                      "type": "number",
                      "format": "float",
                      "example": 65535
                    },
                    "shortLink": {
                      "type": "string",
                      "example": "H0TZyzbK"
                    },
                    "shortUrl": {
                      "type": "string",
                      "format": "url",
                      "example": "https://trello.com/c/H0TZyzbK"
                    },
                    "subscribed": {
                      "type": "boolean",
                      "example": false
                    },
                    "url": {
                      "type": "string",
                      "format": "url",
                      "example": "https://trello.com/c/H0TZyzbK/4-%F0%9F%91%8B-what-why-how"
                    },
                    "cover": {
                      "type": "object",
                      "properties": {
                        "idAttachment": {
                          "type": "string",
                          "pattern": "^[0-9a-fA-F]{24}$",
                          "example": "5abbe4b7ddc1b351ef961414",
                          "nullable": true
                        },
                        "color": {
                          "type": "string",
                          "enum": [
                            "yellow",
                            "purple",
                            "blue",
                            "red",
                            "green",
                            "orange",
                            "black",
                            "sky",
                            "pink",
                            "lime"
                          ],
                          "nullable": true
                        },
                        "idUploadedBackground": {
                          "type": "boolean",
                          "nullable": true
                        },
                        "size": {
                          "type": "string",
                          "enum": [
                            "normal"
                          ]
                        },
                        "brightness": {
                          "type": "string",
                          "enum": [
                            "light",
                            "dark"
                          ]
                        },
                        "isTemplate": {
                          "type": "boolean",
                          "example": false
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Cartões"
        ],
        "summary": "Update a Card",
        "description": "Update a card. Query parameters may also be replaced with a JSON request body instead.",
        "operationId": "put-cards-id",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "description": "The new name for the card",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "desc",
            "in": "query",
            "description": "The new description for the card",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "closed",
            "in": "query",
            "description": "Whether the card should be archived (closed: true)",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "idMembers",
            "in": "query",
            "description": "Comma-separated list of member IDs",
            "required": false,
            "explode": false,
            "style": "form",
            "schema": {
              "type": "string",
              "pattern": "^[0-9a-fA-F]{24}$",
              "example": "5abbe4b7ddc1b351ef961414"
            }
          },
          {
            "name": "idAttachmentCover",
            "in": "query",
            "description": "The ID of the image attachment the card should use as its cover, or null for none",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^[0-9a-fA-F]{24}$",
              "example": "5abbe4b7ddc1b351ef961414"
            }
          },
          {
            "name": "idList",
            "in": "query",
            "description": "The ID of the list the card should be in",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^[0-9a-fA-F]{24}$",
              "example": "5abbe4b7ddc1b351ef961414"
            }
          },
          {
            "name": "idLabels",
            "in": "query",
            "description": "Comma-separated list of label IDs",
            "required": false,
            "explode": false,
            "style": "form",
            "schema": {
              "type": "string",
              "pattern": "^[0-9a-fA-F]{24}$",
              "example": "5abbe4b7ddc1b351ef961414"
            }
          },
          {
            "name": "idBoard",
            "in": "query",
            "description": "The ID of the board the card should be on",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^[0-9a-fA-F]{24}$",
              "example": "5abbe4b7ddc1b351ef961414"
            }
          },
          {
            "name": "pos",
            "in": "query",
            "description": "The position of the card in its list. `top`, `bottom`, or a positive float",
            "required": false,
            "schema": {
              "oneOf": [
                {
                  "type": "string",
                  "enum": [
                    "top",
                    "bottom"
                  ]
                },
                {
                  "type": "number",
                  "format": "float"
                }
              ]
            }
          },
          {
            "name": "due",
            "in": "query",
            "description": "When the card is due, or `null`",
            "required": false,
            "schema": {
              "nullable": true,
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "start",
            "in": "query",
            "description": "The start date of a card, or `null`",
            "required": false,
            "schema": {
              "nullable": true,
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "dueComplete",
            "in": "query",
            "description": "Whether the status of the card is complete",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "subscribed",
            "in": "query",
            "description": "Whether the member is should be subscribed to the card",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "address",
            "in": "query",
            "description": "For use with/by the Map View",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "locationName",
            "in": "query",
            "description": "For use with/by the Map View",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "coordinates",
            "in": "query",
            "description": "For use with/by the Map View. Should be latitude,longitude",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cover",
            "in": "query",
            "description": "Updates the card's cover\n | Option | Values | About |\n |--------|--------|-------|\n | color | `pink`, `yellow`, `lime`, `blue`, `black`, `orange`, `red`, `purple`, `sky`, `green` | Makes the cover a solid color . |\n | brightness | `dark`, `light` | Determines whether the text on the cover should be dark or light.\n | url | An unsplash URL: https://images.unsplash.com | Used if making an image the cover. Only Unsplash URLs work.\n | idAttachment | ID of an attachment on the card | Used if setting an attached image as the cover. |\n | size | `normal`, `full` | Determines whether to show the card name on the cover, or below it. |\n \n `brightness` can be sent alongside any of the other parameters, but all of the other parameters are mutually exclusive; you can not have the cover be a `color` and an `idAttachment` at the same time. \n \n On the brightness options, setting it to light will make the text on the card cover dark:\n ![](/cloud/trello/images/rest/cards/cover-brightness-dark.png)\n \n And vice versa, setting it to dark will make the text on the card cover light: \n ![](/cloud/trello/images/rest/cards/cover-brightness-light.png) ",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "object",
                  "description": "An object containing information regarding the card's cover \n `brightness` can be sent alongside any of the other parameters, but all of the other parameters are mutually exclusive; you can not have the cover be a color and an `idAttachment` at the same time.",
                  "properties": {
                    "color": {
                      "type": "string",
                      "enum": [
                        "pink",
                        "yellow",
                        "lime",
                        "blue",
                        "black",
                        "orange",
                        "red",
                        "purple",
                        "sky",
                        "green"
                      ],
                      "description": "One of: `pink, yellow, lime, blue, black, orange, red, purple, sky, green`",
                      "example": "pink"
                    },
                    "brightness": {
                      "type": "string",
                      "enum": [
                        "dark",
                        "light"
                      ],
                      "description": "Determines whether the text on the cover should be dark or light. Setting it to `light` will make the text on the card cover dark. And vice versa, setting it to dark will make the text on the card cover light"
                    },
                    "url": {
                      "type": "string",
                      "format": "url",
                      "description": "Used if making an image the cover. Only Unsplash URLs (https://images.unsplash.com/) work."
                    }
                  }
                }
              }
            }
          }
        ],
        "deprecated": false,
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "pattern": "^[0-9a-fA-F]{24}$",
                      "example": "5abbe4b7ddc1b351ef961414"
                    },
                    "address": {
                      "type": "string",
                      "nullable": true
                    },
                    "badges": {
                      "type": "object",
                      "properties": {
                        "attachmentsByType": {
                          "type": "object",
                          "properties": {
                            "trello": {
                              "type": "object",
                              "properties": {
                                "board": {
                                  "type": "number"
                                },
                                "card": {
                                  "type": "number"
                                }
                              }
                            }
                          }
                        },
                        "location": {
                          "type": "boolean"
                        },
                        "votes": {
                          "type": "integer"
                        },
                        "viewingMemberVoted": {
                          "type": "boolean",
                          "example": false
                        },
                        "subscribed": {
                          "type": "boolean",
                          "example": false
                        },
                        "fogbugz": {
                          "type": "string"
                        },
                        "checkItems": {
                          "type": "integer",
                          "example": 0
                        },
                        "checkItemsChecked": {
                          "type": "integer",
                          "example": 0
                        },
                        "comments": {
                          "type": "integer",
                          "example": 0
                        },
                        "attachments": {
                          "type": "integer",
                          "example": 0
                        },
                        "description": {
                          "type": "boolean"
                        },
                        "due": {
                          "type": "string",
                          "format": "date",
                          "nullable": true
                        },
                        "start": {
                          "type": "string",
                          "format": "date",
                          "nullable": true
                        },
                        "dueComplete": {
                          "type": "boolean"
                        }
                      }
                    },
                    "cardRole": {
                      "type": "string",
                      "enum": [
                        "separator",
                        "board",
                        "mirror",
                        "link"
                      ],
                      "example": "mirror",
                      "nullable": true
                    },
                    "checkItemStates": {
                      "type": "array",
                      "items": {
                        "oneOf": [
                          {
                            "type": "string"
                          }
                        ]
                      }
                    },
                    "closed": {
                      "type": "boolean"
                    },
                    "coordinates": {
                      "type": "string",
                      "nullable": true
                    },
                    "creationMethod": {
                      "type": "string",
                      "nullable": true
                    },
                    "dateLastActivity": {
                      "type": "string",
                      "format": "date-time",
                      "example": "2019-09-16T16:19:17.156Z"
                    },
                    "desc": {
                      "type": "string",
                      "example": "👋Hey there,\n\nTrello's Platform team uses this board to keep developers up-to-date."
                    },
                    "descData": {
                      "type": "object",
                      "properties": {
                        "emoji": {
                          "type": "object"
                        }
                      }
                    },
                    "due": {
                      "type": "string",
                      "format": "date",
                      "nullable": true
                    },
                    "dueReminder": {
                      "type": "string",
                      "nullable": true
                    },
                    "idBoard": {
                      "type": "string",
                      "pattern": "^[0-9a-fA-F]{24}$",
                      "example": "5abbe4b7ddc1b351ef961414"
                    },
                    "idChecklists": {
                      "type": "array",
                      "items": {
                        "oneOf": [
                          {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "pattern": "^[0-9a-fA-F]{24}$",
                                "example": "5abbe4b7ddc1b351ef961414"
                              }
                            }
                          },
                          {
                            "type": "string",
                            "pattern": "^[0-9a-fA-F]{24}$",
                            "example": "5abbe4b7ddc1b351ef961414"
                          }
                        ]
                      }
                    },
                    "idLabels": {
                      "type": "array",
                      "items": {
                        "oneOf": [
                          {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "pattern": "^[0-9a-fA-F]{24}$",
                                "example": "5abbe4b7ddc1b351ef961414",
                                "description": "The ID of the label."
                              },
                              "idBoard": {
                                "type": "string",
                                "pattern": "^[0-9a-fA-F]{24}$",
                                "example": "5abbe4b7ddc1b351ef961414",
                                "description": "The ID of the board the label is on."
                              },
                              "name": {
                                "type": "string",
                                "description": "The name displayed for the label.",
                                "example": "Overdue",
                                "nullable": true,
                                "minLength": 0,
                                "maxLength": 16384
                              },
                              "color": {
                                "type": "string",
                                "enum": [
                                  "yellow",
                                  "purple",
                                  "blue",
                                  "red",
                                  "green",
                                  "orange",
                                  "black",
                                  "sky",
                                  "pink",
                                  "lime"
                                ],
                                "nullable": true,
                                "description": "The color of the label. Null means no color and the label will not be shown on the front of Cards."
                              }
                            }
                          },
                          {
                            "type": "string",
                            "pattern": "^[0-9a-fA-F]{24}$",
                            "example": "5abbe4b7ddc1b351ef961414"
                          }
                        ]
                      }
                    },
                    "idList": {
                      "type": "string",
                      "pattern": "^[0-9a-fA-F]{24}$",
                      "example": "5abbe4b7ddc1b351ef961415"
                    },
                    "idMembers": {
                      "type": "array",
                      "items": {
                        "oneOf": [
                          {
                            "type": "string",
                            "pattern": "^[0-9a-fA-F]{24}$",
                            "example": "5abbe4b7ddc1b351ef961414"
                          }
                        ]
                      }
                    },
                    "idMembersVoted": {
                      "type": "array",
                      "items": {
                        "oneOf": [
                          {
                            "type": "string",
                            "pattern": "^[0-9a-fA-F]{24}$",
                            "example": "5abbe4b7ddc1b351ef961414"
                          }
                        ]
                      }
                    },
                    "idShort": {
                      "type": "integer"
                    },
                    "idAttachmentCover": {
                      "type": "string",
                      "pattern": "^[0-9a-fA-F]{24}$",
                      "example": "5abbe4b7ddc1b351ef961415",
                      "nullable": true
                    },
                    "labels": {
                      "type": "array",
                      "items": {
                        "oneOf": [
                          {
                            "type": "string",
                            "pattern": "^[0-9a-fA-F]{24}$",
                            "example": "5abbe4b7ddc1b351ef961414"
                          }
                        ]
                      }
                    },
                    "limits": {
                      "type": "object",
                      "properties": {
                        "attachments": {
                          "type": "object",
                          "properties": {
                            "perBoard": {
                              "type": "object",
                              "properties": {
                                "status": {
                                  "type": "string",
                                  "enum": [
                                    "ok",
                                    "warning"
                                  ]
                                },
                                "disableAt": {
                                  "type": "number",
                                  "example": 36000
                                },
                                "warnAt": {
                                  "type": "number",
                                  "example": 32400
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "locationName": {
                      "type": "string",
                      "nullable": true
                    },
                    "manualCoverAttachment": {
                      "type": "boolean",
                      "example": false
                    },
                    "mirrorSourceId": {
                      "type": "string",
                      "pattern": "^[0-9a-fA-F]{24}$",
                      "example": "5abbe4b7ddc1b351ef961414",
                      "nullable": true
                    },
                    "name": {
                      "type": "string",
                      "example": "👋 What? Why? How?"
                    },
                    "pos": {
                      "type": "number",
                      "format": "float",
                      "example": 65535
                    },
                    "shortLink": {
                      "type": "string",
                      "example": "H0TZyzbK"
                    },
                    "shortUrl": {
                      "type": "string",
                      "format": "url",
                      "example": "https://trello.com/c/H0TZyzbK"
                    },
                    "subscribed": {
                      "type": "boolean",
                      "example": false
                    },
                    "url": {
                      "type": "string",
                      "format": "url",
                      "example": "https://trello.com/c/H0TZyzbK/4-%F0%9F%91%8B-what-why-how"
                    },
                    "cover": {
                      "type": "object",
                      "properties": {
                        "idAttachment": {
                          "type": "string",
                          "pattern": "^[0-9a-fA-F]{24}$",
                          "example": "5abbe4b7ddc1b351ef961414",
                          "nullable": true
                        },
                        "color": {
                          "type": "string",
                          "enum": [
                            "yellow",
                            "purple",
                            "blue",
                            "red",
                            "green",
                            "orange",
                            "black",
                            "sky",
                            "pink",
                            "lime"
                          ],
                          "nullable": true
                        },
                        "idUploadedBackground": {
                          "type": "boolean",
                          "nullable": true
                        },
                        "size": {
                          "type": "string",
                          "enum": [
                            "normal"
                          ]
                        },
                        "brightness": {
                          "type": "string",
                          "enum": [
                            "light",
                            "dark"
                          ]
                        },
                        "isTemplate": {
                          "type": "boolean",
                          "example": false
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Cartões"
        ],
        "summary": "Delete a Card",
        "description": "Delete a Card",
        "operationId": "delete-cards-id",
        "deprecated": false,
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/cards/{id}/{field}": {
      "get": {
        "tags": [
          "Cartões"
        ],
        "summary": "Get a field on a Card",
        "description": "Get a specific property of a card",
        "operationId": "get-cards-id-field",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the Card",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[0-9a-fA-F]{24}$",
              "example": "5abbe4b7ddc1b351ef961414"
            }
          },
          {
            "name": "field",
            "in": "path",
            "description": "The desired field.",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "id",
                "address",
                "badges",
                "checkItemStates",
                "closed",
                "coordinates",
                "creationMethod",
                "dueComplete",
                "dateLastActivity",
                "desc",
                "descData",
                "due",
                "dueReminder",
                "idBoard",
                "idChecklists",
                "idLabels",
                "idList",
                "idMembers",
                "idMembersVoted",
                "idShort",
                "idAttachmentCover",
                "labels",
                "limits",
                "locationName",
                "manualCoverAttachment",
                "name",
                "pos",
                "shortLink",
                "shortUrl",
                "subscribed",
                "url",
                "cover",
                "isTemplate"
              ],
              "description": "The fields on a Card."
            }
          }
        ],
        "deprecated": false,
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "pattern": "^[0-9a-fA-F]{24}$",
                      "example": "5abbe4b7ddc1b351ef961414"
                    },
                    "address": {
                      "type": "string",
                      "nullable": true
                    },
                    "badges": {
                      "type": "object",
                      "properties": {
                        "attachmentsByType": {
                          "type": "object",
                          "properties": {
                            "trello": {
                              "type": "object",
                              "properties": {
                                "board": {
                                  "type": "number"
                                },
                                "card": {
                                  "type": "number"
                                }
                              }
                            }
                          }
                        },
                        "location": {
                          "type": "boolean"
                        },
                        "votes": {
                          "type": "integer"
                        },
                        "viewingMemberVoted": {
                          "type": "boolean",
                          "example": false
                        },
                        "subscribed": {
                          "type": "boolean",
                          "example": false
                        },
                        "fogbugz": {
                          "type": "string"
                        },
                        "checkItems": {
                          "type": "integer",
                          "example": 0
                        },
                        "checkItemsChecked": {
                          "type": "integer",
                          "example": 0
                        },
                        "comments": {
                          "type": "integer",
                          "example": 0
                        },
                        "attachments": {
                          "type": "integer",
                          "example": 0
                        },
                        "description": {
                          "type": "boolean"
                        },
                        "due": {
                          "type": "string",
                          "format": "date",
                          "nullable": true
                        },
                        "start": {
                          "type": "string",
                          "format": "date",
                          "nullable": true
                        },
                        "dueComplete": {
                          "type": "boolean"
                        }
                      }
                    },
                    "cardRole": {
                      "type": "string",
                      "enum": [
                        "separator",
                        "board",
                        "mirror",
                        "link"
                      ],
                      "example": "mirror",
                      "nullable": true
                    },
                    "checkItemStates": {
                      "type": "array",
                      "items": {
                        "oneOf": [
                          {
                            "type": "string"
                          }
                        ]
                      }
                    },
                    "closed": {
                      "type": "boolean"
                    },
                    "coordinates": {
                      "type": "string",
                      "nullable": true
                    },
                    "creationMethod": {
                      "type": "string",
                      "nullable": true
                    },
                    "dateLastActivity": {
                      "type": "string",
                      "format": "date-time",
                      "example": "2019-09-16T16:19:17.156Z"
                    },
                    "desc": {
                      "type": "string",
                      "example": "👋Hey there,\n\nTrello's Platform team uses this board to keep developers up-to-date."
                    },
                    "descData": {
                      "type": "object",
                      "properties": {
                        "emoji": {
                          "type": "object"
                        }
                      }
                    },
                    "due": {
                      "type": "string",
                      "format": "date",
                      "nullable": true
                    },
                    "dueReminder": {
                      "type": "string",
                      "nullable": true
                    },
                    "idBoard": {
                      "type": "string",
                      "pattern": "^[0-9a-fA-F]{24}$",
                      "example": "5abbe4b7ddc1b351ef961414"
                    },
                    "idChecklists": {
                      "type": "array",
                      "items": {
                        "oneOf": [
                          {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "pattern": "^[0-9a-fA-F]{24}$",
                                "example": "5abbe4b7ddc1b351ef961414"
                              }
                            }
                          },
                          {
                            "type": "string",
                            "pattern": "^[0-9a-fA-F]{24}$",
                            "example": "5abbe4b7ddc1b351ef961414"
                          }
                        ]
                      }
                    },
                    "idLabels": {
                      "type": "array",
                      "items": {
                        "oneOf": [
                          {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "pattern": "^[0-9a-fA-F]{24}$",
                                "example": "5abbe4b7ddc1b351ef961414",
                                "description": "The ID of the label."
                              },
                              "idBoard": {
                                "type": "string",
                                "pattern": "^[0-9a-fA-F]{24}$",
                                "example": "5abbe4b7ddc1b351ef961414",
                                "description": "The ID of the board the label is on."
                              },
                              "name": {
                                "type": "string",
                                "description": "The name displayed for the label.",
                                "example": "Overdue",
                                "nullable": true,
                                "minLength": 0,
                                "maxLength": 16384
                              },
                              "color": {
                                "type": "string",
                                "enum": [
                                  "yellow",
                                  "purple",
                                  "blue",
                                  "red",
                                  "green",
                                  "orange",
                                  "black",
                                  "sky",
                                  "pink",
                                  "lime"
                                ],
                                "nullable": true,
                                "description": "The color of the label. Null means no color and the label will not be shown on the front of Cards."
                              }
                            }
                          },
                          {
                            "type": "string",
                            "pattern": "^[0-9a-fA-F]{24}$",
                            "example": "5abbe4b7ddc1b351ef961414"
                          }
                        ]
                      }
                    },
                    "idList": {
                      "type": "string",
                      "pattern": "^[0-9a-fA-F]{24}$",
                      "example": "5abbe4b7ddc1b351ef961415"
                    },
                    "idMembers": {
                      "type": "array",
                      "items": {
                        "oneOf": [
                          {
                            "type": "string",
                            "pattern": "^[0-9a-fA-F]{24}$",
                            "example": "5abbe4b7ddc1b351ef961414"
                          }
                        ]
                      }
                    },
                    "idMembersVoted": {
                      "type": "array",
                      "items": {
                        "oneOf": [
                          {
                            "type": "string",
                            "pattern": "^[0-9a-fA-F]{24}$",
                            "example": "5abbe4b7ddc1b351ef961414"
                          }
                        ]
                      }
                    },
                    "idShort": {
                      "type": "integer"
                    },
                    "idAttachmentCover": {
                      "type": "string",
                      "pattern": "^[0-9a-fA-F]{24}$",
                      "example": "5abbe4b7ddc1b351ef961415",
                      "nullable": true
                    },
                    "labels": {
                      "type": "array",
                      "items": {
                        "oneOf": [
                          {
                            "type": "string",
                            "pattern": "^[0-9a-fA-F]{24}$",
                            "example": "5abbe4b7ddc1b351ef961414"
                          }
                        ]
                      }
                    },
                    "limits": {
                      "type": "object",
                      "properties": {
                        "attachments": {
                          "type": "object",
                          "properties": {
                            "perBoard": {
                              "type": "object",
                              "properties": {
                                "status": {
                                  "type": "string",
                                  "enum": [
                                    "ok",
                                    "warning"
                                  ]
                                },
                                "disableAt": {
                                  "type": "number",
                                  "example": 36000
                                },
                                "warnAt": {
                                  "type": "number",
                                  "example": 32400
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "locationName": {
                      "type": "string",
                      "nullable": true
                    },
                    "manualCoverAttachment": {
                      "type": "boolean",
                      "example": false
                    },
                    "mirrorSourceId": {
                      "type": "string",
                      "pattern": "^[0-9a-fA-F]{24}$",
                      "example": "5abbe4b7ddc1b351ef961414",
                      "nullable": true
                    },
                    "name": {
                      "type": "string",
                      "example": "👋 What? Why? How?"
                    },
                    "pos": {
                      "type": "number",
                      "format": "float",
                      "example": 65535
                    },
                    "shortLink": {
                      "type": "string",
                      "example": "H0TZyzbK"
                    },
                    "shortUrl": {
                      "type": "string",
                      "format": "url",
                      "example": "https://trello.com/c/H0TZyzbK"
                    },
                    "subscribed": {
                      "type": "boolean",
                      "example": false
                    },
                    "url": {
                      "type": "string",
                      "format": "url",
                      "example": "https://trello.com/c/H0TZyzbK/4-%F0%9F%91%8B-what-why-how"
                    },
                    "cover": {
                      "type": "object",
                      "properties": {
                        "idAttachment": {
                          "type": "string",
                          "pattern": "^[0-9a-fA-F]{24}$",
                          "example": "5abbe4b7ddc1b351ef961414",
                          "nullable": true
                        },
                        "color": {
                          "type": "string",
                          "enum": [
                            "yellow",
                            "purple",
                            "blue",
                            "red",
                            "green",
                            "orange",
                            "black",
                            "sky",
                            "pink",
                            "lime"
                          ],
                          "nullable": true
                        },
                        "idUploadedBackground": {
                          "type": "boolean",
                          "nullable": true
                        },
                        "size": {
                          "type": "string",
                          "enum": [
                            "normal"
                          ]
                        },
                        "brightness": {
                          "type": "string",
                          "enum": [
                            "light",
                            "dark"
                          ]
                        },
                        "isTemplate": {
                          "type": "boolean",
                          "example": false
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/cards/{id}/actions": {
      "get": {
        "tags": [
          "Cartões"
        ],
        "summary": "Get Actions on a Card",
        "description": "List the Actions on a Card. See [Nested Resources](/cloud/trello/guides/rest-api/nested-resources/) for more information.",
        "operationId": "get-cards-id-actions",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the Card",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[0-9a-fA-F]{24}$",
              "example": "5abbe4b7ddc1b351ef961414"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "A comma-separated list of [action types](https://developer.atlassian.com/cloud/trello/guides/rest-api/action-types/).",
            "required": false,
            "schema": {
              "type": "string",
              "default": "commentCard, updateCard:idList"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The page of results for actions. Each page of results has 50 actions.",
            "required": false,
            "schema": {
              "type": "number",
              "maximum": 19,
              "default": 0
            }
          }
        ],
        "deprecated": false,
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "pattern": "^[0-9a-fA-F]{24}$",
                        "example": "5abbe4b7ddc1b351ef961414"
                      },
                      "idMemberCreator": {
                        "type": "string",
                        "pattern": "^[0-9a-fA-F]{24}$",
                        "example": "5abbe4b7ddc1b351ef961414"
                      },
                      "data": {
                        "type": "object",
                        "properties": {
                          "text": {
                            "type": "string",
                            "example": "Can never go wrong with bowie"
                          },
                          "card": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "pattern": "^[0-9a-fA-F]{24}$",
                                "example": "5abbe4b7ddc1b351ef961414"
                              },
                              "name": {
                                "type": "string",
                                "example": "Bowie"
                              },
                              "idShort": {
                                "type": "integer",
                                "example": 7
                              },
                              "shortLink": {
                                "type": "string",
                                "example": "3CsPkqOF"
                              }
                            }
                          },
                          "board": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "pattern": "^[0-9a-fA-F]{24}$",
                                "example": "5abbe4b7ddc1b351ef961414"
                              },
                              "name": {
                                "type": "string",
                                "example": "Mullets"
                              },
                              "shortLink": {
                                "type": "string",
                                "example": "3CsPkqOF"
                              }
                            }
                          },
                          "list": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "pattern": "^[0-9a-fA-F]{24}$",
                                "example": "5abbe4b7ddc1b351ef961414"
                              },
                              "name": {
                                "type": "string",
                                "example": "Amazing"
                              }
                            }
                          }
                        }
                      },
                      "type": {
                        "type": "string",
                        "example": "commentCard"
                      },
                      "date": {
                        "type": "string",
                        "format": "date-time",
                        "example": "2020-03-09T19:41:51.396Z"
                      },
                      "limits": {
                        "type": "object",
                        "properties": {
                          "reactions": {
                            "type": "object",
                            "properties": {
                              "perAction": {
                                "type": "object",
                                "properties": {
                                  "status": {
                                    "type": "string",
                                    "example": "ok"
                                  },
                                  "disableAt": {
                                    "type": "number",
                                    "example": 1000
                                  },
                                  "warnAt": {
                                    "type": "number",
                                    "example": 900
                                  }
                                }
                              },
                              "uniquePerAction": {
                                "type": "object",
                                "properties": {
                                  "status": {
                                    "type": "string",
                                    "example": "ok"
                                  },
                                  "disableAt": {
                                    "type": "number",
                                    "example": 1000
                                  },
                                  "warnAt": {
                                    "type": "number",
                                    "example": 900
                                  }
                                }
                              }
                            }
                          }
                        }
                      },
                      "display": {
                        "type": "object",
                        "properties": {
                          "translationKey": {
                            "type": "string",
                            "example": "action_comment_on_card"
                          },
                          "entities": {
                            "type": "object",
                            "properties": {
                              "contextOn": {
                                "type": "object",
                                "properties": {
                                  "type": {
                                    "type": "string",
                                    "example": "translatable"
                                  },
                                  "translationKey": {
                                    "type": "string",
                                    "example": "action_on"
                                  },
                                  "hideIfContext": {
                                    "type": "boolean"
                                  },
                                  "idContext": {
                                    "type": "string",
                                    "pattern": "^[0-9a-fA-F]{24}$",
                                    "example": "5abbe4b7ddc1b351ef961414"
                                  }
                                }
                              },
                              "card": {
                                "type": "object",
                                "properties": {
                                  "type": {
                                    "type": "string",
                                    "example": "card"
                                  },
                                  "hideIfContext": {
                                    "type": "boolean"
                                  },
                                  "id": {
                                    "type": "string",
                                    "pattern": "^[0-9a-fA-F]{24}$",
                                    "example": "5abbe4b7ddc1b351ef961414"
                                  },
                                  "shortLink": {
                                    "type": "string",
                                    "example": "3CsPkqOF"
                                  },
                                  "text": {
                                    "type": "string",
                                    "example": "Bowie"
                                  }
                                }
                              },
                              "comment": {
                                "type": "object",
                                "properties": {
                                  "type": {
                                    "type": "string",
                                    "example": "comment"
                                  },
                                  "text": {
                                    "type": "string",
                                    "example": "Can never go wrong with bowie"
                                  }
                                }
                              },
                              "memberCreator": {
                                "type": "object",
                                "properties": {
                                  "type": {
                                    "type": "string",
                                    "example": "member"
                                  },
                                  "id": {
                                    "type": "string",
                                    "pattern": "^[0-9a-fA-F]{24}$",
                                    "example": "5abbe4b7ddc1b351ef961414"
                                  },
                                  "username": {
                                    "type": "string",
                                    "example": "bobloblaw"
                                  },
                                  "text": {
                                    "type": "string",
                                    "example": "Bob Loblaw (World)"
                                  }
                                }
                              }
                            }
                          }
                        }
                      },
                      "memberCreator": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "pattern": "^[0-9a-fA-F]{24}$",
                            "example": "5b02e7f4e1facdc393169f9d"
                          },
                          "activityBlocked": {
                            "type": "boolean",
                            "example": false
                          },
                          "avatarHash": {
                            "type": "string",
                            "example": "db2adf80c2e6c26b76e1f10400eb4c45"
                          },
                          "avatarUrl": {
                            "type": "string",
                            "format": "url",
                            "example": "https://trello-members.s3.amazonaws.com/5b02e7f4e1facdc393169f9d/db2adf80c2e6c26b76e1f10400eb4c45"
                          },
                          "fullName": {
                            "type": "string",
                            "example": "Bob Loblaw (Trello)"
                          },
                          "idMemberReferrer": {
                            "type": "string",
[...]
