{
  "openapi": "3.0.0",
  "info": {
    "title": "Trello REST API - Membros",
    "version": "0.0.1"
  },
  "servers": [
    {
      "url": "https://api.trello.com/1"
    }
  ],
  "tags": [
    {
      "name": "Membros"
    }
  ],
  "paths": {
    "/members/{id}": {
      "get": {
        "tags": [
          "Membros"
        ],
        "summary": "Get a Member",
        "description": "Get a member",
        "operationId": "get-members=id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID or username of the member",
            "required": true,
            "schema": {
              "oneOf": [
                {
                  "type": "string",
                  "pattern": "^[0-9a-fA-F]{24}$",
                  "example": "5abbe4b7ddc1b351ef961414"
                },
                {
                  "type": "string"
                }
              ]
            }
          },
          {
            "name": "actions",
            "in": "query",
            "description": "See the [Actions Nested Resource](/cloud/trello/guides/rest-api/nested-resources/#actions-nested-resource)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "boards",
            "in": "query",
            "description": "See the [Boards Nested Resource](/cloud/trello/guides/rest-api/nested-resources/#boards-nested-resource)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "boardBackgrounds",
            "in": "query",
            "description": "One of: `all`, `custom`, `default`, `none`, `premium`",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "all",
                "custom",
                "default",
                "none",
                "premium"
              ],
              "default": "none"
            }
          },
          {
            "name": "boardsInvited",
            "in": "query",
            "description": "`all` or a comma-separated list of: closed, members, open, organization, pinned, public, starred, unpinned",
            "required": false,
            "schema": {
              "enum": [
                "closed",
                "members",
                "open",
                "organization",
                "pinned",
                "public",
                "starred",
                "unpinned"
              ],
              "type": "string"
            }
          },
          {
            "name": "boardsInvited_fields",
            "in": "query",
            "description": "`all` or a comma-separated list of board [fields](/cloud/trello/guides/rest-api/object-definitions/)",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "id",
                "name",
                "desc",
                "descData",
                "closed",
                "idMemberCreator",
                "idOrganization",
                "pinned",
                "url",
                "shortUrl",
                "prefs",
                "labelNames",
                "starred",
                "limits",
                "memberships",
                "enterpriseOwned"
              ],
              "default": "name,closed,idOrganization,pinned"
            }
          },
          {
            "name": "boardStars",
            "in": "query",
            "description": "Whether to return the boardStars or not",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "cards",
            "in": "query",
            "description": "See the [Cards Nested Resource](/cloud/trello/guides/rest-api/nested-resources/#cards-nested-resource) for additional options",
            "required": false,
            "schema": {
              "type": "string",
              "default": "none"
            }
          },
          {
            "name": "customBoardBackgrounds",
            "in": "query",
            "description": "`all` or `none`",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "all",
                "none"
              ],
              "default": "none"
            }
          },
          {
            "name": "customEmoji",
            "in": "query",
            "description": "`all` or `none`",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "all",
                "none"
              ],
              "default": "none"
            }
          },
          {
            "name": "customStickers",
            "in": "query",
            "description": "`all` or `none`",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "all",
                "none"
              ],
              "default": "none"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "`all` or a comma-separated list of member [fields](/cloud/trello/guides/rest-api/object-definitions/)",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "id"
              ],
              "default": "all"
            }
          },
          {
            "name": "notifications",
            "in": "query",
            "description": "See the [Notifications Nested Resource](/cloud/trello/guides/rest-api/nested-resources/#notifications-nested-resource)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "organizations",
            "in": "query",
            "description": "One of: `all`, `members`, `none`, `public`",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "all",
                "members",
                "none",
                "public"
              ],
              "default": "none"
            }
          },
          {
            "name": "organization_fields",
            "in": "query",
            "description": "`all` or a comma-separated list of organization [fields](/cloud/trello/guides/rest-api/object-definitions/)",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "id",
                "name"
              ],
              "default": "all"
            }
          },
          {
            "name": "organization_paid_account",
            "in": "query",
            "description": "Whether or not to include paid account information in the returned workspace object",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "organizationsInvited",
            "in": "query",
            "description": "One of: `all`, `members`, `none`, `public`",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "all",
                "members",
                "none",
                "public"
              ],
              "default": "none"
            }
          },
          {
            "name": "organizationsInvited_fields",
            "in": "query",
            "description": "`all` or a comma-separated list of organization [fields](/cloud/trello/guides/rest-api/object-definitions/)",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "id",
                "name"
              ],
              "default": "all"
            }
          },
          {
            "name": "paid_account",
            "in": "query",
            "description": "Whether or not to include paid account information in the returned member object",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "deprecated": true
          },
          {
            "name": "savedSearches",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "tokens",
            "in": "query",
            "description": "`all` or `none`",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "all",
                "none"
              ],
              "default": "none"
            }
          }
        ],
        "deprecated": false,
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "pattern": "^[0-9a-fA-F]{24}$",
                          "example": "5abbe4b7ddc1b351ef961414"
                        },
                        "activityBlocked": {
                          "type": "boolean",
                          "example": false
                        },
                        "avatarHash": {
                          "type": "string",
                          "example": "fc8faaaee46666a4eb8b626c08933e16"
                        },
                        "avatarUrl": {
                          "type": "string",
                          "format": "url",
                          "example": "https://trello-avatars.s3.amazonaws.com/fc8faaaee46666a4eb8b626c08933e16"
                        },
                        "bio": {
                          "type": "string",
                          "example": "👋 I'm a developer advocate at Trello!"
                        },
                        "bioData": {
                          "type": "object",
                          "properties": {
                            "emoji": {
                              "type": "object"
                            }
                          }
                        },
                        "confirmed": {
                          "type": "boolean",
                          "example": true
                        },
                        "fullName": {
                          "type": "string",
                          "example": "Bentley Cook"
                        },
                        "idEnterprise": {
                          "type": "string",
                          "pattern": "^[0-9a-fA-F]{24}$",
                          "example": "5abbe4b7ddc1b351ef961414"
                        },
                        "idEnterprisesDeactivated": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "idMemberReferrer": {
                          "type": "string",
                          "pattern": "^[0-9a-fA-F]{24}$",
                          "example": null,
                          "nullable": true
                        },
                        "idPremOrgsAdmin": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "pattern": "^[0-9a-fA-F]{24}$",
                            "example": "5abbe4b7ddc1b351ef961414"
                          }
                        },
                        "initials": {
                          "type": "string",
                          "example": "BC"
                        },
                        "memberType": {
                          "type": "string",
                          "enum": [
                            "normal",
                            "ghost"
                          ],
                          "example": "normal"
                        },
                        "nonPublic": {
                          "type": "object",
                          "description": "Profile data with restricted visibility. These fields are visible only to members of the\nsame organization. The values here (full name, for example) may differ from the values\nat the top level of the response.\n",
                          "properties": {
                            "fullName": {
                              "type": "string",
                              "example": "Bentley Cook"
                            },
                            "initials": {
                              "type": "string",
                              "example": "BC"
                            },
                            "avatarUrl": {
                              "type": "string",
                              "format": "url",
                              "example": "https://trello-members.s3.amazonaws.com/5b02e7f4e1facdc393169f9d/db2adf80c2e6c26b76e1f10400eb4c45",
                              "description": "A URL that references the non-public avatar for the member"
                            },
                            "avatarHash": {
                              "type": "string",
                              "example": "db2adf80c2e6c26b76e1f10400eb4c45"
                            }
                          }
                        },
                        "nonPublicAvailable": {
                          "type": "boolean",
                          "example": false,
                          "description": "Whether the response contains non-public profile data for the member"
                        },
                        "products": {
                          "type": "array",
                          "items": {
                            "type": "integer"
                          }
                        },
                        "url": {
                          "type": "string",
                          "format": "url",
                          "example": "https://trello.com/bentleycook"
                        },
                        "username": {
                          "type": "string",
                          "example": "bentleycook"
                        },
                        "status": {
                          "type": "string",
                          "enum": [
                            "disconnected"
                          ],
                          "example": "disconnected"
                        },
                        "aaEmail": {
                          "type": "string",
                          "format": "email",
                          "nullable": true,
                          "example": null
                        },
                        "aaEnrolledDate": {
                          "type": "string",
                          "example": null,
                          "nullable": true
                        },
                        "aaId": {
                          "type": "string",
                          "example": null,
                          "nullable": true
                        },
                        "avatarSource": {
                          "type": "string",
                          "enum": [
                            "gravatar",
                            "upload"
                          ],
                          "example": "gravatar"
                        },
                        "email": {
                          "type": "string",
                          "example": "bcook@atlassian.com"
                        },
                        "gravatarHash": {
                          "type": "string",
                          "example": "0a1e804f6e35a65ae5e1f7ef4c92471c"
                        },
                        "idBoards": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "pattern": "^[0-9a-fA-F]{24}$",
                            "example": "5abbe4b7ddc1b351ef961414"
                          }
                        },
                        "idOrganizations": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "pattern": "^[0-9a-fA-F]{24}$",
                            "example": "5abbe4b7ddc1b351ef961414"
                          }
                        },
                        "idEnterprisesAdmin": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "pattern": "^[0-9a-fA-F]{24}$",
                            "example": "5abbe4b7ddc1b351ef961414"
                          }
                        },
                        "limits": {
                          "type": "object",
                          "properties": {
                            "status": {
                              "type": "string",
                              "enum": [
                                "ok",
                                "warning"
                              ]
                            },
                            "disableAt": {
                              "type": "number",
                              "example": 36000
                            },
                            "warnAt": {
                              "type": "number",
                              "example": 32400
                            }
                          }
                        },
                        "loginTypes": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "enum": [
                              "password",
                              "saml"
                            ],
                            "example": "password"
                          }
                        },
                        "marketingOptIn": {
                          "type": "object",
                          "properties": {
                            "optedIn": {
                              "type": "boolean",
                              "example": false
                            },
                            "date": {
                              "type": "string",
                              "format": "date",
                              "example": "2018-04-26T17:03:25.155Z"
                            }
                          }
                        },
                        "messagesDismissed": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "example": "ad-security-features"
                            },
                            "count": {
                              "type": "string",
                              "example": 4
                            },
                            "lastDismissed": {
                              "type": "string",
                              "format": "date",
                              "example": "2019-03-11T20:19:46.809Z"
                            },
                            "_id": {
                              "type": "string",
                              "pattern": "^[0-9a-fA-F]{24}$",
                              "example": "5995d44573d197eada632a32"
                            }
                          }
                        },
                        "oneTimeMessagesDismissed": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "prefs": {
                          "type": "object",
                          "properties": {
                            "timezoneInfo": {
                              "type": "object",
                              "properties": {
                                "offsetCurrent": {
                                  "type": "integer",
                                  "example": 360
                                },
                                "timezoneCurrent": {
                                  "type": "string",
                                  "example": "CST"
                                },
                                "offsetNext": {
                                  "type": "integer",
                                  "example": 300
                                },
                                "dateNext": {
                                  "type": "string",
                                  "format": "date",
                                  "example": "2020-03-08T08:00:00.000Z"
                                },
                                "timezoneNext": {
                                  "type": "string",
                                  "example": "CDT"
                                }
                              }
                            },
                            "privacy": {
                              "type": "object",
                              "properties": {
                                "fullName": {
                                  "type": "string",
                                  "enum": [
                                    "public",
                                    "private",
                                    "collaborator"
                                  ],
                                  "example": "public"
                                },
                                "avatar": {
                                  "type": "string",
                                  "enum": [
                                    "public",
                                    "private",
                                    "collaborator"
                                  ],
                                  "example": "public"
                                }
                              }
                            },
                            "sendSummaries": {
                              "type": "boolean",
                              "example": true
                            },
                            "minutesBetweenSummaries": {
                              "type": "integer",
                              "example": 60
                            },
                            "minutesBeforeDeadlineToNotify": {
                              "type": "integer",
                              "example": 1440
                            },
                            "colorBlind": {
                              "type": "boolean",
                              "example": true
                            },
                            "locale": {
                              "type": "string",
                              "example": "en-AU"
                            },
                            "timezone": {
                              "type": "string",
                              "example": "America/Chicago"
                            },
                            "twoFactor": {
                              "type": "object",
                              "properties": {
                                "enabled": {
                                  "type": "boolean",
                                  "example": true
                                },
                                "needsNewBackups": {
                                  "type": "boolean",
                                  "example": false
                                }
                              }
                            }
                          }
                        },
                        "trophies": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "uploadedAvatarHash": {
                          "type": "string",
                          "example": "dac3ad49ff117829dd63a79bb2ea3426"
                        },
                        "uploadedAvatarUrl": {
                          "type": "string",
                          "format": "url",
                          "example": "https://trello-avatars.s3.amazonaws.com/dac3ad49ff117829dd63a79bb2ea3426"
                        },
                        "premiumFeatures": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "isAaMastered": {
                          "type": "boolean",
                          "example": false
                        },
                        "ixUpdate": {
                          "type": "number",
                          "example": "48427"
                        },
                        "idBoardsPinned": {
                          "type": "array",
                          "nullable": true,
                          "items": {
                            "type": "string",
                            "pattern": "^[0-9a-fA-F]{24}$",
                            "example": "5abbe4b7ddc1b351ef961414"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Membros"
        ],
        "summary": "Update a Member",
        "description": "Update a Member",
        "operationId": "put-members-id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID or username of the member",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[0-9a-fA-F]{24}$",
              "example": "5abbe4b7ddc1b351ef961414"
            }
          },
          {
            "name": "fullName",
            "in": "query",
            "description": "New name for the member. Cannot begin or end with a space.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "initials",
            "in": "query",
            "description": "New initials for the member. 1-4 characters long.",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 4,
              "minLength": 1
            }
          },
          {
            "name": "username",
            "in": "query",
            "description": "New username for the member. At least 3 characters long, only lowercase letters, underscores, and numbers. Must be unique.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "bio",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "avatarSource",
            "in": "query",
            "description": "One of: `gravatar`, `none`, `upload`",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "gravatar",
                "none",
                "upload"
              ]
            }
          },
          {
            "name": "prefs/colorBlind",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "prefs/locale",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "prefs/minutesBetweenSummaries",
            "in": "query",
            "description": "`-1` for disabled, `1`, or `60`",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "deprecated": false,
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "pattern": "^[0-9a-fA-F]{24}$",
                          "example": "5abbe4b7ddc1b351ef961414"
                        },
                        "activityBlocked": {
                          "type": "boolean",
                          "example": false
                        },
                        "avatarHash": {
                          "type": "string",
                          "example": "fc8faaaee46666a4eb8b626c08933e16"
                        },
                        "avatarUrl": {
                          "type": "string",
                          "format": "url",
                          "example": "https://trello-avatars.s3.amazonaws.com/fc8faaaee46666a4eb8b626c08933e16"
                        },
                        "bio": {
                          "type": "string",
                          "example": "👋 I'm a developer advocate at Trello!"
                        },
                        "bioData": {
                          "type": "object",
                          "properties": {
                            "emoji": {
                              "type": "object"
                            }
                          }
                        },
                        "confirmed": {
                          "type": "boolean",
                          "example": true
                        },
                        "fullName": {
                          "type": "string",
                          "example": "Bentley Cook"
                        },
                        "idEnterprise": {
                          "type": "string",
                          "pattern": "^[0-9a-fA-F]{24}$",
                          "example": "5abbe4b7ddc1b351ef961414"
                        },
                        "idEnterprisesDeactivated": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "idMemberReferrer": {
                          "type": "string",
                          "pattern": "^[0-9a-fA-F]{24}$",
                          "example": null,
                          "nullable": true
                        },
                        "idPremOrgsAdmin": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "pattern": "^[0-9a-fA-F]{24}$",
                            "example": "5abbe4b7ddc1b351ef961414"
                          }
                        },
                        "initials": {
                          "type": "string",
                          "example": "BC"
                        },
                        "memberType": {
                          "type": "string",
                          "enum": [
                            "normal",
                            "ghost"
                          ],
                          "example": "normal"
                        },
                        "nonPublic": {
                          "type": "object",
                          "description": "Profile data with restricted visibility. These fields are visible only to members of the\nsame organization. The values here (full name, for example) may differ from the values\nat the top level of the response.\n",
                          "properties": {
                            "fullName": {
                              "type": "string",
                              "example": "Bentley Cook"
                            },
                            "initials": {
                              "type": "string",
                              "example": "BC"
                            },
                            "avatarUrl": {
                              "type": "string",
                              "format": "url",
                              "example": "https://trello-members.s3.amazonaws.com/5b02e7f4e1facdc393169f9d/db2adf80c2e6c26b76e1f10400eb4c45",
                              "description": "A URL that references the non-public avatar for the member"
                            },
                            "avatarHash": {
                              "type": "string",
                              "example": "db2adf80c2e6c26b76e1f10400eb4c45"
                            }
                          }
                        },
                        "nonPublicAvailable": {
                          "type": "boolean",
                          "example": false,
                          "description": "Whether the response contains non-public profile data for the member"
                        },
                        "products": {
                          "type": "array",
                          "items": {
                            "type": "integer"
                          }
                        },
                        "url": {
                          "type": "string",
                          "format": "url",
                          "example": "https://trello.com/bentleycook"
                        },
                        "username": {
                          "type": "string",
                          "example": "bentleycook"
                        },
                        "status": {
                          "type": "string",
                          "enum": [
                            "disconnected"
                          ],
                          "example": "disconnected"
                        },
                        "aaEmail": {
                          "type": "string",
                          "format": "email",
                          "nullable": true,
                          "example": null
                        },
                        "aaEnrolledDate": {
                          "type": "string",
                          "example": null,
                          "nullable": true
                        },
                        "aaId": {
                          "type": "string",
                          "example": null,
                          "nullable": true
                        },
                        "avatarSource": {
                          "type": "string",
                          "enum": [
                            "gravatar",
                            "upload"
                          ],
                          "example": "gravatar"
                        },
                        "email": {
                          "type": "string",
                          "example": "bcook@atlassian.com"
                        },
                        "gravatarHash": {
                          "type": "string",
                          "example": "0a1e804f6e35a65ae5e1f7ef4c92471c"
                        },
                        "idBoards": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "pattern": "^[0-9a-fA-F]{24}$",
                            "example": "5abbe4b7ddc1b351ef961414"
                          }
                        },
                        "idOrganizations": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "pattern": "^[0-9a-fA-F]{24}$",
                            "example": "5abbe4b7ddc1b351ef961414"
                          }
                        },
                        "idEnterprisesAdmin": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "pattern": "^[0-9a-fA-F]{24}$",
                            "example": "5abbe4b7ddc1b351ef961414"
                          }
                        },
                        "limits": {
                          "type": "object",
                          "properties": {
                            "status": {
                              "type": "string",
                              "enum": [
                                "ok",
                                "warning"
                              ]
                            },
                            "disableAt": {
                              "type": "number",
                              "example": 36000
                            },
                            "warnAt": {
                              "type": "number",
                              "example": 32400
                            }
                          }
                        },
                        "loginTypes": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "enum": [
                              "password",
                              "saml"
                            ],
                            "example": "password"
                          }
                        },
                        "marketingOptIn": {
                          "type": "object",
                          "properties": {
                            "optedIn": {
                              "type": "boolean",
                              "example": false
                            },
                            "date": {
                              "type": "string",
                              "format": "date",
                              "example": "2018-04-26T17:03:25.155Z"
                            }
                          }
                        },
                        "messagesDismissed": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "example": "ad-security-features"
                            },
                            "count": {
                              "type": "string",
                              "example": 4
                            },
                            "lastDismissed": {
                              "type": "string",
                              "format": "date",
                              "example": "2019-03-11T20:19:46.809Z"
                            },
                            "_id": {
                              "type": "string",
                              "pattern": "^[0-9a-fA-F]{24}$",
                              "example": "5995d44573d197eada632a32"
                            }
                          }
                        },
                        "oneTimeMessagesDismissed": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "prefs": {
                          "type": "object",
                          "properties": {
                            "timezoneInfo": {
                              "type": "object",
                              "properties": {
                                "offsetCurrent": {
                                  "type": "integer",
                                  "example": 360
                                },
                                "timezoneCurrent": {
                                  "type": "string",
                                  "example": "CST"
                                },
                                "offsetNext": {
                                  "type": "integer",
                                  "example": 300
                                },
                                "dateNext": {
                                  "type": "string",
                                  "format": "date",
                                  "example": "2020-03-08T08:00:00.000Z"
                                },
                                "timezoneNext": {
                                  "type": "string",
                                  "example": "CDT"
                                }
                              }
                            },
                            "privacy": {
                              "type": "object",
                              "properties": {
                                "fullName": {
                                  "type": "string",
                                  "enum": [
                                    "public",
                                    "private",
                                    "collaborator"
                                  ],
                                  "example": "public"
                                },
                                "avatar": {
                                  "type": "string",
                                  "enum": [
                                    "public",
                                    "private",
                                    "collaborator"
                                  ],
                                  "example": "public"
                                }
                              }
                            },
                            "sendSummaries": {
                              "type": "boolean",
                              "example": true
                            },
                            "minutesBetweenSummaries": {
                              "type": "integer",
                              "example": 60
                            },
                            "minutesBeforeDeadlineToNotify": {
                              "type": "integer",
                              "example": 1440
                            },
                            "colorBlind": {
                              "type": "boolean",
                              "example": true
                            },
                            "locale": {
                              "type": "string",
                              "example": "en-AU"
                            },
                            "timezone": {
                              "type": "string",
                              "example": "America/Chicago"
                            },
                            "twoFactor": {
                              "type": "object",
                              "properties": {
                                "enabled": {
                                  "type": "boolean",
                                  "example": true
                                },
                                "needsNewBackups": {
                                  "type": "boolean",
                                  "example": false
                                }
                              }
                            }
                          }
                        },
                        "trophies": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "uploadedAvatarHash": {
                          "type": "string",
                          "example": "dac3ad49ff117829dd63a79bb2ea3426"
                        },
                        "uploadedAvatarUrl": {
                          "type": "string",
                          "format": "url",
                          "example": "https://trello-avatars.s3.amazonaws.com/dac3ad49ff117829dd63a79bb2ea3426"
                        },
                        "premiumFeatures": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "isAaMastered": {
                          "type": "boolean",
                          "example": false
                        },
                        "ixUpdate": {
                          "type": "number",
                          "example": "48427"
                        },
                        "idBoardsPinned": {
                          "type": "array",
                          "nullable": true,
                          "items": {
                            "type": "string",
                            "pattern": "^[0-9a-fA-F]{24}$",
                            "example": "5abbe4b7ddc1b351ef961414"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/members/{id}/{field}": {
      "get": {
        "tags": [
          "Membros"
        ],
        "summary": "Get a field on a Member",
        "description": "Get a particular property of a member",
        "operationId": "get-members-id-field",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID or username of the member",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[0-9a-fA-F]{24}$",
              "example": "5abbe4b7ddc1b351ef961414"
            }
          },
          {
            "name": "field",
            "in": "path",
            "description": "One of the member [fields](/cloud/trello/guides/rest-api/object-definitions/)",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "id"
              ]
            }
          }
        ],
        "deprecated": false,
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "pattern": "^[0-9a-fA-F]{24}$",
                          "example": "5abbe4b7ddc1b351ef961414"
                        },
                        "activityBlocked": {
                          "type": "boolean",
                          "example": false
                        },
                        "avatarHash": {
                          "type": "string",
                          "example": "fc8faaaee46666a4eb8b626c08933e16"
                        },
                        "avatarUrl": {
                          "type": "string",
                          "format": "url",
                          "example": "https://trello-avatars.s3.amazonaws.com/fc8faaaee46666a4eb8b626c08933e16"
                        },
                        "bio": {
                          "type": "string",
                          "example": "👋 I'm a developer advocate at Trello!"
                        },
                        "bioData": {
                          "type": "object",
                          "properties": {
                            "emoji": {
                              "type": "object"
                            }
                          }
                        },
                        "confirmed": {
                          "type": "boolean",
                          "example": true
                        },
                        "fullName": {
                          "type": "string",
                          "example": "Bentley Cook"
                        },
                        "idEnterprise": {
                          "type": "string",
                          "pattern": "^[0-9a-fA-F]{24}$",
                          "example": "5abbe4b7ddc1b351ef961414"
                        },
                        "idEnterprisesDeactivated": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "idMemberReferrer": {
                          "type": "string",
                          "pattern": "^[0-9a-fA-F]{24}$",
                          "example": null,
                          "nullable": true
                        },
                        "idPremOrgsAdmin": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "pattern": "^[0-9a-fA-F]{24}$",
                            "example": "5abbe4b7ddc1b351ef961414"
                          }
                        },
                        "initials": {
                          "type": "string",
                          "example": "BC"
                        },
                        "memberType": {
                          "type": "string",
                          "enum": [
                            "normal",
                            "ghost"
                          ],
                          "example": "normal"
                        },
                        "nonPublic": {
                          "type": "object",
                          "description": "Profile data with restricted visibility. These fields are visible only to members of the\nsame organization. The values here (full name, for example) may differ from the values\nat the top level of the response.\n",
                          "properties": {
                            "fullName": {
                              "type": "string",
                              "example": "Bentley Cook"
                            },
                            "initials": {
                              "type": "string",
                              "example": "BC"
                            },
                            "avatarUrl": {
                              "type": "string",
                              "format": "url",
                              "example": "https://trello-members.s3.amazonaws.com/5b02e7f4e1facdc393169f9d/db2adf80c2e6c26b76e1f10400eb4c45",
                              "description": "A URL that references the non-public avatar for the member"
                            },
                            "avatarHash": {
                              "type": "string",
                              "example": "db2adf80c2e6c26b76e1f10400eb4c45"
                            }
                          }
                        },
                        "nonPublicAvailable": {
                          "type": "boolean",
                          "example": false,
                          "description": "Whether the response contains non-public profile data for the member"
                        },
                        "products": {
                          "type": "array",
                          "items": {
                            "type": "integer"
                          }
                        },
                        "url": {
                          "type": "string",
                          "format": "url",
                          "example": "https://trello.com/bentleycook"
                        },
                        "username": {
                          "type": "string",
                          "example": "bentleycook"
                        },
                        "status": {
                          "type": "string",
                          "enum": [
                            "disconnected"
                          ],
                          "example": "disconnected"
                        },
                        "aaEmail": {
                          "type": "string",
                          "format": "email",
                          "nullable": true,
                          "example": null
                        },
                        "aaEnrolledDate": {
                          "type": "string",
                          "example": null,
                          "nullable": true
                        },
                        "aaId": {
                          "type": "string",
                          "example": null,
                          "nullable": true
                        },
                        "avatarSource": {
                          "type": "string",
                          "enum": [
                            "gravatar",
                            "upload"
                          ],
                          "example": "gravatar"
                        },
                        "email": {
                          "type": "string",
                          "example": "bcook@atlassian.com"
                        },
                        "gravatarHash": {
                          "type": "string",
                          "example": "0a1e804f6e35a65ae5e1f7ef4c92471c"
                        },
                        "idBoards": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "pattern": "^[0-9a-fA-F]{24}$",
                            "example": "5abbe4b7ddc1b351ef961414"
                          }
                        },
                        "idOrganizations": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "pattern": "^[0-9a-fA-F]{24}$",
                            "example": "5abbe4b7ddc1b351ef961414"
                          }
                        },
                        "idEnterprisesAdmin": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "pattern": "^[0-9a-fA-F]{24}$",
                            "example": "5abbe4b7ddc1b351ef961414"
                          }
                        },
                        "limits": {
                          "type": "object",
                          "properties": {
                            "status": {
                              "type": "string",
                              "enum": [
                                "ok",
                                "warning"
                              ]
                            },
                            "disableAt": {
                              "type": "number",
                              "example": 36000
                            },
                            "warnAt": {
                              "type": "number",
                              "example": 32400
                            }
                          }
                        },
                        "loginTypes": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "enum": [
                              "password",
                              "saml"
                            ],
                            "example": "password"
                          }
                        },
                        "marketingOptIn": {
                          "type": "object",
                          "properties": {
                            "optedIn": {
                              "type": "boolean",
                              "example": false
                            },
                            "date": {
                              "type": "string",
                              "format": "date",
                              "example": "2018-04-26T17:03:25.155Z"
                            }
                          }
                        },
                        "messagesDismissed": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "example": "ad-security-features"
                            },
                            "count": {
                              "type": "string",
                              "example": 4
                            },
                            "lastDismissed": {
                              "type": "string",
                              "format": "date",
                              "example": "2019-03-11T20:19:46.809Z"
                            },
                            "_id": {
                              "type": "string",
                              "pattern": "^[0-9a-fA-F]{24}$",
                              "example": "5995d44573d197eada632a32"
                            }
                          }
                        },
                        "oneTimeMessagesDismissed": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "prefs": {
                          "type": "object",
                          "properties": {
                            "timezoneInfo": {
                              "type": "object",
                              "properties": {
                                "offsetCurrent": {
                                  "type": "integer",
                                  "example": 360
                                },
                                "timezoneCurrent": {
                                  "type": "string",
                                  "example": "CST"
                                },
                                "offsetNext": {
                                  "type": "integer",
                                  "example": 300
                                },
                                "dateNext": {
                                  "type": "string",
                                  "format": "date",
                                  "example": "2020-03-08T08:00:00.000Z"
                                },
                                "timezoneNext": {
                                  "type": "string",
                                  "example": "CDT"
                                }
                              }
                            },
                            "privacy": {
                              "type": "object",
                              "properties": {
                                "fullName": {
                                  "type": "string",
                                  "enum": [
                                    "public",
                                    "private",
                                    "collaborator"
                                  ],
                                  "example": "public"
                                },
                                "avatar": {
                                  "type": "string",
                                  "enum": [
                                    "public",
                                    "private",
                                    "collaborator"
                                  ],
                                  "example": "public"
                                }
                              }
                            },
                            "sendSummaries": {
                              "type": "boolean",
                              "example": true
                            },
                            "minutesBetweenSummaries": {
                              "type": "integer",
                              "example": 60
                            },
                            "minutesBeforeDeadlineToNotify": {
                              "type": "integer",
                              "example": 1440
                            },
                            "colorBlind": {
                              "type": "boolean",
                              "example": true
                            },
                            "locale": {
                              "type": "string",
                              "example": "en-AU"
                            },
                            "timezone": {
                              "type": "string",
                              "example": "America/Chicago"
                            },
                            "twoFactor": {
                              "type": "object",
                              "properties": {
                                "enabled": {
                                  "type": "boolean",
                                  "example": true
                                },
                                "needsNewBackups": {
                                  "type": "boolean",
                                  "example": false
                                }
                              }
                            }
                          }
                        },
                        "trophies": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "uploadedAvatarHash": {
                          "type": "string",
                          "example": "dac3ad49ff117829dd63a79bb2ea3426"
                        },
                        "uploadedAvatarUrl": {
                          "type": "string",
                          "format": "url",
                          "example": "https://trello-avatars.s3.amazonaws.com/dac3ad49ff117829dd63a79bb2ea3426"
                        },
                        "premiumFeatures": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "isAaMastered": {
                          "type": "boolean",
                          "example": false
                        },
                        "ixUpdate": {
                          "type": "number",
                          "example": "48427"
                        },
                        "idBoardsPinned": {
                          "type": "array",
                          "nullable": true,
                          "items": {
                            "type": "string",
                            "pattern": "^[0-9a-fA-F]{24}$",
                            "example": "5abbe4b7ddc1b351ef961414"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/members/{id}/actions": {
      "get": {
        "tags": [
          "Membros"
        ],
        "summary": "Get a Member's Actions",
        "description": "List the actions for a member",
        "operationId": "get-members-id-actions",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID or username of the member",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[0-9a-fA-F]{24}$",
              "example": "5abbe4b7ddc1b351ef961414"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "A comma-separated list of [action types](https://developer.atlassian.com/cloud/trello/guides/rest-api/action-types/).",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "deprecated": false,
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "oneOf": [
                      {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "pattern": "^[0-9a-fA-F]{24}$",
                            "example": "5abbe4b7ddc1b351ef961414"
                          },
                          "activityBlocked": {
                            "type": "boolean",
                            "example": false
                          },
                          "avatarHash": {
                            "type": "string",
                            "example": "fc8faaaee46666a4eb8b626c08933e16"
                          },
                          "avatarUrl": {
                            "type": "string",
                            "format": "url",
                            "example": "https://trello-avatars.s3.amazonaws.com/fc8faaaee46666a4eb8b626c08933e16"
                          },
                          "bio": {
                            "type": "string",
                            "example": "👋 I'm a developer advocate at Trello!"
                          },
                          "bioData": {
                            "type": "object",
                            "properties": {
                              "emoji": {
                                "type": "object"
                              }
                            }
                          },
                          "confirmed": {
                            "type": "boolean",
                            "example": true
                          },
                          "fullName": {
                            "type": "string",
                            "example": "Bentley Cook"
                          },
                          "idEnterprise": {
                            "type": "string",
                            "pattern": "^[0-9a-fA-F]{24}$",
                            "example": "5abbe4b7ddc1b351ef961414"
                          },
                          "idEnterprisesDeactivated": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "idMemberReferrer": {
                            "type": "string",
                            "pattern": "^[0-9a-fA-F]{24}$",
                            "example": null,
                            "nullable": true
                          },
                          "idPremOrgsAdmin": {
                            "type": "array",
                            "items": {
                              "type": "string",
                              "pattern": "^[0-9a-fA-F]{24}$",
                              "example": "5abbe4b7ddc1b351ef961414"
                            }
                          },
                          "initials": {
                            "type": "string",
                            "example": "BC"
                          },
                          "memberType": {
                            "type": "string",
                            "enum": [
                              "normal",
                              "ghost"
                            ],
                            "example": "normal"
                          },
                          "nonPublic": {
                            "type": "object",
                            "description": "Profile data with restricted visibility. These fields are visible only to members of the\nsame organization. The values here (full name, for example) may differ from the values\nat the top level of the response.\n",
                            "properties": {
                              "fullName": {
                                "type": "string",
                                "example": "Bentley Cook"
                              },
                              "initials": {
                                "type": "string",
                                "example": "BC"
                              },
                              "avatarUrl": {
                                "type": "string",
                                "format": "url",
                                "example": "https://trello-members.s3.amazonaws.com/5b02e7f4e1facdc393169f9d/db2adf80c2e6c26b76e1f10400eb4c45",
                                "description": "A URL that references the non-public avatar for the member"
                              },
                              "avatarHash": {
                                "type": "string",
                                "example": "db2adf80c2e6c26b76e1f10400eb4c45"
                              }
                            }
                          },
                          "nonPublicAvailable": {
                            "type": "boolean",
                            "example": false,
                            "description": "Whether the response contains non-public profile data for the member"
                          },
                          "products": {
                            "type": "array",
                            "items": {
                              "type": "integer"
                            }
                          },
                          "url": {
                            "type": "string",
                            "format": "url",
                            "example": "https://trello.com/bentleycook"
                          },
                          "username": {
                            "type": "string",
                            "example": "bentleycook"
                          },
                          "status": {
                            "type": "string",
                            "enum": [
                              "disconnected"
                            ],
                            "example": "disconnected"
                          },
                          "aaEmail": {
                            "type": "string",
                            "format": "email",
                            "nullable": true,
                            "example": null
                          },
                          "aaEnrolledDate": {
                            "type": "string",
                            "example": null,
                            "nullable": true
                          },
                          "aaId": {
                            "type": "string",
                            "example": null,
                            "nullable": true
                          },
                          "avatarSource": {
                            "type": "string",
                            "enum": [
                              "gravatar",
                              "upload"
                            ],
                            "example": "gravatar"
                          },
                          "email": {
                            "type": "string",
                            "example": "bcook@atlassian.com"
                          },
                          "gravatarHash": {
                            "type": "string",
                            "example": "0a1e804f6e35a65ae5e1f7ef4c92471c"
                          },
                          "idBoards": {
                            "type": "array",
                            "items": {
                              "type": "string",
                              "pattern": "^[0-9a-fA-F]{24}$",
                              "example": "5abbe4b7ddc1b351ef961414"
                            }
                          },
                          "idOrganizations": {
                            "type": "array",
                            "items": {
                              "type": "string",
                              "pattern": "^[0-9a-fA-F]{24}$",
                              "example": "5abbe4b7ddc1b351ef961414"
                            }
                          },
                          "idEnterprisesAdmin": {
                            "type": "array",
                            "items": {
                              "type": "string",
                              "pattern": "^[0-9a-fA-F]{24}$",
                              "example": "5abbe4b7ddc1b351ef961414"
                            }
                          },
                          "limits": {
                            "type": "object",
                            "properties": {
                              "status": {
                                "type": "string",
                                "enum": [
                                  "ok",
                                  "warning"
                                ]
                              },
                              "disableAt": {
                                "type": "number",
                                "example": 36000
                              },
                              "warnAt": {
                                "type": "number",
                                "example": 32400
                              }
                            }
                          },
                          "loginTypes": {
                            "type": "array",
                            "items": {
                              "type": "string",
                              "enum": [
                                "password",
                                "saml"
                              ],
                              "example": "password"
                            }
                          },
                          "marketingOptIn": {
                            "type": "object",
                            "properties": {
                              "optedIn": {
                                "type": "boolean",
                                "example": false
                              },
                              "date": {
                                "type": "string",
                                "format": "date",
                                "example": "2018-04-26T17:03:25.155Z"
                              }
                            }
                          },
                          "messagesDismissed": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string",
                                "example": "ad-security-features"
                              },
                              "count": {
                                "type": "string",
                                "example": 4
                              },
                              "lastDismissed": {
                                "type": "string",
                                "format": "date",
                                "example": "2019-03-11T20:19:46.809Z"
                              },
                              "_id": {
                                "type": "string",
                                "pattern": "^[0-9a-fA-F]{24}$",
                                "example": "5995d44573d197eada632a32"
                              }
                            }
                          },
                          "oneTimeMessagesDismissed": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "prefs": {
                            "type": "object",
                            "properties": {
                              "timezoneInfo": {
                                "type": "object",
                                "properties": {
                                  "offsetCurrent": {
                                    "type": "integer",
                                    "example": 360
                                  },
                                  "timezoneCurrent": {
                                    "type": "string",
                                    "example": "CST"
                                  },
                                  "offsetNext": {
                                    "type": "integer",
                                    "example": 300
                                  },
                                  "dateNext": {
                                    "type": "string",
                                    "format": "date",
                                    "example": "2020-03-08T08:00:00.000Z"
                                  },
                                  "timezoneNext": {
                                    "type": "string",
                                    "example": "CDT"
                                  }
                                }
                              },
                              "privacy": {
                                "type": "object",
                                "properties": {
                                  "fullName": {
                                    "type": "string",
                                    "enum": [
                                      "public",
                                      "private",
                                      "collaborator"
                                    ],
                                    "example": "public"
                                  },
                                  "avatar": {
                                    "type": "string",
                                    "enum": [
                                      "public",
                                      "private",
                                      "collaborator"
                                    ],
                                    "example": "public"
                                  }
                                }
                              },
                              "sendSummaries": {
                                "type": "boolean",
                                "example": true
                              },
                              "minutesBetweenSummaries": {
                                "type": "integer",
                                "example": 60
                              },
                              "minutesBeforeDeadlineToNotify": {
                                "type": "integer",
                                "example": 1440
                              },
                              "colorBlind": {
                                "type": "boolean",
                                "example": true
                              },
                              "locale": {
                                "type": "string",
                                "example": "en-AU"
                              },
                              "timezone": {
                                "type": "string",
                                "example": "America/Chicago"
                              },
                              "twoFactor": {
                                "type": "object",
                                "properties": {
                                  "enabled": {
                                    "type": "boolean",
                                    "example": true
                                  },
                                  "needsNewBackups": {
                                    "type": "boolean",
                                    "example": false
                                  }
                                }
                              }
                            }
                          },
                          "trophies": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "uploadedAvatarHash": {
                            "type": "string",
                            "example": "dac3ad49ff117829dd63a79bb2ea3426"
                          },
                          "uploadedAvatarUrl": {
                            "type": "string",
                            "format": "url",
                            "example": "https://trello-avatars.s3.amazonaws.com/dac3ad49ff117829dd63a79bb2ea3426"
                          },
                          "premiumFeatures": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "isAaMastered": {
                            "type": "boolean",
                            "example": false
                          },
                          "ixUpdate": {
                            "type": "number",
                            "example": "48427"
                          },
                          "idBoardsPinned": {
                            "type": "array",
                            "nullable": true,
                            "items": {
                              "type": "string",
                              "pattern": "^[0-9a-fA-F]{24}$",
                              "example": "5abbe4b7ddc1b351ef961414"
                            }
                          }
                        }
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/members/{id}/boardBackgrounds": {
      "get": {
        "tags": [
          "Membros"
        ],
        "summary": "Get Member's custom Board backgrounds",
        "description": "Get a member's custom board backgrounds",
        "operationId": "get-members-id-boardbackgrounds",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID or username of the member",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[0-9a-fA-F]{24}$",
              "example": "5abbe4b7ddc1b351ef961414"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "One of: `all`, `custom`, `default`, `none`, `premium`",
            "required": false,
            "schema": {
              "enum": [
                "all",
                "custom",
                "default",
                "none",
                "premium"
              ],
              "type": "string",
              "default": "all"
            }
          }
        ],
        "deprecated": false,
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "oneOf": [
                      {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "pattern": "^[0-9a-fA-F]{24}$",
                            "example": "5abbe4b7ddc1b351ef961414"
                          }
                        }
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Membros"
        ],
        "summary": "Upload new boardBackground for Member",
        "description": "Upload a new boardBackground",
        "operationId": "post-members-id-boardbackgrounds-1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID or username of the member",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[0-9a-fA-F]{24}$",
              "example": "5abbe4b7ddc1b351ef961414"
            }
          },
          {
            "name": "file",
            "in": "query",
            "description": "",
            "required": true,
            "schema": {
              "type": "string",
              "format": "binary"
            }
          }
        ],
        "deprecated": false,
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "oneOf": [
                      {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "pattern": "^[0-9a-fA-F]{24}$",
                            "example": "5abbe4b7ddc1b351ef961414"
                          }
                        }
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/members/{id}/boardBackgrounds/{idBackground}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "description": "The ID or username of the member",
          "required": true,
          "schema": {
            "type": "string",
            "pattern": "^[0-9a-fA-F]{24}$",
            "example": "5abbe4b7ddc1b351ef961414"
          }
        },
        {
          "name": "idBackground",
          "in": "path",
          "description": "The ID of the board background",
          "required": true,
          "schema": {
            "type": "string",
            "pattern": "^[0-9a-fA-F]{24}$",
            "example": "5abbe4b7ddc1b351ef961414"
          }
        }
      ],
      "get": {
        "tags": [
          "Membros"
        ],
        "summary": "Get a boardBackground of a Member",
        "description": "Get a member's board background",
        "operationId": "get-members-id-boardbackgrounds-idbackground",
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "description": "`all` or a comma-separated list of: `brightness`, `fullSizeUrl`, `scaled`, `tile`",
            "required": false,
            "schema": {
              "type": "string",
              "default": "all",
              "enum": [
                "all",
                "brightness",
                "fullSizeUrl",
                "scaled",
                "tile"
              ]
            }
          }
        ],
        "deprecated": false,
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "pattern": "^[0-9a-fA-F]{24}$",
                      "example": "5abbe4b7ddc1b351ef961414"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Membros"
        ],
        "summary": "Update a Member's custom Board background",
        "description": "Update a board background",
        "operationId": "put-members-id-boardbackgrounds-idbackground",
        "parameters": [
          {
            "name": "brightness",
            "in": "query",
            "description": "One of: `dark`, `light`, `unknown`",
            "required": false,
            "schema": {
              "enum": [
                "dark",
                "light",
                "unknown"
              ],
              "type": "string"
            }
          },
          {
            "name": "tile",
            "in": "query",
            "description": "Whether the background should be tiled",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "deprecated": false,
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "pattern": "^[0-9a-fA-F]{24}$",
                      "example": "5abbe4b7ddc1b351ef961414"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Membros"
        ],
        "summary": "Delete a Member's custom Board background",
        "description": "Delete a board background",
        "operationId": "delete-members-id-boardbackgrounds-idbackground",
        "deprecated": false,
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/members/{id}/boardStars": {
      "get": {
        "tags": [
          "Membros"
        ],
        "summary": "Get a Member's boardStars",
        "description": "List a member's board stars",
        "operationId": "get-members-id-boardstars",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID or username of the member",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[0-9a-fA-F]{24}$",
              "example": "5abbe4b7ddc1b351ef961414"
            }
          }
        ],
        "deprecated": false,
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "post": {
        "tags": [
          "Membros"
        ],
        "summary": "Create Star for Board",
        "description": "Star a new board on behalf of a Member",
        "operationId": "post-members-id-boardstars",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID or username of the member",
            "required": true,
            "schema": {
              "oneOf": [
                {
                  "type": "string",
                  "pattern": "^[0-9a-fA-F]{24}$",
                  "example": "5abbe4b7ddc1b351ef961414"
                },
                {
                  "type": "string"
                }
              ]
            }
          },
          {
            "name": "idBoard",
            "in": "query",
            "description": "The ID of the board to star",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[0-9a-fA-F]{24}$",
              "example": "5abbe4b7ddc1b351ef961414"
            }
          },
          {
            "name": "pos",
            "in": "query",
            "description": "The position of the newly starred board. `top`, `bottom`, or a positive float.",
            "required": true,
            "schema": {
              "oneOf": [
                {
                  "type": "string",
                  "enum": [
                    "top",
                    "bottom"
                  ]
                },
                {
                  "type": "number",
                  "format": "float",
                  "example": 1293.5
                }
              ]
            }
          }
        ],
        "deprecated": false,
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "pattern": "^[0-9a-fA-F]{24}$",
                        "example": "585063850027165010be15a8"
                      },
                      "idBoard": {
                        "type": "string",
                        "pattern": "^[0-9a-fA-F]{24}$",
                        "example": "57f7df684f1ca8c2877162e0"
                      },
                      "pos": {
                        "type": "integer",
                        "example": 32768
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/members/{id}/boardStars/{idStar}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "description": "The ID or username of the member",
          "required": true,
          "schema": {
            "type": "string",
            "pattern": "^[0-9a-fA-F]{24}$",
            "example": "5abbe4b7ddc1b351ef961414"
          }
        },
        {
          "name": "idStar",
          "in": "path",
          "description": "The ID of the board star",
          "required": true,
          "schema": {
            "type": "string",
            "pattern": "^[0-9a-fA-F]{24}$",
            "example": "5abbe4b7ddc1b351ef961414"
          }
        }
      ],
      "get": {
        "tags": [
          "Membros"
        ],
        "summary": "Get a boardStar of Member",
        "description": "Get a specific boardStar",
        "operationId": "get-members-id-boardstars-idstar",
        "deprecated": false,
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "pattern": "^[0-9a-fA-F]{24}$",
                      "example": "585063850027165010be15a8"
                    },
                    "idBoard": {
                      "type": "string",
                      "pattern": "^[0-9a-fA-F]{24}$",
                      "example": "57f7df684f1ca8c2877162e0"
                    },
                    "pos": {
                      "type": "integer",
                      "example": 32768
                    }
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Membros"
        ],
        "summary": "Update the position of a boardStar of Member",
        "description": "Update the position of a starred board",
        "operationId": "put-members-id-boardstars-idstar",
        "parameters": [
          {
            "name": "pos",
            "in": "query",
            "description": "New position for the starred board. `top`, `bottom`, or a positive float.",
            "required": false,
            "schema": {
              "oneOf": [
                {
                  "type": "string",
                  "enum": [
                    "top",
                    "bottom"
                  ]
                },
                {
                  "type": "number",
                  "format": "float",
                  "example": 1293.5
                }
              ]
            }
          }
        ],
        "deprecated": false,
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "delete": {
        "tags": [
          "Membros"
        ],
        "summary": "Delete Star for Board",
        "description": "Unstar a board",
        "operationId": "delete-members-id-boardstars-idstar",
        "deprecated": false,
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/members/{id}/boards": {
      "get": {
        "tags": [
          "Membros"
        ],
        "summary": "Get Boards that Member belongs to",
        "description": "Lists the boards that the user is a member of.",
        "operationId": "get-members-id-boards",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID or username of the member",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[0-9a-fA-F]{24}$",
              "example": "5abbe4b7ddc1b351ef961414"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "`all` or a comma-separated list of: `closed`, `members`, `open`, `organization`, `public`, `starred`",
            "required": false,
            "schema": {
              "enum": [
                "all",
                "closed",
                "members",
                "open",
                "organization",
                "public",
                "starred"
              ],
              "type": "string",
              "default": "all"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "`all` or a comma-separated list of board [fields](/cloud/trello/guides/rest-api/object-definitions/)",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "id",
                "name",
                "desc",
                "descData",
                "closed",
                "idMemberCreator",
                "idOrganization",
                "pinned",
                "url",
                "shortUrl",
                "prefs",
                "labelNames",
                "starred",
                "limits",
                "memberships",
                "enterpriseOwned"
              ],
              "default": "all"
            }
          },
          {
            "name": "lists",
            "in": "query",
[...]
